<% if current_user.has_role? :admin %>

  <%= form_for @evaluation, :html => { :class => "form-horizontal evaluation" } do |f| %>

    <% if @evaluation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@evaluation.errors.count, "error") %> 让本次评估无法完成：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @evaluation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :practice_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :practice_id, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:practice_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :material, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :material, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:material]) %>
  </div>
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:question]) %>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:answer]) %>
  </div>
  <div class="control-group">
    <%= f.label :your_answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :your_answer, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:your_answer]) %>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:score]) %>
  </div>
  <div class="control-group">
    <%= f.label :practice_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :practice_score, :class => 'form-control' %>
    </div>
    <%= error_span(@evaluation[:practice_score]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            evaluations_path, :class => 'btn btn-default' %>

  <% end %>

<% else %>

  <%= form_for @evaluation, :html => { :class => "form-horizontal evaluation" } do |f| %>

    <% if @evaluation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@evaluation.errors.count, "error") %> 让本次评估无法完成：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @evaluation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>


    <p class="paragraph"><strong>标题：</strong><%= @evaluation.title || @practice.title %>（<strong>分值：</strong><%= @evaluation.practice_score || @practice.score %>）</p> 
    <p class="paragraph"><strong>问题：</strong></p>
    <div class="well well-sm paragraph">
      <%= sanitize(@evaluation.question || @practice.question, tags: %w(div a acronym b strong i em li ul ol h1 h2 h3 h4 h5 h6 hr blockquote br cite sub sup ins p ruby rt rp table tr td span u ), attributes: %w(href class style)) %>
    </div>
    <% unless @evaluation.material.blank? || @practice.material.blank? %>
    <p class="paragraph"><strong>材料：</strong></p>
    <div class="well well-sm paragraph">
      <%= sanitize( @evaluation.material || @practice.material, tags: %w(div a acronym b strong i em li ul ol h1 h2 h3 h4 h5 h6 hr blockquote br cite sub sup ins p ruby rt rp table tr td span u ), attributes: %w(href class style)) %>
    </div>
    <% end %>
    <% if @practice.picture_q_file_name %>
      <p><br></p>
      <%= image_tag @practice.picture_q, class: "img-responsive center-block" %>
      <p><br></p>
    <% end %>
  <div class="control-group">
    <%= f.label "我的答案", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :your_answer, :class => 'form-control', rows: '2' %>
      <%= cktext_area :evaluation, :your_answer, :rows => 10, tabindex: 14 %>
    </div>
    <%= error_span(@evaluation[:your_answer]) %>
  </div>

  <%# if @practice.picture_a_file_name %>
  <%#<div class="control-group">%>
    <%# f.label "图片式回答", :class => 'control-label' %>
    <%#<div class="controls">%>
      <%# f.file_field :picture_ya, :class => 'form-control' %>
    <%#</div>%>
    <%# error_span(@evaluation[:picture_ya]) %>
  <%#</div>%>
  <%# end %>

  <%#<p></p>%>

<%#<div class="row">%>
  <%# if @evaluation.picture_ya_file_name %>
  <%#<div class="col-sm-6 col-md-6">%>
    <%#<div class="thumbnail">%>
      <%# image_tag @evaluation.picture_ya.url, size: "300x300" %>
      <%#<div class="caption">%>
				<%#<p>%>
          <%# link_to "删除图片", evaluation_delete_picture_ya_path(@evaluation), class: "btn btn-default" %>
				<%#</p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <%# end %>

  <%#<div class="control-group">%>
    <%# f.label :practice_score, :class => 'control-label' %>
    <%#<div class="controls">%>
      <%= f.hidden_field :practice_score, :class => 'form-control', rows: '2' %>
    <%#</div>%>
    <%# error_span(@evaluation[:practice_score]) %>
  <%#</div>%>

  <hr>

  <%= f.submit "提交答案", :class => 'btn btn-primary' %>

  <% end %>

<% end %>
