<% if current_user.has_role? :admin %>

<%= form_for @team, html: { class: "form-horizontal team" } do |f| %>

    <% if @team.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@team.errors.count, "error") %> 使得这个 team 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>
    <%= error_span(@team[:user_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :sectionalization_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :sectionalization_id, class: 'form-control' %>
    </div>
    <%= error_span(@team[:sectionalization_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= error_span(@team[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, class: 'form-control' %>
    </div>
    <%= error_span(@team[:deleted_at]) %>
  </div>


  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            teams_path, class: 'btn btn-default' %>

<% end %>

<% else %>

<%= form_for @team, html: { class: "form-horizontal team" } do |f| %>

    <% if @team.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@team.errors.count, "error") %> 使得这个 team 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= error_span(@team[:name]) %>
  </div>


  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            teams_path, class: 'btn btn-default' %>

<% end %>

<% end %>
