<%- model_class = Roadmap -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), lesson_url(session[:lesson_id]), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>请为标准确定一个起止点</h3>
</div>
<div class="well">
<p><strong>课程标题：</strong><%= @lesson.title %></p>
<p><strong>标准名称：</strong><%= @roadmap.name %></p>
</div>

<%= form_tag "/roadmaps/compare_with_roadmap", class: 'form-horizontal' do %>

  <div class="form-group">
    <%= label_tag "标准起点", nil, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= select_tag :pace_begin_id, options_for_select(Pace.where(roadmap_id: @roadmap.id).order(:serial).collect{ |pace| [pace.serial.to_s + " - " + pace.lesson.title, pace.serial]}), {prompt: "请选择一个比较起点", class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag "标准终点", nil, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= select_tag :pace_end_id, options_for_select(Pace.where(roadmap_id: @roadmap.id).order(:serial).collect{ |pace| [pace.serial.to_s + " - " + pace.lesson.title, pace.serial]}), {prompt: "请选择一个比较终点", class: 'form-control'} %>
    </div>
  </div>

  <%= submit_tag "比较", :class => 'btn btn-primary col-sm-offset-2' %>

<% end %>
