<% unless current_user.has_role? :admin %>

<%= form_for @cardbox, :html => { :class => "form-horizontal cardbox" } do |f| %>

    <% if @cardbox.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cardbox.errors.count, "error") %> 使得这个 cardbox 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cardbox.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%# f.label :lesson_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.hidden_field :lesson_id, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:lesson_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :share, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <label class='radio-inline' %>
      <%= f.radio_button :share, true %>
      共享
      </label>
      <label class='radio-inline' %>
      <%= f.radio_button :share, false %>
      不共享
      </label>
    </div>
    <%= error_span(@cardbox[:share]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cardboxes_path, :class => 'btn btn-default' %>

<% end %>

<%# 下面是管理员界面%>
<% else %>

<%= form_for @cardbox, :html => { :class => "form-horizontal cardbox" } do |f| %>

    <% if @cardbox.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cardbox.errors.count, "error") %> 使得这个 cardbox 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cardbox.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :lesson_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :lesson_id, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:lesson_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:user_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :share, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :share, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:share]) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, :class => 'form-control' %>
    </div>
    <%= error_span(@cardbox[:deleted_at]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cardboxes_path, :class => 'btn btn-default' %>

<% end %>

<% end %>
