<% if current_user.has_role? :admin %>

<%= form_for @observation, :html => { :class => "form-horizontal observation" } do |f| %>

    <% if @observation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@observation.errors.count, "error") %> 使得这个 observation 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @observation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :student, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :student, :class => 'form-control' %>
    </div>
    <%= f.error_span(:student) %>
  </div>
  <div class="form-group">
    <%= f.label :point, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :point, :class => 'form-control' %>
    </div>
    <%= f.error_span(:point) %>
  </div>
  <div class="form-group">
    <%= f.label :mark, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :mark, :class => 'form-control' %>
    </div>
    <%= f.error_span(:mark) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, :class => 'form-control' %>
    </div>
    <%= f.error_span(:deleted_at) %>
  </div>
  <div class="form-group">
    <%= f.label :homework_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :homework_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:homework_id) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            observations_path, :class => 'btn btn-default' %>

<% end %>

<% else %>

<%= form_for @observation, :html => { :class => "form-horizontal observation" } do |f| %>

    <% if @observation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@observation.errors.count, "error") %> 使得这个 observation 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @observation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% unless @observation.student %>
  <div class="form-group">
    <%= f.label "学生", :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <% @members = Member.where(classroom_id: @homework.classroom_id) %>
      <%= f.select :student, @members.collect{|item| [item.serial.to_i.to_s + User.find(item.student).name, User.find(item.student).id]}, {prompt: "可以选择一个学生"}, {class: 'form-control'}  %>
      <%# f.text_field :student, :class => 'form-control' %>
    </div>
    <%= f.error_span(:student) %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label "得分", :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :point, :class => 'form-control' %>
    </div>
    <%= f.error_span(:point) %>
  </div>
  <div class="form-group">
    <%= f.label "详细评语", :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :mark, :class => 'form-control' %>
    </div>
    <%= f.error_span(:mark) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            observations_path, :class => 'btn btn-default' %>

<% end %>

<% end %>
