<% unless current_user.has_role? :admin %>

<%- model_class = Textbook -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', :default => t("helpers.links.new")), new_textbook_path, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
      <%= link_to t('.back', :default => t("helpers.links.back")), booklists_path, class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: '进入我的书单' %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), "/", class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.site")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>图书馆</h3>
</div>

<div class="btn-group" role="group">
  <a class="btn btn-default" href="#preschool" role="button">学前</a>
  <a class="btn btn-default" href="#primary" role="button">小学</a>
  <a class="btn btn-default" href="#junior" role="button">初中</a>
  <a class="btn btn-default" href="#senior" role="button">高中</a>
  <a class="btn btn-default" href="#professional" role="button">专业</a>
</div>
<hr>

<% [@textbooks_0, @textbooks_301, @textbooks_307, @textbooks_310, @textbooks_4].each_with_index do |textbooks, ind| %>
<% case ind %>
<% when 0 %>
<div id="preschool">
<% when 1 %>
<div id="primary">
<% when 2 %>
<div id="junior">
<% when 3 %>
<div id="senior">
<% when 4 %>
<div id="professional">
<% end %>
<% textbooks.to_a.each_slice(6).to_a.each do |tbs| %>
<div class="row">
  <div class="row">
  <% tbs.each do |textbook| %>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <div class="jumbotron" style="background-color: #f7eed6; padding: 20px;">
        <p style="font-size: 10px; line-height: 14px;"><%= textbook.serial.round(2) %></p>
        <p style="font-size: 16px; line-height: 32px;">
          <%# link_to textbook.title, textbook_path(textbook), class: "btn-link" %>
          <% unless textbook.description.blank? %>
            <%= link_to textbook.title, textbook_path(textbook), class: "btn-link", "data-toggle": "tooltip", "data-placement": "bottom", "title": textbook.description %>
          <% else %>
            <%= link_to textbook.title, textbook_path(textbook), class: "btn-link" %>
          <% end %>
        </p>
	      <% if current_user.id == textbook.user_id  %>
        <p style="font-size: 12px; line-height: 18px;">

            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_textbook_path(textbook), :class => 'btn btn-default btn-xs', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              textbook_path(textbook),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		          :class => 'btn btn-xs btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
        </p>
	      <% end %>
      </div> 
    </div>
  <% end %>
  </div>
</div>
<% end %>
<div>
<% end %>

<%#<hr>%>
<%#<table class="table table-striped">%>
  <%#<thead>%>
    <%#<tr>%>
      <%#<th>序号</th>%>
      <%#<th>标题</th>%>
      <%#<th>描述</th>%>
      <%#<th>编者</th>%>
      <%#<th>可执行的操作</th>%>
    <%#</tr>%>
  <%#</thead>%>
  <%#<tbody>%>
    <%# @textbooks.each do |textbook| %>
      <%# textbook_user = User.find(textbook.user_id) %>
      <%#<tr>%>
        <%#<td>%>
          <%# textbook.serial.round(2) %>
        <%#</td>%>
        <%#<td>%>
          <%# link_to textbook.title, textbook_path(textbook), class: "btn-link" %>
        <%#</td>%>
        <%#<td>%>
          <%# textbook.description %>
        <%#</td>%>
        <%#<td>%>
          <%# textbook_user.name %>
        <%#</td>%>
        <%#<td>%>
	  <%# if current_user.id == textbook_user.id  %>
          <%# link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_textbook_path(textbook), :class => 'btn btn-default btn-xs', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
          <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                      textbook_path(textbook),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		      :class => 'btn btn-xs btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
	  <%# end %>
        <%#</td>%>
      <%#</tr>%>
    <%# end %>
  <%#</tbody>%>
<%#</table>%>

<% else %>

<%- model_class = Textbook -%>
<div class="page-header">
  <h3>所有的教科书</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:serial) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @textbooks.each do |textbook| %>
      <tr>
        <td><%= link_to textbook.id, textbook_path(textbook) %></td>
        <td><%= textbook.title %></td>
        <td><%= textbook.description %></td>
        <td><%= textbook.serial %></td>
        <td><%= textbook.user_id %></td>
        <td><%=l textbook.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_textbook_path(textbook), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      textbook_path(textbook),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
