<%- model_class = Textbook -%>
<div class="page-header">
  <h1>所有的教科书</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>标题</th>
      <th>描述</th>
      <th>编者</th>
      <th>可执行的操作</th>
    </tr>
  </thead>
  <tbody>
    <% @textbooks.each do |textbook| %>
      <% textbook_user = User.find(textbook.user_id) %>
      <tr>
        <td><%= textbook.serial %></td>
        <td><%= textbook.title %></td>
        <td><%= textbook.description %></td>
        <td><%= textbook_user.name %></td>
        <td>
          <%= link_to "翻翻这本书", textbook_path(textbook), class: "btn btn-xs btn-success" %>
	  <% if current_user.id == textbook_user.id  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_textbook_path(textbook), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      textbook_path(textbook),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		      :class => 'btn btn-xs btn-default' %>
	  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.has_role? :admin %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:serial) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @textbooks.each do |textbook| %>
      <tr>
        <td><%= link_to textbook.id, textbook_path(textbook) %></td>
        <td><%= textbook.title %></td>
        <td><%= textbook.description %></td>
        <td><%= textbook.serial %></td>
        <td><%= textbook.user_id %></td>
        <td><%=l textbook.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_textbook_path(textbook), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      textbook_path(textbook),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to "我也要编写一本教科书", new_textbook_path, :class => 'btn btn-primary' %>
<hr>
