<% if current_user.has_role? :admin %>
<%- model_class = Classroom -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @classroom.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @classroom.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end) %>:</strong></dt>
  <dd><%= @classroom.end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deleted_at) %>:</strong></dt>
  <dd><%= @classroom.deleted_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              classrooms_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_classroom_path(@classroom), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              classroom_path(@classroom),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% else %>

<%- model_class = Classroom -%>
<%= link_to "返回教学楼", classrooms_path, :class => 'btn btn-default pull-right'  %>
<% if current_user.id == @classroom.user_id %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_classroom_path(@classroom), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              classroom_path(@classroom),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-default' %>
<% end %>
<div class="page-header">
  <h3>
    <%= @classroom.name %>
  <small>
  <strong>创建人:</strong>
  <%= @classroom.user.name %>
  <strong>开班时间:</strong>
  <%= @classroom.created_at.strftime("%F") %>
  <strong>是否结束:</strong>
  <% if @classroom.end == true %>
    是
  <% else %>
    否
  <% end %>
</small>
  </h3>
<br>
<%= link_to "教师团队", teachers_url, class: "btn btn-xs btn-default" %>
<%= link_to "学生团队", members_url, class: "btn btn-xs btn-default" %>
<%= link_to "班干团队", cadres_url, class: "btn btn-xs btn-default" %>
</div>
  <div class="well"> 
  <% if @classroom.members.find_by(student: current_user.id) %>
    <%= current_user.name %> 同学，<em>欢迎您回来！</em>
  <% elsif @classroom.teachers.find_by(mentor: current_user.id) %>
    <%= current_user.name %> 老师，<em>欢迎您回来！</em>
    <% else %>
    <%= current_user.name %>，<em>欢迎您参观！</em>
  <% end %>
  </div>
<div>
  <% if @member %>
    <%= link_to "我的作业", member_path(@member), class: "btn btn-default" %>
  <% elsif @teacher %>
    <%= link_to "开始办公", teacher_path(@teacher), class: "btn btn-default" %>
  <% else %>
  <% end %>
  <% if @cadre %>
    <%= link_to "班级管理", cadre_path(@cadre), class: "btn btn-default" %>
  <% end %>
<%= link_to "课堂学习", discussions_url, class: "btn btn-default" %>
</div>
<hr>
<hr>

<% end %>
