<div class="page-header">
<h2>编辑关键信息</h2>
<%= link_to "返回个人主页", me_summary_path, class: 'btn btn-success' %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:  "form-horizontal user"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label "电子邮箱地址", :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <%= f.error_span(:email) %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>正在等待 <%= resource.unconfirmed_email %> 的确认……</div>
  <% end %>

  <div class="control-group">
    <%= f.label "姓名", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= f.error_span(:name) %>
  </div>

  <div class="control-group">
    <%= f.label "密码", class: 'control-label' %> <i>(如果不想更改则留空白)</i><br />
    <div class="controls">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <%= f.error_span(:name) %>
  </div>

  <div class="control-group">
    <%= f.label "确认密码", class: 'control-label' %><br />
    <div class="controls">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    <%= f.error_span(:name) %>
  </div>

  <div class="control-group">
    <%= f.label '原有密码', class: 'control-label' %> <i>(输入旧密码来确认更改)</i><br />
    <div class="controls">
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
    <%= f.error_span(:name) %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit "更改", class: 'btn btn-primary' %>
  </div>
<% end %>

  <hr>
  <hr>
<h3>销毁账户</h3>

<%= button_to "不开心？删除我的所有数据（无法恢复）", registration_path(resource_name), data: { confirm: "您确定要删除吗？" }, method: :delete, class: 'btn btn-xs btn-danger' %>

  <hr>
