<% if current_user.has_role? :admin %>

<%= form_for @discussion, :html => { :class => "form-horizontal discussion" } do |f| %>

    <% if @discussion.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @discussion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :classroom_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :classroom_id, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:classroom_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :textbook_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :textbook_id, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:textbook_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :lesson_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lesson_id, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:lesson_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :teaching_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :teaching_id, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:teaching_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:end]) %>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_at, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:end_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :deleted_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :deleted_at, :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:deleted_at]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            discussions_path, :class => 'btn btn-default' %>

<% end %>

<% else %>

<%= form_for @discussion, :html => { :class => "form-horizontal discussion" } do |f| %>

    <% if @discussion.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@discussion.errors.count, "error") %> 让这个集体学习无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @discussion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "班级", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :classroom_id, Classroom.where(end: false).collect{|classroom| [classroom.name, classroom.id]}, prompt: "请选择一个班级", :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:classroom_id]) %>
  </div>
  <div class="control-group">
    <%= f.label "课本", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :textbook_id, Textbook.all.collect{|textbook| [textbook.title, textbook.id]}, prompt:"请选择一个课本", :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:textbook_id]) %>
  </div>
  <% if @discussion.textbook %>
  <div class="control-group">
    <%= f.label "课文", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :lesson_id, @discussion.textbook.catalogs.order("serial").collect{|catalog| [catalog.serial.to_i.to_s + "  " + catalog.lesson.title, catalog.lesson.id]}, prompt:"请选择一个课文", :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:lesson_id]) %>
  </div>
  <% if @discussion.lesson_id %>
  <div class="control-group">
    <%= f.label "教学设计", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :teaching_id, Teaching.where(lesson_id: @discussion.lesson_id).collect{|teaching| [teaching.title, teaching.id]}, prompt:"请选择一个教学设计", :class => 'form-control' %>
    </div>
    <%= error_span(@discussion[:teaching_id]) %>
  </div>
  <% end %>
<% end %>
  <hr>

  <%= f.submit "启动活动", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            discussions_path, :class => 'btn btn-default' %>

<% end %>

<% end %>
