<% if current_user.has_role? :admin %>

<%- model_class = Discussion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:classroom_id) %></th>
      <th><%= model_class.human_attribute_name(:textbook_id) %></th>
      <th><%= model_class.human_attribute_name(:lesson_id) %></th>
      <th><%= model_class.human_attribute_name(:teaching_id) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.id, discussion_path(discussion) %></td>
        <td><%= discussion.user_id %></td>
        <td><%= discussion.classroom_id %></td>
        <td><%= discussion.textbook_id %></td>
        <td><%= discussion.lesson_id %></td>
        <td><%= discussion.teaching_id %></td>
        <td><%= discussion.end %></td>
        <td><%= discussion.end_at %></td>
        <td><%= discussion.deleted_at %></td>
        <td><%=l discussion.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_discussion_path(discussion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      discussion_path(discussion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_discussion_path,
            :class => 'btn btn-primary' %>

<% else %>

<%- model_class = Discussion -%>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <% if Teacher.find_by(classroom_id: session[:classroom_id], mentor: current_user.id) %>
      <%= link_to t('.new', :default => t("helpers.links.new")), new_discussion_path, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
      <% end %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), classroom_url(@classroom), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.classroom")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>



<div class="page-header">
  <h3><%= @classroom.name %> 的课堂</h3>
</div>
<% if @discussions.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>主讲</th>
      <th>课程</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= discussion.user.name %></td>
        <td><%= link_to discussion.lesson.title, discussion_path(discussion) %></td>
        <td>
          <% if current_user.id == discussion.user_id %>
          <%= link_to "结", discussion_end_discussion_path(discussion), :method => 'delete', :data => { :confirm => t('.confirm', :default => "您确定要结束本课程吗？") }, class: 'btn btn-default btn-xs', "data-toggle": "tooltip", "data-placement": "bottom", title: "结束本次授课"   %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      discussion_path(discussion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="well">暂时没有课堂可以进入……</div>
<% end %>

<% if @not_ready_discussions.first %>
<hr>
<h4>即将要开的课</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>主持人</th>
      <th>课程</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @not_ready_discussions.each do |discussion| %>
      <tr>
        <td><%= discussion.user.name %></td>
        <td><%= discussion.lesson.title %></td>
        <td>
          <% if current_user.id == discussion.user_id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_discussion_path(discussion), :class => 'btn btn-default btn-xs', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      discussion_path(discussion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% end %>
