<% if current_user.has_role? :admin %>

<%- model_class = Discussion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @discussion.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:classroom_id) %>:</strong></dt>
  <dd><%= @discussion.classroom_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:textbook_id) %>:</strong></dt>
  <dd><%= @discussion.textbook_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lesson_id) %>:</strong></dt>
  <dd><%= @discussion.lesson_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:teaching_id) %>:</strong></dt>
  <dd><%= @discussion.teaching_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end) %>:</strong></dt>
  <dd><%= @discussion.end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
  <dd><%= @discussion.end_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deleted_at) %>:</strong></dt>
  <dd><%= @discussion.deleted_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              discussions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_discussion_path(@discussion), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              discussion_path(@discussion),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% else %>

<hr>
<%- model_class = Discussion -%>
<p>课堂 > <strong>教师：</strong><%= @discussion.user.name %> ;  <strong>班级：</strong><%= @discussion.classroom.name %> </p>
<p>学习 > <strong>课本：</strong> <%= @discussion.textbook.title %> ; <strong>课程：</strong> <%= @discussion.lesson.title %> ; <strong>计划：</strong> <%= @discussion.teaching.title %> </p>
<hr>
<%= link_to "进入学习", lesson_path(@discussion.lesson_id), class: 'btn btn-primary' %>
<%= link_to '选择其他课堂', discussions_path, :class => 'btn btn-default'  %>
<%= link_to '退出课堂', quit_discussion_path, :class => 'btn btn-default'  %>
<% if current_user.id == @discussion.user_id %>
  <%= link_to "结束本次授课", discussion_end_discussion_path(@discussion), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-default' %>
<% end %>
<hr>

  <h3>进度看板：</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>学号</th>
      <th>名字</th>
      <th>报到时间</th>
      <th>预习</th>
      <th>学习</th>
      <th>总分</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% all_getted_point = 0 %>
    <% @member = @discussion.classroom.members.order(:serial) %>
    <% @member.each do |member| %>
    <% @user = User.find(member.student) %>
      <tr>
        <td><%= member.serial.to_i %></td>
        <td><%= @user.name %></td>
	<% # 是否进入界面 %>
        <% end_time = @discussion.end_at || Time.now %>
	<% if regist = History.where(user_id: @user.id, modelname: 'lesson', entryid: @discussion.lesson_id, created_at: @discussion.created_at..end_time).take %>
	  <td><%= regist.created_at.strftime("%F %T") %></td>
        <% else %>
          <td> -- </td>
        <% end %>
	<% # 预习得分 %>
	<%  pre_point = Justice.where(evaluation_user_id: @user.id, practice_id: @discussion.lesson.practices, created_at: @discussion.created_at.prev_month...@discussion.created_at).group(:practice_id).average(:score).values.inject(:+) %>
        <% pre_point  ||= 0 %>
	<td><%= pre_point.round(2) %> 分</td>
	<% # 学习得分 %>
	<%  post_point = Justice.where(evaluation_user_id: @user.id, practice_id: @discussion.lesson.practices, created_at: @discussion.created_at...DateTime.now).group(:practice_id).average(:score).values.inject(:+) %>
        <% post_point  ||= 0 %>
	<td><%= post_point.round(2) %> 分</td>
	<% # 总得分 %>
	<% lesson_point = pre_point.to_f + post_point.to_f %>
	<td><%= lesson_point.round(2) %> 分</td>
	<% all_getted_point += lesson_point %>
        <td>
          <%= link_to "查看详情", member_path(member), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<h4>成绩统计</h4>
<p><b>习题总分：</b><%= all_point = @discussion.lesson.practices.sum(:score) %>； 
  <b>班级总得分：</b><%= all_getted_point  %>；
  <% all_getted_point_rate = (all_getted_point / @member.count) / all_point * 100 %>
  <b>班级平均得分率：</b><%= all_getted_point_rate.to_s(:percentage, precision: 2) %>
</p>
<hr>
<% end %>
