<%= form_for @comment, html: { class: "form-horizontal comment" } do |f| %>

    <% if @comment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@comment.errors.count, "error") %> 使得这个 comment 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, class: 'form-control' %>
    </div>
    <%= f.error_span(:deleted_at) %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :content, class: 'form-control' %>
    </div>
    <%= f.error_span(:content) %>
  </div>
  <div class="form-group">
    <%= f.label :lesson_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :lesson_id, class: 'form-control' %>
    </div>
    <%= f.error_span(:lesson_id) %>
  </div>
  <div class="form-group">
    <%= f.label :sentence_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :sentence_id, class: 'form-control' %>
    </div>
    <%= f.error_span(:sentence_id) %>
  </div>
  <div class="form-group">
    <%= f.label :word_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :word_id, class: 'form-control' %>
    </div>
    <%= f.error_span(:word_id) %>
  </div>


  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            comments_path, class: 'btn btn-default' %>

<% end %>
