<%- model_class = Sentence -%>

<% if current_user.has_role? :admin %>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!--
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%# link_to t('.new', default: t("helpers.links.new")), 
        new_sentence_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
  </div> -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:lesson_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= link_to sentence.id, sentence_path(sentence) %></td>
        <td><%= sentence.lesson_id %></td>
        <td><%= sentence.name %></td>
        <td><%= sentence.deleted_at %></td>
        <td><%= sentence.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
            edit_sentence_path(sentence), class: 'btn btn-default btn-xs',
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
            sentence_path(sentence),
            method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
            class: 'btn btn-xs btn-default', 
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), lesson_url(@lesson), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>《<%= @lesson.title %>》的<%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sentences.each_with_index do |sentence, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to sentence.name, sentence_path(sentence) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @sentences %>

<hr>
<p>其他可用的分析：</p>
<div class="btn-group" role="group">
  <%= link_to "全部", words_report_path(@lesson.words_report), class: 'btn btn-default' %>
  <%= link_to "的字", words_report_show_de1_path(@lesson.words_report), class: 'btn btn-default' %>
  <%= link_to "地字", words_report_show_de2_path(@lesson.words_report), class: 'btn btn-default' %>
  <%= link_to "得字", words_report_show_de3_path(@lesson.words_report), class: 'btn btn-default' %>
  <%= link_to "基本", words_report_show_basic_path(@lesson.words_report), class: 'btn btn-default' %>
</div>

<% end %>
