<% if current_user.has_role? :admin %>

<%- model_class = Complaint -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:picture_file_name) %></th>
      <th><%= model_class.human_attribute_name(:picture_content_type) %></th>
      <th><%= model_class.human_attribute_name(:picture_file_size) %></th>
      <th><%= model_class.human_attribute_name(:picture_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= link_to complaint.id, complaint_path(complaint) %></td>
        <td><%= complaint.user_id %></td>
        <td><%= complaint.url %></td>
        <td><%= complaint.content %></td>
        <td><%= complaint.deleted_at %></td>
        <td><%= complaint.picture_file_name %></td>
        <td><%= complaint.picture_content_type %></td>
        <td><%= complaint.picture_file_size %></td>
        <td><%= complaint.picture_updated_at %></td>
        <td><%=l complaint.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_complaint_path(complaint), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      complaint_path(complaint),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_complaint_path,
            :class => 'btn btn-primary' %>

<% else %>

<%- model_class = Complaint -%>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', :default => t("helpers.links.new")), new_complaint_path, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), "/", class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.site")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>



<div class="page-header">
  <h3>反馈和建议</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= link_to complaint.id, complaint_path(complaint) %></td>
        <td><%= complaint.user.name %></td>
        <td><%= complaint.url %></td>
        <td><%= link_to complaint.content, complaint_path(complaint) %></td>
        <td>
          <% if current_user.id == complaint.user_id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_complaint_path(complaint), :class => 'btn btn-default btn-xs', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      complaint_path(complaint),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
