<%= form_for @tutor, :html => { :class => "form-horizontal tutor" } do |f| %>

    <% if @tutor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@tutor.errors.count, "error") %> 的原因让本辅导无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @tutor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "标题", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control', tabindex: 1 %>
    </div>
    <%= error_span(@tutor[:title]) %>
  </div>

<%#<div class="row">%>
  <%# if @tutor.picture1_file_name %>
  <%#<div class="col-sm-6 col-md-6">%>
    <%#<div class="thumbnail">%>
      <%#= image_tag @tutor.picture1.url, size: "300x300", tabindex: 2 %>
      <%#<div class="caption">%>
	<%#<p>%>
          <%# link_to "删除图片一", tutor_delete_picture1_path(@tutor), class: "btn btn-default" %>
	<%#</p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <%# end %>
  <%# if @tutor.picture2_file_name %>
  <%#<div class="col-sm-6 col-md-6">%>
    <%#<div class="thumbnail">%>
      <%# image_tag @tutor.picture2.url, size: "300x300", tabindex: 3 %>
      <%#<div class="caption">%>
	<%#<p>%>
          <%# link_to "删除图片二", tutor_delete_picture2_path(@tutor), class: "btn btn-default" %>
	<%#</p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <%# end %>
<%#</div>%>

  <%#<div class="control-group">%>
    <%# f.label "图片一", :class => 'control-label' %>
    <%#<div class="controls">%>
      <%# f.file_field :picture1, :class => 'form-control', tabindex: 4 %>
    <%#</div>%>
    <%# error_span(@tutor[:picture1]) %>
  <%#</div>%>


  <%#<div class="control-group">%>
    <%# f.label "图片二", :class => 'control-label' %>
    <%#<div class="controls">%>
      <%# f.file_field :picture2, :class => 'form-control', tabindex: 5 %>
    <%#</div>%>
    <%# error_span(@tutor[:picture2]) %>
  <%#</div>%>


  <div class="control-group">
    <%= f.label "难度", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :difficulty, :class => 'form-control', tabindex: 6 %>
    </div>
    <%= error_span(@tutor[:difficulty]) %>
  </div>

  <div class="control-group">
    <%= f.label "页面", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :page, :class => 'form-control', rows: "10", tabindex: 7 %>
      <%# f.text_area :page, :class => 'tinymce form-control', rows: "10", tabindex: 7   %>
      <%# tinymce %>
      <%= cktext_area :tutor, :page, :rows => 10, tabindex: 7 %>
    </div>
    <%= error_span(@tutor[:page]) %>
  </div>

  <div class="control-group">
    <%= f.label "提示", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :proviso, :class => 'form-control', rows: "1", tabindex: 8 %>
      <%# f.text_area :proviso, :class => 'tinymce form-control', rows: "3", tabindex: 8   %>
      <%= cktext_area :tutor, :proviso, :rows => 10, tabindex: 8 %>
    </div>
    <%= error_span(@tutor[:proviso]) %>
  </div>


  <% if current_user.has_role? :admin %>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@tutor[:user_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :lesson_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lesson_id, :class => 'form-control' %>
    </div>
    <%= error_span(@tutor[:lesson_id]) %>
  </div>

<% end %>

<hr>
  <%= f.submit nil, :class => 'btn btn-primary', tabindex: 10 %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tutors_path, :class => 'btn btn-default', tabindex: 11 %>

<% end %>
<hr>
