<%- model_class = Tutor -%>
<div class="page-header">
  <h1><%= @tutor.title %></h1>
</div>
<div class="paragraph"> <%= sanitize(@tutor.page) %> </div>
<hr>

<% if @previous_tutor != nil %>
    <%= link_to "上一页辅导", tutor_path(@previous_tutor), class: 'btn btn-default' %>
<% end %>
<% if @next_tutor != nil %>
  <%= link_to "下一页辅导", tutor_path(@next_tutor), class: 'btn btn-default' %>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              tutors_path, :class => 'btn btn-default'  %>
<% if current_user.id == @tutor.user_id %>	    
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tutor_path(@tutor), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tutor_path(@tutor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-default' %>
<% end %>
<% if @practice %>
  <%= link_to "进入练习", practice_path(@practice), class: 'btn btn-success' %>
<% else %>
  <%= link_to "创建练习", new_practice_path, class: "btn btn-success" %>
<% end %>
<hr>
<dl class="dl-horizontal">
  <dt>难度:</dt>
  <dd><%= @tutor.difficulty %></dd>
  <dt>创建者:</dt>
  <dd><%= @tutor.user_id %></dd>
  <dt>课程:</dt>
  <dd><%= @tutor.lesson_id %></dd>
</dl>
<hr>
