<% if current_user.has_role? :admin %>

<%- model_class = Tutor -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @tutor.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @tutor.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:difficulty) %>:</strong></dt>
  <dd><%= @tutor.difficulty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:proviso) %>:</strong></dt>
  <dd><%= @tutor.proviso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:page) %>:</strong></dt>
  <dd><%= @tutor.page %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tutors_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tutor_path(@tutor), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tutor_path(@tutor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% else %>

<%- model_class = Tutor -%>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <% unless session[:discussion_id] %>
    <!-- 管理功能 -->
    <div class="btn-group" role="group" arial-label="manage">
      <% if current_user.id == @tutor.user_id  %>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_tutor_path, :class => 'btn btn-default', tabindex: 51, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_tutor_path(@tutor), :class => 'btn btn-default', tabindex: 52, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          tutor_path(@tutor),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-default', tabindex: 53, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
      <% end %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
        tutors_path, :class => 'btn btn-default', tabindex: 54, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.back', :default => [:"helpers.titles.back"], :model => model_class.model_name.human.titleize)  %>
    </div>
  <% end %>
   <!-- 附加功能 -->
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="60" >
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <% if session[:teaching_id] %>
          <li>
          <%= link_to "查看辅导的安排", plans_path, tabindex: 61 %>
          </li>
          <li role="separator" class="divider"></li>
          <% end %>
          <li>
          <% if @tutor.exercises.any? %>
            <%= link_to "随机练习", new_evaluation_path %>
          <% end %>
          </li>
          <% unless session[:discussion_id] %>
          <% if current_user.id == @tutor.user_id  %>
          <li>
            <%= link_to "为辅导添加习题", new_many_exercises_path, tabindex: 62 %>
          </li>
          <li>
            <%= link_to "将本辅导转为习题", tutor_to_practice_path, tabindex: 63 %>
          </li>
          <li>
            <%= link_to "管理辅导的习题", exercises_path, tabindex: 64 %>
          </li>
          <% end %>
          <% end %>
          <% if @tutor.exercises.any? %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "将习题导出到卡片盒", export_exercises_to_cardbox_path %></li>
          <% end %>
      </ul>
    </div>
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <% if @previous_tutor %>
        <%= link_to t('.previous', :default => t("helpers.links.previous")), tutor_path(@previous_tutor), class: 'btn btn-default', tabindex: 80, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.previous', default: t("helpers.titles.previous"), :model => t("activerecord.models.tutor")) %>
      <% end %>
      <% if @next_tutor %>
        <%= link_to t('.next', :default => t("helpers.links.next")), tutor_path(@next_tutor), class: 'btn btn-default', tabindex: 81, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.next', default: t("helpers.titles.next"), :model => t("activerecord.models.tutor")) %>
      <% end %>
        <%= link_to t('.up', :default => t("helpers.links.up")), lesson_url(@lesson), class: 'btn btn-default', tabindex: 82, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', tabindex: 83, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h2>
        <%= @tutor.title %>
        <% if @exercises.any? %>
          <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#exercisezone" aria-expanded="false" aria-controls="exercise zone">
            查看/隐藏 习题
          </button>
        <% end %>
      </h2>
      <div class="text-right"><%= @tutor.page_length %></div>
      <% if @tutor.proviso && !@tutor.proviso.empty?%>
        <div class="well well-sm paragraph"> <%= sanitize(@tutor.proviso) %> </div>
      <% end %>
      <% unless @tutor.page.blank? %>
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="bg-success center-block">
        <p class="text-center">...</p>
      </a>
      <% end %>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <% if @tutor.picture1_file_name %>
          <%= image_tag @tutor.picture1.url, class: "img-responsive center-block"  %>
        <hr>
        <% end %>
        <% if @tutor.picture2_file_name %>
          <%= image_tag @tutor.picture2.url, class: "img-responsive center-block"  %>
        <hr>
        <% end %>
        <div class="paragraph"> <%= sanitize(@tutor.page) %> </div>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="bg-success center-block">
          <p class="text-center">...</p>
        </a>
      </div>
    </div>
  </div>
</div>

<%#<div role="tabpanel">%>
  <%#[> Nav tabs <]%>
  <%#<ul class="nav nav-tabs" role="tablist">%>
    <%#<li role="presentation" class="active"><a href="#question" aria-controls="question" role="tab" data-toggle="tab">思考一下</a></li>%>
    <%#<li role="presentation"><a href="#answer" aria-controls="answer" role="tab" data-toggle="tab">查看辅导</a></li>%>
  <%#</ul>%>
  <%#[> Tab panes <]%>
  <%#<div class="tab-content">%>
    <%#<div role="tabpanel" class="tab-pane active" id="question">%>
      <%#<h1 style="font-size: 32px; line-height: 60px;">%>
        <%#<%= @tutor.title %>
      <%#</h1>%>
      <%# if @tutor.proviso && !@tutor.proviso.empty?%>
        <%#<div class="well paragraph">%>
          <%# sanitize(@tutor.proviso) %>
       <%#</div>%>
      <%# end %>
    <%#</div>%>
    <%#<div role="tabpanel" class="tab-pane" id="answer">%>
      <%#<div class="page-header">%>
        <%#<h4>%>
          <%# @tutor.title %>
        <%#</h4>%>
      <%#</div>%>
      <%# if @tutor.proviso && !@tutor.proviso.empty?%>
        <%#<div class="well paragraph">%>
          <%# sanitize(@tutor.proviso) %>
       <%#</div>%>
      <%# end %>
      <%# if @tutor.picture1_file_name %>
        <%# image_tag @tutor.picture1.url, class: "img-responsive center-block"  %>
      <%# end %>
      <%# if @tutor.picture2_file_name %>
        <%# image_tag @tutor.picture2.url, class: "img-responsive center-block"  %>
      <%# end %>
      <%#<hr>%>
      <%#<div class="paragraph">%>
        <%# sanitize(@tutor.page) %>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <%#<hr>%>
<%#</div> [> tabpanel <]%>

<!-- 下面是配套练习的内容 -->
<% if @exercises.any? %>
<div class="collapse" id="exercisezone">
<table class="table">
  <thead>
    <th>序号</th>
    <th>标题</th>
    <th>问题</th>
    <th>可执行的操作</th>
    </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.serial %></td>
        <td><%= exercise.practice.title %></td>
        <td><%= exercise.practice.question.gsub(/(<(\w|\/)+[^>]*>|\s)/, "") %></td>
        <td><%= link_to "做题", new_evaluation_path(practice_id: exercise.practice_id), class: 'btn btn-xs btn-default' %></td>
      </tr>
    <% end %>
  </tbody> 
</table>
</div>
<% end %>

<!-- 下面是同名的辅导 -->
<% if @other_tutors.length >= 1 %>
<button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#samenametutors" aria-expanded="false" aria-controls="exercise zone">
其他《<%= @tutor.title %>》页面：
</button>
<div class="collapse" id="samenametutors">
<table class="table table-striped">
  <thead>
    <tr>
      <th>难度</th>
      <th>创建者</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @other_tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.difficulty %></td>
        <td><%= tutor.user.name %></td>
        <td>
	        <% unless tutor.id == @tutor.id %>
            <%= link_to "进入辅导页面", tutor_path(tutor), :class => 'btn btn-xs btn-default' %>
	          <% if current_user.id == tutor.user_id %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_tutor_path(tutor), :class => 'btn btn-default btn-xs', tabindex: 52, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), tutor_path(tutor), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-default', tabindex: 53, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
	          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>

<% end %>
