<%= form_for @master, html: { class: "form-horizontal master" } do |f| %>

    <% if @master.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@master.errors.count, "error") %> 使得这个 master 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @master.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.select :user_id, User.all.collect {|u| [u.id.to_s + " " + u.name, u.id]}, {prompt: "请选择一个用户"}, {class: 'form-control'} %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>

  <% unless params[:action] == "new" %>
  <div class="form-group">
    <%= f.label :deleted_at, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, class: 'form-control' %>
    </div>
    <%= f.error_span(:deleted_at) %>
  </div>
  <% end %>


  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            masters_path, class: 'btn btn-default' %>

<% end %>
