<%= form_for @justice, :html => { :class => "form-horizontal justice" } do |f| %>

    <% if @justice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@justice.errors.count, "error") %> prohibited this justice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @justice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if current_user.has_role? :admin %>

  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:score]) %>
  </div>
  <div class="control-group">
    <%= f.label :remark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remark, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:remark]) %>
  </div>
  <div class="control-group">
    <%= f.label :activity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activity, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:activity]) %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :evaluation_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :evaluation_id, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:evaluation_id]) %>
  </div>
 <hr>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            justices_path, :class => 'btn btn-default' %>

<% else %>

    <p><strong>标题：</strong><%=  @evaluation.title %></p>
    <% if @evaluation.practice.picture_q_file_name %>
      <p><br></p>
      <%= image_tag @evaluation.practice.picture_q, class: "img-responsive center-block" %>
      <p><br></p>
    <% end %>
    <% unless  @evaluation.material.blank? %>
      <p><strong>材料：</strong></p>
      <div class="well"><%= sanitize(@evaluation.material.gsub(/(<(\w|\/)+[^>]*>|\s)/, "")) %></div>
    <% end %>
    <p><strong>问题：</strong></p>
    <div class="well well-sm"><%= sanitize(@evaluation.question.gsub(/(<(\w|\/)+[^>]*>|\s)/, "")) %></div>
    <div class="row">
      <div class="col-sm-6">
        <p><strong>学友回答：</strong></p>
        <div class="well"><%= @evaluation.your_answer.gsub(/(<(\w|\/)+[^>]*>|\s)/, "") %></div>
      </div>
      <div class="col-sm-6">
        <p><strong>参考答案：</strong></p>
        <div class="well"><%= @evaluation.answer.gsub(/(<(\w|\/)+[^>]*>|\s)/, "") %></div>
      </div>
    </div>
    <p><strong>题目总分：</strong><%=  @evaluation.practice_score %></p> 

  <div class="row">
    <div class="col-sm-6">
      <% if @evaluation.practice.picture_a_file_name %>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <%= image_tag @evaluation.practice.picture_a.url, size: "300x300" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <% if @evaluation.picture_ya_file_name %>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <%= image_tag @evaluation.picture_ya.url, size: "300x300" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "学友得分", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :score, in: 0..@evaluation.practice_score, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:score]) %>
  </div>
  <div class="control-group">
    <%= f.label "给学友的评语", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remark, :class => 'form-control' %>
    </div>
    <%= error_span(@justice[:remark]) %>
  </div>
 <hr>
  <%= f.submit "提交评分", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), justices_path, class:  'btn btn-default' %>

<% end %>
<% end %>
