<% if current_user.has_role? :admin %>

<%= form_for @paperitem, html: { class: "form-horizontal paperitem" } do |f| %>

    <% if @paperitem.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@paperitem.errors.count, "error") %> 使得这个 paperitem 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @paperitem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:user_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :paper_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :paper_id, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:paper_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :practice_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :practice_id, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:practice_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :score, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :score, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:score]) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:deleted_at]) %>
  </div>


  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            paperitems_path, class: 'btn btn-default' %>

<% end %>

<% else %>

<%= form_for @paperitem, html: { class: "form-horizontal paperitem" } do |f| %>

    <% if @paperitem.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@paperitem.errors.count, "error") %> 使得这个 paperitem 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @paperitem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :practice_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <% if params[:action] == "new" %>
        <%= f.select :practice_id, Practice.all.map{|p|p.lesson.title +   " " + p.title + " " + p.question }, {prompt: "请选择一道练习题"}, { class: 'form-control' } %>
    <% else %>
        <% practice = @paperitem.practice %>
        <%= practice.lesson.title + "__" + practice.id.to_s + "_" + practice.title + "_" + practice.question.gsub(/(<(\w|\/)+[^>]*>|\s)/, "") %>
      <% end %>
    </div>
    <%= error_span(@paperitem[:practice_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :serial, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.number_field :serial, min: 0, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:serial]) %>
  </div>
  <div class="form-group">
    <%= f.label :score, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.number_field :score, min: 0, class: 'form-control' %>
    </div>
    <%= error_span(@paperitem[:score]) %>
  </div>

  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            paperitems_path, class: 'btn btn-default' %>

<% end %>

<% end %>
