<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), show_words_url(), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: "返回字词首页" %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>音序表</h3>
</div>
<div class="paragraph">
<h4>a</h4><p>
<%= link_to "a", phonetic_url(5) %>
<%= link_to "ā", phonetic_url(1) %>
<%= link_to "á", phonetic_url(2) %>
<%= link_to "ǎ", phonetic_url(3) %>
<%= link_to "à", phonetic_url(4) %>
<%= link_to "ai", phonetic_url(10) %>
<%= link_to "āi", phonetic_url(6) %>
<%= link_to "ái", phonetic_url(7) %>
<%= link_to "ǎi", phonetic_url(8) %>
<%= link_to "ài", phonetic_url(9) %>
<%= link_to "an", phonetic_url(15) %>
<%= link_to "ān", phonetic_url(11) %>
<%= link_to "án", phonetic_url(12) %>
<%= link_to "ǎn", phonetic_url(13) %>
<%= link_to "àn", phonetic_url(14) %>
<%= link_to "ang", phonetic_url(20) %>
<%= link_to "āng", phonetic_url(16) %>
<%= link_to "áng", phonetic_url(17) %>
<%= link_to "ǎng", phonetic_url(18) %>
<%= link_to "àng", phonetic_url(19) %>
<%= link_to "ao", phonetic_url(25) %>
<%= link_to "āo", phonetic_url(21) %>
<%= link_to "áo", phonetic_url(22) %>
<%= link_to "ǎo", phonetic_url(23) %>
<%= link_to "ào", phonetic_url(24) %>
</p><h4>b</h4><p>
<%= link_to "ba", phonetic_url(27) %>
<%= link_to "bā", phonetic_url(28) %>
<%= link_to "bá", phonetic_url(29) %>
<%= link_to "bǎ", phonetic_url(30) %>
<%= link_to "bà", phonetic_url(31) %>
<%= link_to "bai", phonetic_url(32) %>
<%= link_to "bāi", phonetic_url(33) %>
<%= link_to "bái", phonetic_url(34) %>
<%= link_to "bǎi", phonetic_url(35) %>
<%= link_to "bài", phonetic_url(36) %>
<%= link_to "ban", phonetic_url(37) %>
<%= link_to "bān", phonetic_url(38) %>
<%= link_to "bán", phonetic_url(39) %>
<%= link_to "bǎn", phonetic_url(40) %>
<%= link_to "bàn", phonetic_url(41) %>
<%= link_to "bang", phonetic_url(42) %>
<%= link_to "bāng", phonetic_url(43) %>
<%= link_to "báng", phonetic_url(44) %>
<%= link_to "bǎng", phonetic_url(45) %>
<%= link_to "bàng", phonetic_url(46) %>
<%= link_to "bao", phonetic_url(47) %>
<%= link_to "bāo", phonetic_url(48) %>
<%= link_to "báo", phonetic_url(49) %>
<%= link_to "bǎo", phonetic_url(50) %>
<%= link_to "bào", phonetic_url(51) %>
<%= link_to "bei", phonetic_url(52) %>
<%= link_to "bēi", phonetic_url(53) %>
<%= link_to "béi", phonetic_url(54) %>
<%= link_to "běi", phonetic_url(55) %>
<%= link_to "bèi", phonetic_url(56) %>
<%= link_to "ben", phonetic_url(57) %>
<%= link_to "bēn", phonetic_url(58) %>
<%= link_to "bén", phonetic_url(59) %>
<%= link_to "běn", phonetic_url(60) %>
<%= link_to "bèn", phonetic_url(61) %>
<%= link_to "beng", phonetic_url(62) %>
<%= link_to "bēng", phonetic_url(63) %>
<%= link_to "béng", phonetic_url(64) %>
<%= link_to "běng", phonetic_url(65) %>
<%= link_to "bèng", phonetic_url(66) %>
<%= link_to "bi", phonetic_url(67) %>
<%= link_to "bī", phonetic_url(68) %>
<%= link_to "bí", phonetic_url(69) %>
<%= link_to "bǐ", phonetic_url(70) %>
<%= link_to "bì", phonetic_url(71) %>
<%= link_to "bian", phonetic_url(72) %>
<%= link_to "biān", phonetic_url(73) %>
<%= link_to "bián", phonetic_url(74) %>
<%= link_to "biǎn", phonetic_url(75) %>
<%= link_to "biàn", phonetic_url(76) %>
<%= link_to "biao", phonetic_url(77) %>
<%= link_to "biāo", phonetic_url(78) %>
<%= link_to "biáo", phonetic_url(79) %>
<%= link_to "biǎo", phonetic_url(80) %>
<%= link_to "biào", phonetic_url(81) %>
<%= link_to "bie", phonetic_url(82) %>
<%= link_to "biē", phonetic_url(83) %>
<%= link_to "bié", phonetic_url(84) %>
<%= link_to "biě", phonetic_url(85) %>
<%= link_to "biè", phonetic_url(86) %>
<%= link_to "bin", phonetic_url(87) %>
<%= link_to "bīn", phonetic_url(88) %>
<%= link_to "bín", phonetic_url(89) %>
<%= link_to "bǐn", phonetic_url(90) %>
<%= link_to "bìn", phonetic_url(91) %>
<%= link_to "bing", phonetic_url(92) %>
<%= link_to "bīng", phonetic_url(93) %>
<%= link_to "bíng", phonetic_url(94) %>
<%= link_to "bǐng", phonetic_url(95) %>
<%= link_to "bìng", phonetic_url(96) %>
<%= link_to "bo", phonetic_url(97) %>
<%= link_to "bō", phonetic_url(98) %>
<%= link_to "bó", phonetic_url(99) %>
<%= link_to "bǒ", phonetic_url(100) %>
<%= link_to "bò", phonetic_url(101) %>
<%= link_to "bu", phonetic_url(102) %>
<%= link_to "bū", phonetic_url(103) %>
<%= link_to "bú", phonetic_url(104) %>
<%= link_to "bǔ", phonetic_url(105) %>
<%= link_to "bù", phonetic_url(106) %>
</p><h4>c</h4><p>
<%= link_to "ca", phonetic_url(108) %>
<%= link_to "cā", phonetic_url(109) %>
<%= link_to "cá", phonetic_url(110) %>
<%= link_to "cǎ", phonetic_url(111) %>
<%= link_to "cà", phonetic_url(112) %>
<%= link_to "cai", phonetic_url(113) %>
<%= link_to "cāi", phonetic_url(114) %>
<%= link_to "cái", phonetic_url(115) %>
<%= link_to "cǎi", phonetic_url(116) %>
<%= link_to "cài", phonetic_url(117) %>
<%= link_to "can", phonetic_url(118) %>
<%= link_to "cān", phonetic_url(119) %>
<%= link_to "cán", phonetic_url(120) %>
<%= link_to "cǎn", phonetic_url(121) %>
<%= link_to "càn", phonetic_url(122) %>
<%= link_to "cang", phonetic_url(123) %>
<%= link_to "cāng", phonetic_url(124) %>
<%= link_to "cáng", phonetic_url(125) %>
<%= link_to "cǎng", phonetic_url(126) %>
<%= link_to "càng", phonetic_url(127) %>
<%= link_to "cao", phonetic_url(128) %>
<%= link_to "cāo", phonetic_url(129) %>
<%= link_to "cáo", phonetic_url(130) %>
<%= link_to "cǎo", phonetic_url(131) %>
<%= link_to "cào", phonetic_url(132) %>
<%= link_to "ce", phonetic_url(133) %>
<%= link_to "cē", phonetic_url(134) %>
<%= link_to "cé", phonetic_url(135) %>
<%= link_to "cě", phonetic_url(136) %>
<%= link_to "cè", phonetic_url(137) %>
<%= link_to "cen", phonetic_url(138) %>
<%= link_to "cēn", phonetic_url(139) %>
<%= link_to "cén", phonetic_url(140) %>
<%= link_to "cěn", phonetic_url(141) %>
<%= link_to "cèn", phonetic_url(142) %>
<%= link_to "ceng", phonetic_url(143) %>
<%= link_to "cēng", phonetic_url(144) %>
<%= link_to "céng", phonetic_url(145) %>
<%= link_to "cěng", phonetic_url(146) %>
<%= link_to "cèng", phonetic_url(147) %>
<%= link_to "cha", phonetic_url(149) %>
<%= link_to "chā", phonetic_url(150) %>
<%= link_to "chá", phonetic_url(151) %>
<%= link_to "chǎ", phonetic_url(152) %>
<%= link_to "chà", phonetic_url(153) %>
<%= link_to "chai", phonetic_url(154) %>
<%= link_to "chāi", phonetic_url(155) %>
<%= link_to "chái", phonetic_url(156) %>
<%= link_to "chǎi", phonetic_url(157) %>
<%= link_to "chài", phonetic_url(158) %>
<%= link_to "chan", phonetic_url(159) %>
<%= link_to "chān", phonetic_url(160) %>
<%= link_to "chán", phonetic_url(161) %>
<%= link_to "chǎn", phonetic_url(162) %>
<%= link_to "chàn", phonetic_url(163) %>
<%= link_to "chang", phonetic_url(164) %>
<%= link_to "chāng", phonetic_url(165) %>
<%= link_to "cháng", phonetic_url(166) %>
<%= link_to "chǎng", phonetic_url(167) %>
<%= link_to "chàng", phonetic_url(168) %>
<%= link_to "chao", phonetic_url(169) %>
<%= link_to "chāo", phonetic_url(170) %>
<%= link_to "cháo", phonetic_url(171) %>
<%= link_to "chǎo", phonetic_url(172) %>
<%= link_to "chào", phonetic_url(173) %>
<%= link_to "che", phonetic_url(174) %>
<%= link_to "chē", phonetic_url(175) %>
<%= link_to "ché", phonetic_url(176) %>
<%= link_to "chě", phonetic_url(177) %>
<%= link_to "chè", phonetic_url(178) %>
<%= link_to "chen", phonetic_url(179) %>
<%= link_to "chēn", phonetic_url(180) %>
<%= link_to "chén", phonetic_url(181) %>
<%= link_to "chěn", phonetic_url(182) %>
<%= link_to "chèn", phonetic_url(183) %>
<%= link_to "cheng", phonetic_url(184) %>
<%= link_to "chēng", phonetic_url(185) %>
<%= link_to "chéng", phonetic_url(186) %>
<%= link_to "chěng", phonetic_url(187) %>
<%= link_to "chèng", phonetic_url(188) %>
<%= link_to "chi", phonetic_url(189) %>
<%= link_to "chī", phonetic_url(190) %>
<%= link_to "chí", phonetic_url(192) %>
<%= link_to "chǐ", phonetic_url(193) %>
<%= link_to "chì", phonetic_url(194) %>
<%= link_to "chong", phonetic_url(195) %>
<%= link_to "chōng", phonetic_url(196) %>
<%= link_to "chóng", phonetic_url(197) %>
<%= link_to "chǒng", phonetic_url(198) %>
<%= link_to "chòng", phonetic_url(199) %>
<%= link_to "chou", phonetic_url(200) %>
<%= link_to "chōu", phonetic_url(201) %>
<%= link_to "chóu", phonetic_url(202) %>
<%= link_to "chǒu", phonetic_url(203) %>
<%= link_to "chòu", phonetic_url(204) %>
<%= link_to "chu", phonetic_url(205) %>
<%= link_to "chū", phonetic_url(206) %>
<%= link_to "chú", phonetic_url(207) %>
<%= link_to "chǔ", phonetic_url(208) %>
<%= link_to "chù", phonetic_url(209) %>
<%= link_to "chuā", phonetic_url(2107) %>
<%= link_to "chuai", phonetic_url(210) %>
<%= link_to "chuāi", phonetic_url(211) %>
<%= link_to "chuái", phonetic_url(212) %>
<%= link_to "chuǎi", phonetic_url(213) %>
<%= link_to "chuài", phonetic_url(214) %>
<%= link_to "chuan", phonetic_url(215) %>
<%= link_to "chuān", phonetic_url(216) %>
<%= link_to "chuán", phonetic_url(217) %>
<%= link_to "chuǎn", phonetic_url(218) %>
<%= link_to "chuàn", phonetic_url(219) %>
<%= link_to "chuang", phonetic_url(220) %>
<%= link_to "chuāng", phonetic_url(221) %>
<%= link_to "chuáng", phonetic_url(222) %>
<%= link_to "chuǎng", phonetic_url(223) %>
<%= link_to "chuàng", phonetic_url(224) %>
<%= link_to "chui", phonetic_url(225) %>
<%= link_to "chuī", phonetic_url(226) %>
<%= link_to "chuí", phonetic_url(227) %>
<%= link_to "chuǐ", phonetic_url(228) %>
<%= link_to "chuì", phonetic_url(229) %>
<%= link_to "chun", phonetic_url(230) %>
<%= link_to "chūn", phonetic_url(231) %>
<%= link_to "chún", phonetic_url(232) %>
<%= link_to "chǔn", phonetic_url(233) %>
<%= link_to "chùn", phonetic_url(234) %>
<%= link_to "chuo", phonetic_url(235) %>
<%= link_to "chuō", phonetic_url(236) %>
<%= link_to "chuó", phonetic_url(237) %>
<%= link_to "chuǒ", phonetic_url(238) %>
<%= link_to "chuò", phonetic_url(239) %>
<%= link_to "ci", phonetic_url(240) %>
<%= link_to "cī", phonetic_url(241) %>
<%= link_to "cí", phonetic_url(242) %>
<%= link_to "cǐ", phonetic_url(243) %>
<%= link_to "cì", phonetic_url(244) %>
<%= link_to "cong", phonetic_url(245) %>
<%= link_to "cōng", phonetic_url(246) %>
<%= link_to "cóng", phonetic_url(247) %>
<%= link_to "cǒng", phonetic_url(248) %>
<%= link_to "còng", phonetic_url(249) %>
<%= link_to "cou", phonetic_url(250) %>
<%= link_to "cōu", phonetic_url(251) %>
<%= link_to "cóu", phonetic_url(252) %>
<%= link_to "cǒu", phonetic_url(253) %>
<%= link_to "còu", phonetic_url(254) %>
<%= link_to "cu", phonetic_url(255) %>
<%= link_to "cū", phonetic_url(256) %>
<%= link_to "cú", phonetic_url(257) %>
<%= link_to "cǔ", phonetic_url(258) %>
<%= link_to "cù", phonetic_url(259) %>
<%= link_to "cuan", phonetic_url(260) %>
<%= link_to "cuān", phonetic_url(261) %>
<%= link_to "cuán", phonetic_url(262) %>
<%= link_to "cuǎn", phonetic_url(263) %>
<%= link_to "cuàn", phonetic_url(264) %>
<%= link_to "cui", phonetic_url(265) %>
<%= link_to "cuī", phonetic_url(266) %>
<%= link_to "cuí", phonetic_url(267) %>
<%= link_to "cuǐ", phonetic_url(268) %>
<%= link_to "cuì", phonetic_url(269) %>
<%= link_to "cun", phonetic_url(270) %>
<%= link_to "cūn", phonetic_url(271) %>
<%= link_to "cún", phonetic_url(272) %>
<%= link_to "cǔn", phonetic_url(273) %>
<%= link_to "cùn", phonetic_url(274) %>
<%= link_to "cuo", phonetic_url(275) %>
<%= link_to "cuō", phonetic_url(276) %>
<%= link_to "cuó", phonetic_url(277) %>
<%= link_to "cuǒ", phonetic_url(278) %>
<%= link_to "cuò", phonetic_url(279) %>
</p><h4>d</h4><p>
<%= link_to "da", phonetic_url(281) %>
<%= link_to "dā", phonetic_url(282) %>
<%= link_to "dá", phonetic_url(283) %>
<%= link_to "dǎ", phonetic_url(284) %>
<%= link_to "dà", phonetic_url(285) %>
<%= link_to "dai", phonetic_url(286) %>
<%= link_to "dāi", phonetic_url(287) %>
<%= link_to "dái", phonetic_url(288) %>
<%= link_to "dǎi", phonetic_url(289) %>
<%= link_to "dài", phonetic_url(290) %>
<%= link_to "dan", phonetic_url(291) %>
<%= link_to "dān", phonetic_url(292) %>
<%= link_to "dán", phonetic_url(293) %>
<%= link_to "dǎn", phonetic_url(294) %>
<%= link_to "dàn", phonetic_url(295) %>
<%= link_to "dang", phonetic_url(296) %>
<%= link_to "dāng", phonetic_url(297) %>
<%= link_to "dáng", phonetic_url(298) %>
<%= link_to "dǎng", phonetic_url(299) %>
<%= link_to "dàng", phonetic_url(300) %>
<%= link_to "dao", phonetic_url(301) %>
<%= link_to "dāo", phonetic_url(302) %>
<%= link_to "dáo", phonetic_url(303) %>
<%= link_to "dǎo", phonetic_url(304) %>
<%= link_to "dào", phonetic_url(305) %>
<%= link_to "de", phonetic_url(306) %>
<%= link_to "dē", phonetic_url(307) %>
<%= link_to "dé", phonetic_url(308) %>
<%= link_to "dě", phonetic_url(309) %>
<%= link_to "dè", phonetic_url(310) %>
<%= link_to "dei", phonetic_url(311) %>
<%= link_to "dēi", phonetic_url(312) %>
<%= link_to "déi", phonetic_url(313) %>
<%= link_to "děi", phonetic_url(314) %>
<%= link_to "dèi", phonetic_url(315) %>
<%= link_to "deng", phonetic_url(316) %>
<%= link_to "dēng", phonetic_url(317) %>
<%= link_to "déng", phonetic_url(318) %>
<%= link_to "děng", phonetic_url(319) %>
<%= link_to "dèng", phonetic_url(320) %>
<%= link_to "di", phonetic_url(321) %>
<%= link_to "dī", phonetic_url(322) %>
<%= link_to "dí", phonetic_url(323) %>
<%= link_to "dǐ", phonetic_url(324) %>
<%= link_to "dì", phonetic_url(325) %>
<%= link_to "diǎ", phonetic_url(2110) %>
<%= link_to "dian", phonetic_url(326) %>
<%= link_to "diān", phonetic_url(327) %>
<%= link_to "dián", phonetic_url(328) %>
<%= link_to "diǎn", phonetic_url(329) %>
<%= link_to "diàn", phonetic_url(330) %>
<%= link_to "diao", phonetic_url(331) %>
<%= link_to "diāo", phonetic_url(332) %>
<%= link_to "diáo", phonetic_url(333) %>
<%= link_to "diǎo", phonetic_url(334) %>
<%= link_to "diào", phonetic_url(335) %>
<%= link_to "die", phonetic_url(336) %>
<%= link_to "diē", phonetic_url(337) %>
<%= link_to "dié", phonetic_url(338) %>
<%= link_to "diě", phonetic_url(339) %>
<%= link_to "diè", phonetic_url(340) %>
<%= link_to "ding", phonetic_url(341) %>
<%= link_to "dīng", phonetic_url(342) %>
<%= link_to "díng", phonetic_url(343) %>
<%= link_to "dǐng", phonetic_url(344) %>
<%= link_to "dìng", phonetic_url(345) %>
<%= link_to "diu", phonetic_url(346) %>
<%= link_to "diū", phonetic_url(347) %>
<%= link_to "diú", phonetic_url(348) %>
<%= link_to "diǔ", phonetic_url(349) %>
<%= link_to "diù", phonetic_url(350) %>
<%= link_to "dong", phonetic_url(351) %>
<%= link_to "dōng", phonetic_url(352) %>
<%= link_to "dóng", phonetic_url(353) %>
<%= link_to "dǒng", phonetic_url(354) %>
<%= link_to "dòng", phonetic_url(355) %>
<%= link_to "dou", phonetic_url(356) %>
<%= link_to "dōu", phonetic_url(357) %>
<%= link_to "dóu", phonetic_url(358) %>
<%= link_to "dǒu", phonetic_url(359) %>
<%= link_to "dòu", phonetic_url(360) %>
<%= link_to "du", phonetic_url(361) %>
<%= link_to "dū", phonetic_url(362) %>
<%= link_to "dú", phonetic_url(363) %>
<%= link_to "dǔ", phonetic_url(364) %>
<%= link_to "dù", phonetic_url(365) %>
<%= link_to "duan", phonetic_url(366) %>
<%= link_to "duān", phonetic_url(367) %>
<%= link_to "duán", phonetic_url(368) %>
<%= link_to "duǎn", phonetic_url(369) %>
<%= link_to "duàn", phonetic_url(370) %>
<%= link_to "dui", phonetic_url(371) %>
<%= link_to "duī", phonetic_url(372) %>
<%= link_to "duí", phonetic_url(373) %>
<%= link_to "duǐ", phonetic_url(374) %>
<%= link_to "duì", phonetic_url(375) %>
<%= link_to "dun", phonetic_url(376) %>
<%= link_to "dūn", phonetic_url(377) %>
<%= link_to "dún", phonetic_url(378) %>
<%= link_to "dǔn", phonetic_url(379) %>
<%= link_to "dùn", phonetic_url(380) %>
<%= link_to "duo", phonetic_url(381) %>
<%= link_to "duō", phonetic_url(382) %>
<%= link_to "duó", phonetic_url(383) %>
<%= link_to "duǒ", phonetic_url(384) %>
<%= link_to "duò", phonetic_url(385) %>
</p><h4>e</h4><p>
<%= link_to "e", phonetic_url(386) %>
<%= link_to "ē", phonetic_url(387) %>
<%= link_to "é", phonetic_url(388) %>
<%= link_to "ě", phonetic_url(389) %>
<%= link_to "è", phonetic_url(390) %>
<%= link_to "ei", phonetic_url(391) %>
<%= link_to "ēi", phonetic_url(392) %>
<%= link_to "éi", phonetic_url(393) %>
<%= link_to "ěi", phonetic_url(394) %>
<%= link_to "èi", phonetic_url(395) %>
<%= link_to "ēn", phonetic_url(396) %>
<%= link_to "én", phonetic_url(397) %>
<%= link_to "ěn", phonetic_url(398) %>
<%= link_to "èn", phonetic_url(399) %>
<%= link_to "en", phonetic_url(400) %>
<%= link_to "ēng", phonetic_url(401) %>
<%= link_to "éng", phonetic_url(402) %>
<%= link_to "ěng", phonetic_url(403) %>
<%= link_to "èng", phonetic_url(404) %>
<%= link_to "eng", phonetic_url(405) %>
<%= link_to "ēr", phonetic_url(406) %>
<%= link_to "ér", phonetic_url(407) %>
<%= link_to "ěr", phonetic_url(408) %>
<%= link_to "èr", phonetic_url(409) %>
<%= link_to "er", phonetic_url(410) %>
</p><h4>f</h4><p>
<%= link_to "fa", phonetic_url(416) %>
<%= link_to "fā", phonetic_url(412) %>
<%= link_to "fá", phonetic_url(413) %>
<%= link_to "fǎ", phonetic_url(414) %>
<%= link_to "fà", phonetic_url(415) %>
<%= link_to "fan", phonetic_url(421) %>
<%= link_to "fān", phonetic_url(417) %>
<%= link_to "fán", phonetic_url(418) %>
<%= link_to "fǎn", phonetic_url(419) %>
<%= link_to "fàn", phonetic_url(420) %>
<%= link_to "fang", phonetic_url(426) %>
<%= link_to "fāng", phonetic_url(422) %>
<%= link_to "fáng", phonetic_url(423) %>
<%= link_to "fǎng", phonetic_url(424) %>
<%= link_to "fàng", phonetic_url(425) %>
<%= link_to "fei", phonetic_url(431) %>
<%= link_to "fēi", phonetic_url(427) %>
<%= link_to "féi", phonetic_url(428) %>
<%= link_to "fěi", phonetic_url(429) %>
<%= link_to "fèi", phonetic_url(430) %>
<%= link_to "fen", phonetic_url(436) %>
<%= link_to "fēn", phonetic_url(432) %>
<%= link_to "fén", phonetic_url(433) %>
<%= link_to "fěn", phonetic_url(434) %>
<%= link_to "fèn", phonetic_url(435) %>
<%= link_to "feng", phonetic_url(441) %>
<%= link_to "fēng", phonetic_url(437) %>
<%= link_to "féng", phonetic_url(438) %>
<%= link_to "fěng", phonetic_url(439) %>
<%= link_to "fèng", phonetic_url(440) %>
<%= link_to "fo", phonetic_url(446) %>
<%= link_to "fō", phonetic_url(442) %>
<%= link_to "fó", phonetic_url(443) %>
<%= link_to "fǒ", phonetic_url(444) %>
<%= link_to "fò", phonetic_url(445) %>
<%= link_to "fou", phonetic_url(451) %>
<%= link_to "fōu", phonetic_url(447) %>
<%= link_to "fóu", phonetic_url(448) %>
<%= link_to "fǒu", phonetic_url(449) %>
<%= link_to "fòu", phonetic_url(450) %>
<%= link_to "fu", phonetic_url(456) %>
<%= link_to "fū", phonetic_url(452) %>
<%= link_to "fú", phonetic_url(453) %>
<%= link_to "fǔ", phonetic_url(454) %>
<%= link_to "fù", phonetic_url(455) %>
</p><h4>g</h4><p>
<%= link_to "ga", phonetic_url(462) %>
<%= link_to "gā", phonetic_url(458) %>
<%= link_to "gá", phonetic_url(459) %>
<%= link_to "gǎ", phonetic_url(460) %>
<%= link_to "gà", phonetic_url(461) %>
<%= link_to "gai", phonetic_url(467) %>
<%= link_to "gāi", phonetic_url(463) %>
<%= link_to "gái", phonetic_url(464) %>
<%= link_to "gǎi", phonetic_url(465) %>
<%= link_to "gài", phonetic_url(466) %>
<%= link_to "gan", phonetic_url(472) %>
<%= link_to "gān", phonetic_url(468) %>
<%= link_to "gán", phonetic_url(469) %>
<%= link_to "gǎn", phonetic_url(470) %>
<%= link_to "gàn", phonetic_url(471) %>
<%= link_to "gang", phonetic_url(477) %>
<%= link_to "gāng", phonetic_url(473) %>
<%= link_to "gáng", phonetic_url(474) %>
<%= link_to "gǎng", phonetic_url(475) %>
<%= link_to "gàng", phonetic_url(476) %>
<%= link_to "gao", phonetic_url(482) %>
<%= link_to "gāo", phonetic_url(478) %>
<%= link_to "gáo", phonetic_url(479) %>
<%= link_to "gǎo", phonetic_url(480) %>
<%= link_to "gào", phonetic_url(481) %>
<%= link_to "ge", phonetic_url(487) %>
<%= link_to "gē", phonetic_url(483) %>
<%= link_to "gé", phonetic_url(484) %>
<%= link_to "gě", phonetic_url(485) %>
<%= link_to "gè", phonetic_url(486) %>
<%= link_to "gei", phonetic_url(492) %>
<%= link_to "gēi", phonetic_url(488) %>
<%= link_to "géi", phonetic_url(489) %>
<%= link_to "gěi", phonetic_url(490) %>
<%= link_to "gèi", phonetic_url(491) %>
<%= link_to "gen", phonetic_url(497) %>
<%= link_to "gēn", phonetic_url(493) %>
<%= link_to "gén", phonetic_url(494) %>
<%= link_to "gěn", phonetic_url(495) %>
<%= link_to "gèn", phonetic_url(496) %>
<%= link_to "geng", phonetic_url(502) %>
<%= link_to "gēng", phonetic_url(498) %>
<%= link_to "géng", phonetic_url(499) %>
<%= link_to "gěng", phonetic_url(500) %>
<%= link_to "gèng", phonetic_url(501) %>
<%= link_to "gong", phonetic_url(507) %>
<%= link_to "gōng", phonetic_url(503) %>
<%= link_to "góng", phonetic_url(504) %>
<%= link_to "gǒng", phonetic_url(505) %>
<%= link_to "gòng", phonetic_url(506) %>
<%= link_to "gou", phonetic_url(512) %>
<%= link_to "gōu", phonetic_url(508) %>
<%= link_to "góu", phonetic_url(509) %>
<%= link_to "gǒu", phonetic_url(510) %>
<%= link_to "gòu", phonetic_url(511) %>
<%= link_to "gu", phonetic_url(517) %>
<%= link_to "gū", phonetic_url(513) %>
<%= link_to "gú", phonetic_url(514) %>
<%= link_to "gǔ", phonetic_url(515) %>
<%= link_to "gù", phonetic_url(516) %>
<%= link_to "gua", phonetic_url(522) %>
<%= link_to "guā", phonetic_url(518) %>
<%= link_to "guá", phonetic_url(519) %>
<%= link_to "guǎ", phonetic_url(520) %>
<%= link_to "guà", phonetic_url(521) %>
<%= link_to "guai", phonetic_url(527) %>
<%= link_to "guāi", phonetic_url(523) %>
<%= link_to "guái", phonetic_url(524) %>
<%= link_to "guǎi", phonetic_url(525) %>
<%= link_to "guài", phonetic_url(526) %>
<%= link_to "guan", phonetic_url(532) %>
<%= link_to "guān", phonetic_url(528) %>
<%= link_to "guán", phonetic_url(529) %>
<%= link_to "guǎn", phonetic_url(530) %>
<%= link_to "guàn", phonetic_url(531) %>
<%= link_to "guang", phonetic_url(537) %>
<%= link_to "guāng", phonetic_url(533) %>
<%= link_to "guáng", phonetic_url(534) %>
<%= link_to "guǎng", phonetic_url(535) %>
<%= link_to "guàng", phonetic_url(536) %>
<%= link_to "gui", phonetic_url(542) %>
<%= link_to "guī", phonetic_url(538) %>
<%= link_to "guí", phonetic_url(539) %>
<%= link_to "guǐ", phonetic_url(540) %>
<%= link_to "guì", phonetic_url(541) %>
<%= link_to "gun", phonetic_url(547) %>
<%= link_to "gūn", phonetic_url(543) %>
<%= link_to "gún", phonetic_url(544) %>
<%= link_to "gǔn", phonetic_url(545) %>
<%= link_to "gùn", phonetic_url(546) %>
<%= link_to "guo", phonetic_url(2154) %>
<%= link_to "guō", phonetic_url(2132) %>
<%= link_to "guó", phonetic_url(2133) %>
<%= link_to "guǒ", phonetic_url(2147) %>
<%= link_to "guò", phonetic_url(2153) %>
</p><h4>h</h4><p>
<%= link_to "ha", phonetic_url(553) %>
<%= link_to "hā", phonetic_url(549) %>
<%= link_to "há", phonetic_url(550) %>
<%= link_to "hǎ", phonetic_url(551) %>
<%= link_to "hà", phonetic_url(552) %>
<%= link_to "hai", phonetic_url(558) %>
<%= link_to "hāi", phonetic_url(554) %>
<%= link_to "hái", phonetic_url(555) %>
<%= link_to "hǎi", phonetic_url(556) %>
<%= link_to "hài", phonetic_url(557) %>
<%= link_to "han", phonetic_url(563) %>
<%= link_to "hān", phonetic_url(559) %>
<%= link_to "hán", phonetic_url(560) %>
<%= link_to "hǎn", phonetic_url(561) %>
<%= link_to "hàn", phonetic_url(562) %>
<%= link_to "hang", phonetic_url(568) %>
<%= link_to "hāng", phonetic_url(564) %>
<%= link_to "háng", phonetic_url(565) %>
<%= link_to "hǎng", phonetic_url(566) %>
<%= link_to "hàng", phonetic_url(567) %>
<%= link_to "hao", phonetic_url(573) %>
<%= link_to "hāo", phonetic_url(569) %>
<%= link_to "háo", phonetic_url(570) %>
<%= link_to "hǎo", phonetic_url(571) %>
<%= link_to "hào", phonetic_url(572) %>
<%= link_to "he", phonetic_url(578) %>
<%= link_to "hē", phonetic_url(574) %>
<%= link_to "hé", phonetic_url(575) %>
<%= link_to "hě", phonetic_url(576) %>
<%= link_to "hè", phonetic_url(577) %>
<%= link_to "hei", phonetic_url(583) %>
<%= link_to "hēi", phonetic_url(579) %>
<%= link_to "héi", phonetic_url(580) %>
<%= link_to "hěi", phonetic_url(581) %>
<%= link_to "hèi", phonetic_url(582) %>
<%= link_to "hen", phonetic_url(588) %>
<%= link_to "hēn", phonetic_url(584) %>
<%= link_to "hén", phonetic_url(585) %>
<%= link_to "hěn", phonetic_url(586) %>
<%= link_to "hèn", phonetic_url(587) %>
<%= link_to "heng", phonetic_url(593) %>
<%= link_to "hēng", phonetic_url(589) %>
<%= link_to "héng", phonetic_url(590) %>
<%= link_to "hěng", phonetic_url(591) %>
<%= link_to "hèng", phonetic_url(592) %>
<%= link_to "hng", phonetic_url(2163) %>
<%= link_to "hong", phonetic_url(598) %>
<%= link_to "hōng", phonetic_url(594) %>
<%= link_to "hóng", phonetic_url(595) %>
<%= link_to "hǒng", phonetic_url(596) %>
<%= link_to "hòng", phonetic_url(597) %>
<%= link_to "hou", phonetic_url(603) %>
<%= link_to "hōu", phonetic_url(599) %>
<%= link_to "hóu", phonetic_url(600) %>
<%= link_to "hǒu", phonetic_url(601) %>
<%= link_to "hòu", phonetic_url(602) %>
<%= link_to "hu", phonetic_url(608) %>
<%= link_to "hū", phonetic_url(604) %>
<%= link_to "hú", phonetic_url(605) %>
<%= link_to "hǔ", phonetic_url(606) %>
<%= link_to "hù", phonetic_url(607) %>
<%= link_to "hua", phonetic_url(613) %>
<%= link_to "huā", phonetic_url(609) %>
<%= link_to "huá", phonetic_url(610) %>
<%= link_to "huǎ", phonetic_url(611) %>
<%= link_to "huà", phonetic_url(612) %>
<%= link_to "huai", phonetic_url(618) %>
<%= link_to "huāi", phonetic_url(614) %>
<%= link_to "huái", phonetic_url(615) %>
<%= link_to "huǎi", phonetic_url(616) %>
<%= link_to "huài", phonetic_url(617) %>
<%= link_to "huan", phonetic_url(623) %>
<%= link_to "huān", phonetic_url(619) %>
<%= link_to "huán", phonetic_url(620) %>
<%= link_to "huǎn", phonetic_url(621) %>
<%= link_to "huàn", phonetic_url(622) %>
<%= link_to "huang", phonetic_url(628) %>
<%= link_to "huāng", phonetic_url(624) %>
<%= link_to "huáng", phonetic_url(625) %>
<%= link_to "huǎng", phonetic_url(626) %>
<%= link_to "huàng", phonetic_url(627) %>
<%= link_to "hui", phonetic_url(633) %>
<%= link_to "huī", phonetic_url(629) %>
<%= link_to "huí", phonetic_url(630) %>
<%= link_to "huǐ", phonetic_url(631) %>
<%= link_to "huì", phonetic_url(632) %>
<%= link_to "hun", phonetic_url(638) %>
<%= link_to "hūn", phonetic_url(634) %>
<%= link_to "hún", phonetic_url(635) %>
<%= link_to "hǔn", phonetic_url(636) %>
<%= link_to "hùn", phonetic_url(637) %>
<%= link_to "huo", phonetic_url(191) %>
<%= link_to "huō", phonetic_url(2173) %>
<%= link_to "huó", phonetic_url(2160) %>
<%= link_to "huǒ", phonetic_url(2106) %>
<%= link_to "huò", phonetic_url(2161) %>
</p><h4>i</h4><p>
<%= link_to "i", phonetic_url(643) %>
<%= link_to "ī", phonetic_url(639) %>
<%= link_to "í", phonetic_url(640) %>
<%= link_to "ǐ", phonetic_url(641) %>
<%= link_to "ì", phonetic_url(642) %>
<%= link_to "ie", phonetic_url(648) %>
<%= link_to "iē", phonetic_url(644) %>
<%= link_to "ié", phonetic_url(645) %>
<%= link_to "iě", phonetic_url(646) %>
<%= link_to "iè", phonetic_url(647) %>
<%= link_to "in", phonetic_url(653) %>
<%= link_to "īn", phonetic_url(649) %>
<%= link_to "ín", phonetic_url(650) %>
<%= link_to "ǐn", phonetic_url(651) %>
<%= link_to "ìn", phonetic_url(652) %>
<%= link_to "ing", phonetic_url(658) %>
<%= link_to "īng", phonetic_url(654) %>
<%= link_to "íng", phonetic_url(655) %>
<%= link_to "ǐng", phonetic_url(656) %>
<%= link_to "ìng", phonetic_url(657) %>
<%= link_to "iu", phonetic_url(663) %>
<%= link_to "iū", phonetic_url(659) %>
<%= link_to "iú", phonetic_url(660) %>
<%= link_to "iǔ", phonetic_url(661) %>
<%= link_to "iù", phonetic_url(662) %>
</p><h4>j</h4><p>
<%= link_to "ji", phonetic_url(669) %>
<%= link_to "jī", phonetic_url(665) %>
<%= link_to "jí", phonetic_url(666) %>
<%= link_to "jǐ", phonetic_url(667) %>
<%= link_to "jì", phonetic_url(668) %>
<%= link_to "jia", phonetic_url(674) %>
<%= link_to "jiā", phonetic_url(670) %>
<%= link_to "jiá", phonetic_url(671) %>
<%= link_to "jiǎ", phonetic_url(672) %>
<%= link_to "jià", phonetic_url(673) %>
<%= link_to "jian", phonetic_url(679) %>
<%= link_to "jiān", phonetic_url(675) %>
<%= link_to "jián", phonetic_url(676) %>
<%= link_to "jiǎn", phonetic_url(677) %>
<%= link_to "jiàn", phonetic_url(678) %>
<%= link_to "jiang", phonetic_url(684) %>
<%= link_to "jiāng", phonetic_url(680) %>
<%= link_to "jiáng", phonetic_url(681) %>
<%= link_to "jiǎng", phonetic_url(682) %>
<%= link_to "jiàng", phonetic_url(683) %>
<%= link_to "jiao", phonetic_url(689) %>
<%= link_to "jiāo", phonetic_url(685) %>
<%= link_to "jiáo", phonetic_url(686) %>
<%= link_to "jiǎo", phonetic_url(687) %>
<%= link_to "jiào", phonetic_url(688) %>
<%= link_to "jie", phonetic_url(694) %>
<%= link_to "jiē", phonetic_url(690) %>
<%= link_to "jié", phonetic_url(691) %>
<%= link_to "jiě", phonetic_url(692) %>
<%= link_to "jiè", phonetic_url(693) %>
<%= link_to "jin", phonetic_url(699) %>
<%= link_to "jīn", phonetic_url(695) %>
<%= link_to "jín", phonetic_url(696) %>
<%= link_to "jǐn", phonetic_url(697) %>
<%= link_to "jìn", phonetic_url(698) %>
<%= link_to "jing", phonetic_url(704) %>
<%= link_to "jīng", phonetic_url(700) %>
<%= link_to "jíng", phonetic_url(701) %>
<%= link_to "jǐng", phonetic_url(702) %>
<%= link_to "jìng", phonetic_url(703) %>
<%= link_to "jiong", phonetic_url(709) %>
<%= link_to "jiōng", phonetic_url(705) %>
<%= link_to "jióng", phonetic_url(706) %>
<%= link_to "jiǒng", phonetic_url(707) %>
<%= link_to "jiòng", phonetic_url(708) %>
<%= link_to "jiu", phonetic_url(714) %>
<%= link_to "jiū", phonetic_url(710) %>
<%= link_to "jiú", phonetic_url(711) %>
<%= link_to "jiǔ", phonetic_url(712) %>
<%= link_to "jiù", phonetic_url(713) %>
<%= link_to "ju", phonetic_url(719) %>
<%= link_to "jū", phonetic_url(715) %>
<%= link_to "jú", phonetic_url(716) %>
<%= link_to "jǔ", phonetic_url(717) %>
<%= link_to "jù", phonetic_url(718) %>
<%= link_to "juan", phonetic_url(724) %>
<%= link_to "juān", phonetic_url(720) %>
<%= link_to "juán", phonetic_url(721) %>
<%= link_to "juǎn", phonetic_url(722) %>
<%= link_to "juàn", phonetic_url(723) %>
<%= link_to "jue", phonetic_url(729) %>
<%= link_to "juē", phonetic_url(725) %>
<%= link_to "jué", phonetic_url(726) %>
<%= link_to "juě", phonetic_url(727) %>
<%= link_to "juè", phonetic_url(728) %>
<%= link_to "jun", phonetic_url(734) %>
<%= link_to "jūn", phonetic_url(730) %>
<%= link_to "jún", phonetic_url(731) %>
<%= link_to "jǔn", phonetic_url(732) %>
<%= link_to "jùn", phonetic_url(733) %>
</p><h4>k</h4><p>
<%= link_to "ka", phonetic_url(740) %>
<%= link_to "kā", phonetic_url(736) %>
<%= link_to "ká", phonetic_url(737) %>
<%= link_to "kǎ", phonetic_url(738) %>
<%= link_to "kà", phonetic_url(739) %>
<%= link_to "kai", phonetic_url(745) %>
<%= link_to "kāi", phonetic_url(741) %>
<%= link_to "kái", phonetic_url(742) %>
<%= link_to "kǎi", phonetic_url(743) %>
<%= link_to "kài", phonetic_url(744) %>
<%= link_to "kan", phonetic_url(750) %>
<%= link_to "kān", phonetic_url(746) %>
<%= link_to "kán", phonetic_url(747) %>
<%= link_to "kǎn", phonetic_url(748) %>
<%= link_to "kàn", phonetic_url(749) %>
<%= link_to "kang", phonetic_url(755) %>
<%= link_to "kāng", phonetic_url(751) %>
<%= link_to "káng", phonetic_url(752) %>
<%= link_to "kǎng", phonetic_url(753) %>
<%= link_to "kàng", phonetic_url(754) %>
<%= link_to "kao", phonetic_url(760) %>
<%= link_to "kāo", phonetic_url(756) %>
<%= link_to "káo", phonetic_url(757) %>
<%= link_to "kǎo", phonetic_url(758) %>
<%= link_to "kào", phonetic_url(759) %>
<%= link_to "ke", phonetic_url(765) %>
<%= link_to "kē", phonetic_url(761) %>
<%= link_to "ké", phonetic_url(762) %>
<%= link_to "kě", phonetic_url(763) %>
<%= link_to "kè", phonetic_url(764) %>
<%= link_to "kei", phonetic_url(770) %>
<%= link_to "kēi", phonetic_url(766) %>
<%= link_to "kéi", phonetic_url(767) %>
<%= link_to "kěi", phonetic_url(768) %>
<%= link_to "kèi", phonetic_url(769) %>
<%= link_to "ken", phonetic_url(775) %>
<%= link_to "kēn", phonetic_url(771) %>
<%= link_to "kén", phonetic_url(772) %>
<%= link_to "kěn", phonetic_url(773) %>
<%= link_to "kèn", phonetic_url(774) %>
<%= link_to "keng", phonetic_url(780) %>
<%= link_to "kēng", phonetic_url(776) %>
<%= link_to "kéng", phonetic_url(777) %>
<%= link_to "kěng", phonetic_url(778) %>
<%= link_to "kèng", phonetic_url(779) %>
<%= link_to "kong", phonetic_url(785) %>
<%= link_to "kōng", phonetic_url(781) %>
<%= link_to "kóng", phonetic_url(782) %>
<%= link_to "kǒng", phonetic_url(783) %>
<%= link_to "kòng", phonetic_url(784) %>
<%= link_to "kou", phonetic_url(790) %>
<%= link_to "kōu", phonetic_url(786) %>
<%= link_to "kóu", phonetic_url(787) %>
<%= link_to "kǒu", phonetic_url(788) %>
<%= link_to "kòu", phonetic_url(789) %>
<%= link_to "ku", phonetic_url(795) %>
<%= link_to "kū", phonetic_url(791) %>
<%= link_to "kú", phonetic_url(792) %>
<%= link_to "kǔ", phonetic_url(793) %>
<%= link_to "kù", phonetic_url(794) %>
<%= link_to "kua", phonetic_url(800) %>
<%= link_to "kuā", phonetic_url(796) %>
<%= link_to "kuá", phonetic_url(797) %>
<%= link_to "kuǎ", phonetic_url(798) %>
<%= link_to "kuà", phonetic_url(799) %>
<%= link_to "kuai", phonetic_url(805) %>
<%= link_to "kuāi", phonetic_url(801) %>
<%= link_to "kuái", phonetic_url(802) %>
<%= link_to "kuǎi", phonetic_url(803) %>
<%= link_to "kuài", phonetic_url(804) %>
<%= link_to "kuan", phonetic_url(810) %>
<%= link_to "kuān", phonetic_url(806) %>
<%= link_to "kuán", phonetic_url(807) %>
<%= link_to "kuǎn", phonetic_url(808) %>
<%= link_to "kuàn", phonetic_url(809) %>
<%= link_to "kuang", phonetic_url(815) %>
<%= link_to "kuāng", phonetic_url(811) %>
<%= link_to "kuáng", phonetic_url(812) %>
<%= link_to "kuǎng", phonetic_url(813) %>
<%= link_to "kuàng", phonetic_url(814) %>
<%= link_to "kui", phonetic_url(820) %>
<%= link_to "kuī", phonetic_url(816) %>
<%= link_to "kuí", phonetic_url(817) %>
<%= link_to "kuǐ", phonetic_url(818) %>
<%= link_to "kuì", phonetic_url(819) %>
<%= link_to "kun", phonetic_url(825) %>
<%= link_to "kūn", phonetic_url(821) %>
<%= link_to "kún", phonetic_url(822) %>
<%= link_to "kǔn", phonetic_url(823) %>
<%= link_to "kùn", phonetic_url(824) %>
<%= link_to "kuo", phonetic_url(238269) %>
<%= link_to "kuō", phonetic_url(238270) %>
<%= link_to "kuó", phonetic_url(238271) %>
<%= link_to "kuǒ", phonetic_url(238272) %>
<%= link_to "kuò", phonetic_url(2185) %>
</p><h4>l</h4><p>
<%= link_to "la", phonetic_url(831) %>
<%= link_to "lā", phonetic_url(827) %>
<%= link_to "lá", phonetic_url(828) %>
<%= link_to "lǎ", phonetic_url(829) %>
<%= link_to "là", phonetic_url(830) %>
<%= link_to "lai", phonetic_url(836) %>
<%= link_to "lāi", phonetic_url(832) %>
<%= link_to "lái", phonetic_url(833) %>
<%= link_to "lǎi", phonetic_url(834) %>
<%= link_to "lài", phonetic_url(835) %>
<%= link_to "lan", phonetic_url(841) %>
<%= link_to "lān", phonetic_url(837) %>
<%= link_to "lán", phonetic_url(838) %>
<%= link_to "lǎn", phonetic_url(839) %>
<%= link_to "làn", phonetic_url(840) %>
<%= link_to "lang", phonetic_url(846) %>
<%= link_to "lāng", phonetic_url(842) %>
<%= link_to "láng", phonetic_url(843) %>
<%= link_to "lǎng", phonetic_url(844) %>
<%= link_to "làng", phonetic_url(845) %>
<%= link_to "lao", phonetic_url(851) %>
<%= link_to "lāo", phonetic_url(847) %>
<%= link_to "láo", phonetic_url(848) %>
<%= link_to "lǎo", phonetic_url(849) %>
<%= link_to "lào", phonetic_url(850) %>
<%= link_to "le", phonetic_url(856) %>
<%= link_to "lē", phonetic_url(852) %>
<%= link_to "lé", phonetic_url(853) %>
<%= link_to "lě", phonetic_url(854) %>
<%= link_to "lè", phonetic_url(855) %>
<%= link_to "lei", phonetic_url(861) %>
<%= link_to "lēi", phonetic_url(857) %>
<%= link_to "léi", phonetic_url(858) %>
<%= link_to "lěi", phonetic_url(859) %>
<%= link_to "lèi", phonetic_url(860) %>
<%= link_to "leng", phonetic_url(866) %>
<%= link_to "lēng", phonetic_url(862) %>
<%= link_to "léng", phonetic_url(863) %>
<%= link_to "lěng", phonetic_url(864) %>
<%= link_to "lèng", phonetic_url(865) %>
<%= link_to "li", phonetic_url(871) %>
<%= link_to "lī", phonetic_url(867) %>
<%= link_to "lí", phonetic_url(868) %>
<%= link_to "lǐ", phonetic_url(869) %>
<%= link_to "lì", phonetic_url(870) %>
<%= link_to "lia", phonetic_url(876) %>
<%= link_to "liā", phonetic_url(872) %>
<%= link_to "liá", phonetic_url(873) %>
<%= link_to "liǎ", phonetic_url(874) %>
<%= link_to "lià", phonetic_url(875) %>
<%= link_to "lian", phonetic_url(881) %>
<%= link_to "liān", phonetic_url(877) %>
<%= link_to "lián", phonetic_url(878) %>
<%= link_to "liǎn", phonetic_url(879) %>
<%= link_to "liàn", phonetic_url(880) %>
<%= link_to "liang", phonetic_url(886) %>
<%= link_to "liāng", phonetic_url(882) %>
<%= link_to "liáng", phonetic_url(883) %>
<%= link_to "liǎng", phonetic_url(884) %>
<%= link_to "liàng", phonetic_url(885) %>
<%= link_to "liao", phonetic_url(891) %>
<%= link_to "liāo", phonetic_url(887) %>
<%= link_to "liáo", phonetic_url(888) %>
<%= link_to "liǎo", phonetic_url(889) %>
<%= link_to "liào", phonetic_url(890) %>
<%= link_to "lie", phonetic_url(896) %>
<%= link_to "liē", phonetic_url(892) %>
<%= link_to "lié", phonetic_url(893) %>
<%= link_to "liě", phonetic_url(894) %>
<%= link_to "liè", phonetic_url(895) %>
<%= link_to "lin", phonetic_url(901) %>
<%= link_to "līn", phonetic_url(897) %>
<%= link_to "lín", phonetic_url(898) %>
<%= link_to "lǐn", phonetic_url(899) %>
<%= link_to "lìn", phonetic_url(900) %>
<%= link_to "ling", phonetic_url(906) %>
<%= link_to "līng", phonetic_url(902) %>
<%= link_to "líng", phonetic_url(903) %>
<%= link_to "lǐng", phonetic_url(904) %>
<%= link_to "lìng", phonetic_url(905) %>
<%= link_to "liu", phonetic_url(911) %>
<%= link_to "liū", phonetic_url(907) %>
<%= link_to "liú", phonetic_url(908) %>
<%= link_to "liǔ", phonetic_url(909) %>
<%= link_to "liù", phonetic_url(910) %>
<%= link_to "lo", phonetic_url(2117) %>
<%= link_to "long", phonetic_url(916) %>
<%= link_to "lōng", phonetic_url(912) %>
<%= link_to "lóng", phonetic_url(913) %>
<%= link_to "lǒng", phonetic_url(914) %>
<%= link_to "lòng", phonetic_url(915) %>
<%= link_to "lou", phonetic_url(921) %>
<%= link_to "lōu", phonetic_url(917) %>
<%= link_to "lóu", phonetic_url(918) %>
<%= link_to "lǒu", phonetic_url(919) %>
<%= link_to "lòu", phonetic_url(920) %>
<%= link_to "lu", phonetic_url(926) %>
<%= link_to "lū", phonetic_url(922) %>
<%= link_to "lú", phonetic_url(923) %>
<%= link_to "lǔ", phonetic_url(924) %>
<%= link_to "lù", phonetic_url(925) %>
<%= link_to "lü", phonetic_url(931) %>
<%= link_to "lǖ", phonetic_url(927) %>
<%= link_to "lǘ", phonetic_url(928) %>
<%= link_to "lǚ", phonetic_url(929) %>
<%= link_to "lǜ", phonetic_url(930) %>
<%= link_to "luan", phonetic_url(936) %>
<%= link_to "luān", phonetic_url(932) %>
<%= link_to "luán", phonetic_url(933) %>
<%= link_to "luǎn", phonetic_url(934) %>
<%= link_to "luàn", phonetic_url(935) %>
<%= link_to "lüe", phonetic_url(941) %>
<%= link_to "lüē", phonetic_url(937) %>
<%= link_to "lüé", phonetic_url(938) %>
<%= link_to "lüě", phonetic_url(939) %>
<%= link_to "lüè", phonetic_url(940) %>
<%= link_to "lun", phonetic_url(946) %>
<%= link_to "lūn", phonetic_url(942) %>
<%= link_to "lún", phonetic_url(943) %>
<%= link_to "lǔn", phonetic_url(944) %>
<%= link_to "lùn", phonetic_url(945) %>
<%= link_to "luo", phonetic_url(951) %>
<%= link_to "luō", phonetic_url(947) %>
<%= link_to "luó", phonetic_url(948) %>
<%= link_to "luǒ", phonetic_url(949) %>
<%= link_to "luò", phonetic_url(950) %>
</p><h4>m</h4><p>
<%= link_to "ma", phonetic_url(957) %>
<%= link_to "mā", phonetic_url(953) %>
<%= link_to "má", phonetic_url(954) %>
<%= link_to "mǎ", phonetic_url(955) %>
<%= link_to "mà", phonetic_url(956) %>
<%= link_to "mai", phonetic_url(962) %>
<%= link_to "māi", phonetic_url(958) %>
<%= link_to "mái", phonetic_url(959) %>
<%= link_to "mǎi", phonetic_url(960) %>
<%= link_to "mài", phonetic_url(961) %>
<%= link_to "man", phonetic_url(967) %>
<%= link_to "mān", phonetic_url(963) %>
<%= link_to "mán", phonetic_url(964) %>
<%= link_to "mǎn", phonetic_url(965) %>
<%= link_to "màn", phonetic_url(966) %>
<%= link_to "mang", phonetic_url(972) %>
<%= link_to "māng", phonetic_url(968) %>
<%= link_to "máng", phonetic_url(969) %>
<%= link_to "mǎng", phonetic_url(970) %>
<%= link_to "màng", phonetic_url(971) %>
<%= link_to "mao", phonetic_url(977) %>
<%= link_to "māo", phonetic_url(973) %>
<%= link_to "máo", phonetic_url(974) %>
<%= link_to "mǎo", phonetic_url(975) %>
<%= link_to "mào", phonetic_url(976) %>
<%= link_to "me", phonetic_url(982) %>
<%= link_to "mē", phonetic_url(978) %>
<%= link_to "mé", phonetic_url(979) %>
<%= link_to "mě", phonetic_url(980) %>
<%= link_to "mè", phonetic_url(981) %>
<%= link_to "mei", phonetic_url(987) %>
<%= link_to "mēi", phonetic_url(983) %>
<%= link_to "méi", phonetic_url(984) %>
<%= link_to "měi", phonetic_url(985) %>
<%= link_to "mèi", phonetic_url(986) %>
<%= link_to "men", phonetic_url(992) %>
<%= link_to "mēn", phonetic_url(988) %>
<%= link_to "mén", phonetic_url(989) %>
<%= link_to "měn", phonetic_url(990) %>
<%= link_to "mèn", phonetic_url(991) %>
<%= link_to "meng", phonetic_url(997) %>
<%= link_to "mēng", phonetic_url(993) %>
<%= link_to "méng", phonetic_url(994) %>
<%= link_to "měng", phonetic_url(995) %>
<%= link_to "mèng", phonetic_url(996) %>
<%= link_to "mi", phonetic_url(1002) %>
<%= link_to "mī", phonetic_url(998) %>
<%= link_to "mí", phonetic_url(999) %>
<%= link_to "mǐ", phonetic_url(1000) %>
<%= link_to "mì", phonetic_url(1001) %>
<%= link_to "mian", phonetic_url(1007) %>
<%= link_to "miān", phonetic_url(1003) %>
<%= link_to "mián", phonetic_url(1004) %>
<%= link_to "miǎn", phonetic_url(1005) %>
<%= link_to "miàn", phonetic_url(1006) %>
<%= link_to "miao", phonetic_url(1012) %>
<%= link_to "miāo", phonetic_url(1008) %>
<%= link_to "miáo", phonetic_url(1009) %>
<%= link_to "miǎo", phonetic_url(1010) %>
<%= link_to "miào", phonetic_url(1011) %>
<%= link_to "mie", phonetic_url(1017) %>
<%= link_to "miē", phonetic_url(1013) %>
<%= link_to "mié", phonetic_url(1014) %>
<%= link_to "miě", phonetic_url(1015) %>
<%= link_to "miè", phonetic_url(1016) %>
<%= link_to "min", phonetic_url(1022) %>
<%= link_to "mīn", phonetic_url(1018) %>
<%= link_to "mín", phonetic_url(1019) %>
<%= link_to "mǐn", phonetic_url(1020) %>
<%= link_to "mìn", phonetic_url(1021) %>
<%= link_to "ming", phonetic_url(1027) %>
<%= link_to "mīng", phonetic_url(1023) %>
<%= link_to "míng", phonetic_url(1024) %>
<%= link_to "mǐng", phonetic_url(1025) %>
<%= link_to "mìng", phonetic_url(1026) %>
<%= link_to "miu", phonetic_url(1032) %>
<%= link_to "miū", phonetic_url(1028) %>
<%= link_to "miú", phonetic_url(1029) %>
<%= link_to "miǔ", phonetic_url(1030) %>
<%= link_to "miù", phonetic_url(1031) %>
<%= link_to "mo", phonetic_url(1037) %>
<%= link_to "mō", phonetic_url(1033) %>
<%= link_to "mó", phonetic_url(1034) %>
<%= link_to "mǒ", phonetic_url(1035) %>
<%= link_to "mò", phonetic_url(1036) %>
<%= link_to "mou", phonetic_url(1042) %>
<%= link_to "mōu", phonetic_url(1038) %>
<%= link_to "móu", phonetic_url(1039) %>
<%= link_to "mǒu", phonetic_url(1040) %>
<%= link_to "mòu", phonetic_url(1041) %>
<%= link_to "mu", phonetic_url(1047) %>
<%= link_to "mū", phonetic_url(1043) %>
<%= link_to "mú", phonetic_url(1044) %>
<%= link_to "mǔ", phonetic_url(1045) %>
<%= link_to "mù", phonetic_url(1046) %>
</p><h4>n</h4><p>
<%= link_to "n", phonetic_url(1048) %>
<%= link_to "ń", phonetic_url(2230) %>
<%= link_to "ň", phonetic_url(2231) %>
<%= link_to "ng", phonetic_url(2089) %>
<%= link_to "ńg", phonetic_url(2227) %>
<%= link_to "ňg", phonetic_url(2228) %>
<%= link_to "na", phonetic_url(1053) %>
<%= link_to "nā", phonetic_url(1049) %>
<%= link_to "ná", phonetic_url(1050) %>
<%= link_to "nǎ", phonetic_url(1051) %>
<%= link_to "nà", phonetic_url(1052) %>
<%= link_to "nai", phonetic_url(1058) %>
<%= link_to "nāi", phonetic_url(1054) %>
<%= link_to "nái", phonetic_url(1055) %>
<%= link_to "nǎi", phonetic_url(1056) %>
<%= link_to "nài", phonetic_url(1057) %>
<%= link_to "nan", phonetic_url(1063) %>
<%= link_to "nān", phonetic_url(1059) %>
<%= link_to "nán", phonetic_url(1060) %>
<%= link_to "nǎn", phonetic_url(1061) %>
<%= link_to "nàn", phonetic_url(1062) %>
<%= link_to "nang", phonetic_url(1068) %>
<%= link_to "nāng", phonetic_url(1064) %>
<%= link_to "náng", phonetic_url(1065) %>
<%= link_to "nǎng", phonetic_url(1066) %>
<%= link_to "nàng", phonetic_url(1067) %>
<%= link_to "nao", phonetic_url(1073) %>
<%= link_to "nāo", phonetic_url(1069) %>
<%= link_to "náo", phonetic_url(1070) %>
<%= link_to "nǎo", phonetic_url(1071) %>
<%= link_to "nào", phonetic_url(1072) %>
<%= link_to "ne", phonetic_url(1078) %>
<%= link_to "nē", phonetic_url(1074) %>
<%= link_to "né", phonetic_url(1075) %>
<%= link_to "ně", phonetic_url(1076) %>
<%= link_to "nè", phonetic_url(1077) %>
<%= link_to "nei", phonetic_url(1083) %>
<%= link_to "nēi", phonetic_url(1079) %>
<%= link_to "néi", phonetic_url(1080) %>
<%= link_to "něi", phonetic_url(1081) %>
<%= link_to "nèi", phonetic_url(1082) %>
<%= link_to "nen", phonetic_url(1088) %>
<%= link_to "nēn", phonetic_url(1084) %>
<%= link_to "nén", phonetic_url(1085) %>
<%= link_to "něn", phonetic_url(1086) %>
<%= link_to "nèn", phonetic_url(1087) %>
<%= link_to "neng", phonetic_url(1093) %>
<%= link_to "nēng", phonetic_url(1089) %>
<%= link_to "néng", phonetic_url(1090) %>
<%= link_to "něng", phonetic_url(1091) %>
<%= link_to "nèng", phonetic_url(1092) %>
<%= link_to "ni", phonetic_url(1098) %>
<%= link_to "nī", phonetic_url(1094) %>
<%= link_to "ní", phonetic_url(1095) %>
<%= link_to "nǐ", phonetic_url(1096) %>
<%= link_to "nì", phonetic_url(1097) %>
<%= link_to "nian", phonetic_url(1103) %>
<%= link_to "niān", phonetic_url(1099) %>
<%= link_to "nián", phonetic_url(1100) %>
<%= link_to "niǎn", phonetic_url(1101) %>
<%= link_to "niàn", phonetic_url(1102) %>
<%= link_to "niang", phonetic_url(1108) %>
<%= link_to "niāng", phonetic_url(1104) %>
<%= link_to "niáng", phonetic_url(1105) %>
<%= link_to "niǎng", phonetic_url(1106) %>
<%= link_to "niàng", phonetic_url(1107) %>
<%= link_to "niao", phonetic_url(1113) %>
<%= link_to "niāo", phonetic_url(1109) %>
<%= link_to "niáo", phonetic_url(1110) %>
<%= link_to "niǎo", phonetic_url(1111) %>
<%= link_to "niào", phonetic_url(1112) %>
<%= link_to "nie", phonetic_url(1118) %>
<%= link_to "niē", phonetic_url(1114) %>
<%= link_to "nié", phonetic_url(1115) %>
<%= link_to "niě", phonetic_url(1116) %>
<%= link_to "niè", phonetic_url(1117) %>
<%= link_to "nin", phonetic_url(1123) %>
<%= link_to "nīn", phonetic_url(1119) %>
<%= link_to "nín", phonetic_url(1120) %>
<%= link_to "nǐn", phonetic_url(1121) %>
<%= link_to "nìn", phonetic_url(1122) %>
<%= link_to "ning", phonetic_url(1128) %>
<%= link_to "nīng", phonetic_url(1124) %>
<%= link_to "níng", phonetic_url(1125) %>
<%= link_to "nǐng", phonetic_url(1126) %>
<%= link_to "nìng", phonetic_url(1127) %>
<%= link_to "niu", phonetic_url(1133) %>
<%= link_to "niū", phonetic_url(1129) %>
<%= link_to "niú", phonetic_url(1130) %>
<%= link_to "niǔ", phonetic_url(1131) %>
<%= link_to "niù", phonetic_url(1132) %>
<%= link_to "nong", phonetic_url(1138) %>
<%= link_to "nōng", phonetic_url(1134) %>
<%= link_to "nóng", phonetic_url(1135) %>
<%= link_to "nǒng", phonetic_url(1136) %>
<%= link_to "nòng", phonetic_url(1137) %>
<%= link_to "nòu", phonetic_url(2237) %>
<%= link_to "nu", phonetic_url(1143) %>
<%= link_to "nū", phonetic_url(1139) %>
<%= link_to "nú", phonetic_url(1140) %>
<%= link_to "nǔ", phonetic_url(1141) %>
<%= link_to "nù", phonetic_url(1142) %>
<%= link_to "nü", phonetic_url(1148) %>
<%= link_to "nǖ", phonetic_url(1144) %>
<%= link_to "nǘ", phonetic_url(1145) %>
<%= link_to "nǚ", phonetic_url(1146) %>
<%= link_to "nǜ", phonetic_url(1147) %>
<%= link_to "nuan", phonetic_url(1153) %>
<%= link_to "nuān", phonetic_url(1149) %>
<%= link_to "nuán", phonetic_url(1150) %>
<%= link_to "nuǎn", phonetic_url(1151) %>
<%= link_to "nuàn", phonetic_url(1152) %>
<%= link_to "nüe", phonetic_url(1158) %>
<%= link_to "nüē", phonetic_url(1154) %>
<%= link_to "nüé", phonetic_url(1155) %>
<%= link_to "nüě", phonetic_url(1156) %>
<%= link_to "nüè", phonetic_url(1157) %>
<%= link_to "nuo", phonetic_url(1163) %>
<%= link_to "nuō", phonetic_url(1159) %>
<%= link_to "nuó", phonetic_url(1160) %>
<%= link_to "nuǒ", phonetic_url(1161) %>
<%= link_to "nuò", phonetic_url(1162) %>
</p><h4>o</h4><p>
<%= link_to "o", phonetic_url(1168) %>
<%= link_to "ō", phonetic_url(1164) %>
<%= link_to "ó", phonetic_url(1165) %>
<%= link_to "ǒ", phonetic_url(1166) %>
<%= link_to "ò", phonetic_url(1167) %>
<%= link_to "ong", phonetic_url(1173) %>
<%= link_to "ōng", phonetic_url(1169) %>
<%= link_to "óng", phonetic_url(1170) %>
<%= link_to "ǒng", phonetic_url(1171) %>
<%= link_to "òng", phonetic_url(1172) %>
<%= link_to "ou", phonetic_url(1178) %>
<%= link_to "ōu", phonetic_url(1174) %>
<%= link_to "óu", phonetic_url(1175) %>
<%= link_to "ǒu", phonetic_url(1176) %>
<%= link_to "òu", phonetic_url(1177) %>
</p><h4>p</h4><p>
<%= link_to "pa", phonetic_url(1184) %>
<%= link_to "pā", phonetic_url(1180) %>
<%= link_to "pá", phonetic_url(1181) %>
<%= link_to "pǎ", phonetic_url(1182) %>
<%= link_to "pà", phonetic_url(1183) %>
<%= link_to "pai", phonetic_url(1189) %>
<%= link_to "pāi", phonetic_url(1185) %>
<%= link_to "pái", phonetic_url(1186) %>
<%= link_to "pǎi", phonetic_url(1187) %>
<%= link_to "pài", phonetic_url(1188) %>
<%= link_to "pan", phonetic_url(1194) %>
<%= link_to "pān", phonetic_url(1190) %>
<%= link_to "pán", phonetic_url(1191) %>
<%= link_to "pǎn", phonetic_url(1192) %>
<%= link_to "pàn", phonetic_url(1193) %>
<%= link_to "pang", phonetic_url(1199) %>
<%= link_to "pāng", phonetic_url(1195) %>
<%= link_to "páng", phonetic_url(1196) %>
<%= link_to "pǎng", phonetic_url(1197) %>
<%= link_to "pàng", phonetic_url(1198) %>
<%= link_to "pao", phonetic_url(1204) %>
<%= link_to "pāo", phonetic_url(1200) %>
<%= link_to "páo", phonetic_url(1201) %>
<%= link_to "pǎo", phonetic_url(1202) %>
<%= link_to "pào", phonetic_url(1203) %>
<%= link_to "pei", phonetic_url(1209) %>
<%= link_to "pēi", phonetic_url(1205) %>
<%= link_to "péi", phonetic_url(1206) %>
<%= link_to "pěi", phonetic_url(1207) %>
<%= link_to "pèi", phonetic_url(1208) %>
<%= link_to "pen", phonetic_url(1214) %>
<%= link_to "pēn", phonetic_url(1210) %>
<%= link_to "pén", phonetic_url(1211) %>
<%= link_to "pěn", phonetic_url(1212) %>
<%= link_to "pèn", phonetic_url(1213) %>
<%= link_to "peng", phonetic_url(1219) %>
<%= link_to "pēng", phonetic_url(1215) %>
<%= link_to "péng", phonetic_url(1216) %>
<%= link_to "pěng", phonetic_url(1217) %>
<%= link_to "pèng", phonetic_url(1218) %>
<%= link_to "pi", phonetic_url(1224) %>
<%= link_to "pī", phonetic_url(1220) %>
<%= link_to "pí", phonetic_url(1221) %>
<%= link_to "pǐ", phonetic_url(1222) %>
<%= link_to "pì", phonetic_url(1223) %>
<%= link_to "pian", phonetic_url(1229) %>
<%= link_to "piān", phonetic_url(1225) %>
<%= link_to "pián", phonetic_url(1226) %>
<%= link_to "piǎn", phonetic_url(1227) %>
<%= link_to "piàn", phonetic_url(1228) %>
<%= link_to "piao", phonetic_url(1234) %>
<%= link_to "piāo", phonetic_url(1230) %>
<%= link_to "piáo", phonetic_url(1231) %>
<%= link_to "piǎo", phonetic_url(1232) %>
<%= link_to "piào", phonetic_url(1233) %>
<%= link_to "pie", phonetic_url(1239) %>
<%= link_to "piē", phonetic_url(1235) %>
<%= link_to "pié", phonetic_url(1236) %>
<%= link_to "piě", phonetic_url(1237) %>
<%= link_to "piè", phonetic_url(1238) %>
<%= link_to "pin", phonetic_url(1244) %>
<%= link_to "pīn", phonetic_url(1240) %>
<%= link_to "pín", phonetic_url(1241) %>
<%= link_to "pǐn", phonetic_url(1242) %>
<%= link_to "pìn", phonetic_url(1243) %>
<%= link_to "ping", phonetic_url(1249) %>
<%= link_to "pīng", phonetic_url(1245) %>
<%= link_to "píng", phonetic_url(1246) %>
<%= link_to "pǐng", phonetic_url(1247) %>
<%= link_to "pìng", phonetic_url(1248) %>
<%= link_to "po", phonetic_url(1254) %>
<%= link_to "pō", phonetic_url(1250) %>
<%= link_to "pó", phonetic_url(1251) %>
<%= link_to "pǒ", phonetic_url(1252) %>
<%= link_to "pò", phonetic_url(1253) %>
<%= link_to "pou", phonetic_url(1259) %>
<%= link_to "pōu", phonetic_url(1255) %>
<%= link_to "póu", phonetic_url(1256) %>
<%= link_to "pǒu", phonetic_url(1257) %>
<%= link_to "pòu", phonetic_url(1258) %>
<%= link_to "pu", phonetic_url(1264) %>
<%= link_to "pū", phonetic_url(1260) %>
<%= link_to "pú", phonetic_url(1261) %>
<%= link_to "pǔ", phonetic_url(1262) %>
<%= link_to "pù", phonetic_url(1263) %>
</p><h4>q</h4><p>
<%= link_to "qi", phonetic_url(1270) %>
<%= link_to "qī", phonetic_url(1266) %>
<%= link_to "qí", phonetic_url(1267) %>
<%= link_to "qǐ", phonetic_url(1268) %>
<%= link_to "qì", phonetic_url(1269) %>
<%= link_to "qia", phonetic_url(1275) %>
<%= link_to "qiā", phonetic_url(1271) %>
<%= link_to "qiá", phonetic_url(1272) %>
<%= link_to "qiǎ", phonetic_url(1273) %>
<%= link_to "qià", phonetic_url(1274) %>
<%= link_to "qian", phonetic_url(1280) %>
<%= link_to "qiān", phonetic_url(1276) %>
<%= link_to "qián", phonetic_url(1277) %>
<%= link_to "qiǎn", phonetic_url(1278) %>
<%= link_to "qiàn", phonetic_url(1279) %>
<%= link_to "qiang", phonetic_url(1285) %>
<%= link_to "qiāng", phonetic_url(1281) %>
<%= link_to "qiáng", phonetic_url(1282) %>
<%= link_to "qiǎng", phonetic_url(1283) %>
<%= link_to "qiàng", phonetic_url(1284) %>
<%= link_to "qiao", phonetic_url(1290) %>
<%= link_to "qiāo", phonetic_url(1286) %>
<%= link_to "qiáo", phonetic_url(1287) %>
<%= link_to "qiǎo", phonetic_url(1288) %>
<%= link_to "qiào", phonetic_url(1289) %>
<%= link_to "qie", phonetic_url(1295) %>
<%= link_to "qiē", phonetic_url(1291) %>
<%= link_to "qié", phonetic_url(1292) %>
<%= link_to "qiě", phonetic_url(1293) %>
<%= link_to "qiè", phonetic_url(1294) %>
<%= link_to "qin", phonetic_url(1300) %>
<%= link_to "qīn", phonetic_url(1296) %>
<%= link_to "qín", phonetic_url(1297) %>
<%= link_to "qǐn", phonetic_url(1298) %>
<%= link_to "qìn", phonetic_url(1299) %>
<%= link_to "qing", phonetic_url(1305) %>
<%= link_to "qīng", phonetic_url(1301) %>
<%= link_to "qíng", phonetic_url(1302) %>
<%= link_to "qǐng", phonetic_url(1303) %>
<%= link_to "qìng", phonetic_url(1304) %>
<%= link_to "qiong", phonetic_url(1310) %>
<%= link_to "qiōng", phonetic_url(1306) %>
<%= link_to "qióng", phonetic_url(1307) %>
<%= link_to "qiǒng", phonetic_url(1308) %>
<%= link_to "qiòng", phonetic_url(1309) %>
<%= link_to "qiu", phonetic_url(1315) %>
<%= link_to "qiū", phonetic_url(1311) %>
<%= link_to "qiú", phonetic_url(1312) %>
<%= link_to "qiǔ", phonetic_url(1313) %>
<%= link_to "qiù", phonetic_url(1314) %>
<%= link_to "qu", phonetic_url(1320) %>
<%= link_to "qū", phonetic_url(1316) %>
<%= link_to "qú", phonetic_url(1317) %>
<%= link_to "qǔ", phonetic_url(1318) %>
<%= link_to "qù", phonetic_url(1319) %>
<%= link_to "quan", phonetic_url(1325) %>
<%= link_to "quān", phonetic_url(1321) %>
<%= link_to "quán", phonetic_url(1322) %>
<%= link_to "quǎn", phonetic_url(1323) %>
<%= link_to "quàn", phonetic_url(1324) %>
<%= link_to "que", phonetic_url(1330) %>
<%= link_to "quē", phonetic_url(1326) %>
<%= link_to "qué", phonetic_url(1327) %>
<%= link_to "quě", phonetic_url(1328) %>
<%= link_to "què", phonetic_url(1329) %>
<%= link_to "qun", phonetic_url(1335) %>
<%= link_to "qūn", phonetic_url(1331) %>
<%= link_to "qún", phonetic_url(1332) %>
<%= link_to "qǔn", phonetic_url(1333) %>
<%= link_to "qùn", phonetic_url(1334) %>
</p><h4>r</h4><p>
<%= link_to "ra", phonetic_url(1340) %>
<%= link_to "rā", phonetic_url(1336) %>
<%= link_to "rá", phonetic_url(1337) %>
<%= link_to "rǎ", phonetic_url(1338) %>
<%= link_to "rà", phonetic_url(1339) %>
<%= link_to "ran", phonetic_url(1345) %>
<%= link_to "rān", phonetic_url(1341) %>
<%= link_to "rán", phonetic_url(1342) %>
<%= link_to "rǎn", phonetic_url(1343) %>
<%= link_to "ràn", phonetic_url(1344) %>
<%= link_to "rang", phonetic_url(1350) %>
<%= link_to "rāng", phonetic_url(1346) %>
<%= link_to "ráng", phonetic_url(1347) %>
<%= link_to "rǎng", phonetic_url(1348) %>
<%= link_to "ràng", phonetic_url(1349) %>
<%= link_to "rao", phonetic_url(1355) %>
<%= link_to "rāo", phonetic_url(1351) %>
<%= link_to "ráo", phonetic_url(1352) %>
<%= link_to "rǎo", phonetic_url(1353) %>
<%= link_to "rào", phonetic_url(1354) %>
<%= link_to "re", phonetic_url(1360) %>
<%= link_to "rē", phonetic_url(1356) %>
<%= link_to "ré", phonetic_url(1357) %>
<%= link_to "rě", phonetic_url(1358) %>
<%= link_to "rè", phonetic_url(1359) %>
<%= link_to "ren", phonetic_url(1365) %>
<%= link_to "rēn", phonetic_url(1361) %>
<%= link_to "rén", phonetic_url(1362) %>
<%= link_to "rěn", phonetic_url(1363) %>
<%= link_to "rèn", phonetic_url(1364) %>
<%= link_to "reng", phonetic_url(1370) %>
<%= link_to "rēng", phonetic_url(1366) %>
<%= link_to "réng", phonetic_url(1367) %>
<%= link_to "rěng", phonetic_url(1368) %>
<%= link_to "rèng", phonetic_url(1369) %>
<%= link_to "ri", phonetic_url(1375) %>
<%= link_to "rī", phonetic_url(1371) %>
<%= link_to "rí", phonetic_url(1372) %>
<%= link_to "rǐ", phonetic_url(1373) %>
<%= link_to "rì", phonetic_url(1374) %>
<%= link_to "rong", phonetic_url(1380) %>
<%= link_to "rōng", phonetic_url(1376) %>
<%= link_to "róng", phonetic_url(1377) %>
<%= link_to "rǒng", phonetic_url(1378) %>
<%= link_to "ròng", phonetic_url(1379) %>
<%= link_to "rou", phonetic_url(1385) %>
<%= link_to "rōu", phonetic_url(1381) %>
<%= link_to "róu", phonetic_url(1382) %>
<%= link_to "rǒu", phonetic_url(1383) %>
<%= link_to "ròu", phonetic_url(1384) %>
<%= link_to "ru", phonetic_url(1390) %>
<%= link_to "rū", phonetic_url(1386) %>
<%= link_to "rú", phonetic_url(1387) %>
<%= link_to "rǔ", phonetic_url(1388) %>
<%= link_to "rù", phonetic_url(1389) %>
<%= link_to "ruan", phonetic_url(1395) %>
<%= link_to "ruān", phonetic_url(1391) %>
<%= link_to "ruán", phonetic_url(1392) %>
<%= link_to "ruǎn", phonetic_url(1393) %>
<%= link_to "ruàn", phonetic_url(1394) %>
<%= link_to "rui", phonetic_url(1400) %>
<%= link_to "ruī", phonetic_url(1396) %>
<%= link_to "ruí", phonetic_url(1397) %>
<%= link_to "ruǐ", phonetic_url(1398) %>
<%= link_to "ruì", phonetic_url(1399) %>
<%= link_to "run", phonetic_url(1405) %>
<%= link_to "rūn", phonetic_url(1401) %>
<%= link_to "rún", phonetic_url(1402) %>
<%= link_to "rǔn", phonetic_url(1403) %>
<%= link_to "rùn", phonetic_url(1404) %>
<%= link_to "ruo", phonetic_url(1410) %>
<%= link_to "ruō", phonetic_url(1406) %>
<%= link_to "ruó", phonetic_url(1407) %>
<%= link_to "ruǒ", phonetic_url(1408) %>
<%= link_to "ruò", phonetic_url(1409) %>
</p><h4>s</h4><p>
<%= link_to "sa", phonetic_url(1416) %>
<%= link_to "sā", phonetic_url(1412) %>
<%= link_to "sá", phonetic_url(1413) %>
<%= link_to "sǎ", phonetic_url(1414) %>
<%= link_to "sà", phonetic_url(1415) %>
<%= link_to "sai", phonetic_url(1421) %>
<%= link_to "sāi", phonetic_url(1417) %>
<%= link_to "sái", phonetic_url(1418) %>
<%= link_to "sǎi", phonetic_url(1419) %>
<%= link_to "sài", phonetic_url(1420) %>
<%= link_to "san", phonetic_url(1426) %>
<%= link_to "sān", phonetic_url(1422) %>
<%= link_to "sán", phonetic_url(1423) %>
<%= link_to "sǎn", phonetic_url(1424) %>
<%= link_to "sàn", phonetic_url(1425) %>
<%= link_to "sang", phonetic_url(1431) %>
<%= link_to "sāng", phonetic_url(1427) %>
<%= link_to "sáng", phonetic_url(1428) %>
<%= link_to "sǎng", phonetic_url(1429) %>
<%= link_to "sàng", phonetic_url(1430) %>
<%= link_to "sao", phonetic_url(1436) %>
<%= link_to "sāo", phonetic_url(1432) %>
<%= link_to "sáo", phonetic_url(1433) %>
<%= link_to "sǎo", phonetic_url(1434) %>
<%= link_to "sào", phonetic_url(1435) %>
<%= link_to "se", phonetic_url(1441) %>
<%= link_to "sē", phonetic_url(1437) %>
<%= link_to "sé", phonetic_url(1438) %>
<%= link_to "sě", phonetic_url(1439) %>
<%= link_to "sè", phonetic_url(1440) %>
<%= link_to "sen", phonetic_url(1446) %>
<%= link_to "sēn", phonetic_url(1442) %>
<%= link_to "sén", phonetic_url(1443) %>
<%= link_to "sěn", phonetic_url(1444) %>
<%= link_to "sèn", phonetic_url(1445) %>
<%= link_to "seng", phonetic_url(1451) %>
<%= link_to "sēng", phonetic_url(1447) %>
<%= link_to "séng", phonetic_url(1448) %>
<%= link_to "sěng", phonetic_url(1449) %>
<%= link_to "sèng", phonetic_url(1450) %>
<%= link_to "sha", phonetic_url(1457) %>
<%= link_to "shā", phonetic_url(1453) %>
<%= link_to "shá", phonetic_url(1454) %>
<%= link_to "shǎ", phonetic_url(1455) %>
<%= link_to "shà", phonetic_url(1456) %>
<%= link_to "shai", phonetic_url(1462) %>
<%= link_to "shāi", phonetic_url(1458) %>
<%= link_to "shái", phonetic_url(1459) %>
<%= link_to "shǎi", phonetic_url(1460) %>
<%= link_to "shài", phonetic_url(1461) %>
<%= link_to "shan", phonetic_url(1467) %>
<%= link_to "shān", phonetic_url(1463) %>
<%= link_to "shán", phonetic_url(1464) %>
<%= link_to "shǎn", phonetic_url(1465) %>
<%= link_to "shàn", phonetic_url(1466) %>
<%= link_to "shang", phonetic_url(1472) %>
<%= link_to "shāng", phonetic_url(1468) %>
<%= link_to "sháng", phonetic_url(1469) %>
<%= link_to "shǎng", phonetic_url(1470) %>
<%= link_to "shàng", phonetic_url(1471) %>
<%= link_to "shao", phonetic_url(1477) %>
<%= link_to "shāo", phonetic_url(1473) %>
<%= link_to "sháo", phonetic_url(1474) %>
<%= link_to "shǎo", phonetic_url(1475) %>
<%= link_to "shào", phonetic_url(1476) %>
<%= link_to "she", phonetic_url(1482) %>
<%= link_to "shē", phonetic_url(1478) %>
<%= link_to "shé", phonetic_url(1479) %>
<%= link_to "shě", phonetic_url(1480) %>
<%= link_to "shè", phonetic_url(1481) %>
<%= link_to "shei", phonetic_url(1487) %>
<%= link_to "shēi", phonetic_url(1483) %>
<%= link_to "shéi", phonetic_url(1484) %>
<%= link_to "shěi", phonetic_url(1485) %>
<%= link_to "shèi", phonetic_url(1486) %>
<%= link_to "shen", phonetic_url(1492) %>
<%= link_to "shēn", phonetic_url(1488) %>
<%= link_to "shén", phonetic_url(1489) %>
<%= link_to "shěn", phonetic_url(1490) %>
<%= link_to "shèn", phonetic_url(1491) %>
<%= link_to "sheng", phonetic_url(1497) %>
<%= link_to "shēng", phonetic_url(1493) %>
<%= link_to "shéng", phonetic_url(1494) %>
<%= link_to "shěng", phonetic_url(1495) %>
<%= link_to "shèng", phonetic_url(1496) %>
<%= link_to "shi", phonetic_url(1502) %>
<%= link_to "shī", phonetic_url(1498) %>
<%= link_to "shí", phonetic_url(1499) %>
<%= link_to "shǐ", phonetic_url(1500) %>
<%= link_to "shì", phonetic_url(1501) %>
<%= link_to "shou", phonetic_url(1507) %>
<%= link_to "shōu", phonetic_url(1503) %>
<%= link_to "shóu", phonetic_url(1504) %>
<%= link_to "shǒu", phonetic_url(1505) %>
<%= link_to "shòu", phonetic_url(1506) %>
<%= link_to "shu", phonetic_url(1512) %>
<%= link_to "shū", phonetic_url(1508) %>
<%= link_to "shú", phonetic_url(1509) %>
<%= link_to "shǔ", phonetic_url(1510) %>
<%= link_to "shù", phonetic_url(1511) %>
<%= link_to "shua", phonetic_url(1517) %>
<%= link_to "shuā", phonetic_url(1513) %>
<%= link_to "shuá", phonetic_url(1514) %>
<%= link_to "shuǎ", phonetic_url(1515) %>
<%= link_to "shuà", phonetic_url(1516) %>
<%= link_to "shuai", phonetic_url(1522) %>
<%= link_to "shuāi", phonetic_url(1518) %>
<%= link_to "shuái", phonetic_url(1519) %>
<%= link_to "shuǎi", phonetic_url(1520) %>
<%= link_to "shuài", phonetic_url(1521) %>
<%= link_to "shuan", phonetic_url(1527) %>
<%= link_to "shuān", phonetic_url(1523) %>
<%= link_to "shuán", phonetic_url(1524) %>
<%= link_to "shuǎn", phonetic_url(1525) %>
<%= link_to "shuàn", phonetic_url(1526) %>
<%= link_to "shuang", phonetic_url(1532) %>
<%= link_to "shuāng", phonetic_url(1528) %>
<%= link_to "shuáng", phonetic_url(1529) %>
<%= link_to "shuǎng", phonetic_url(1530) %>
<%= link_to "shuàng", phonetic_url(1531) %>
<%= link_to "shui", phonetic_url(1537) %>
<%= link_to "shuī", phonetic_url(1533) %>
<%= link_to "shuí", phonetic_url(1534) %>
<%= link_to "shuǐ", phonetic_url(1535) %>
<%= link_to "shuì", phonetic_url(1536) %>
<%= link_to "shun", phonetic_url(1542) %>
<%= link_to "shūn", phonetic_url(1538) %>
<%= link_to "shún", phonetic_url(1539) %>
<%= link_to "shǔn", phonetic_url(1540) %>
<%= link_to "shùn", phonetic_url(1541) %>
<%= link_to "shuo", phonetic_url(1547) %>
<%= link_to "shuō", phonetic_url(1543) %>
<%= link_to "shuó", phonetic_url(1544) %>
<%= link_to "shuǒ", phonetic_url(1545) %>
<%= link_to "shuò", phonetic_url(1546) %>
<%= link_to "si", phonetic_url(1552) %>
<%= link_to "sī", phonetic_url(1548) %>
<%= link_to "sí", phonetic_url(1549) %>
<%= link_to "sǐ", phonetic_url(1550) %>
<%= link_to "sì", phonetic_url(1551) %>
<%= link_to "song", phonetic_url(1557) %>
<%= link_to "sōng", phonetic_url(1553) %>
<%= link_to "sóng", phonetic_url(1554) %>
<%= link_to "sǒng", phonetic_url(1555) %>
<%= link_to "sòng", phonetic_url(1556) %>
<%= link_to "sou", phonetic_url(1562) %>
<%= link_to "sōu", phonetic_url(1558) %>
<%= link_to "sóu", phonetic_url(1559) %>
<%= link_to "sǒu", phonetic_url(1560) %>
<%= link_to "sòu", phonetic_url(1561) %>
<%= link_to "su", phonetic_url(1567) %>
<%= link_to "sū", phonetic_url(1563) %>
<%= link_to "sú", phonetic_url(1564) %>
<%= link_to "sǔ", phonetic_url(1565) %>
<%= link_to "sù", phonetic_url(1566) %>
<%= link_to "suan", phonetic_url(1572) %>
<%= link_to "suān", phonetic_url(1568) %>
<%= link_to "suán", phonetic_url(1569) %>
<%= link_to "suǎn", phonetic_url(1570) %>
<%= link_to "suàn", phonetic_url(1571) %>
<%= link_to "sui", phonetic_url(1577) %>
<%= link_to "suī", phonetic_url(1573) %>
<%= link_to "suí", phonetic_url(1574) %>
<%= link_to "suǐ", phonetic_url(1575) %>
<%= link_to "suì", phonetic_url(1576) %>
<%= link_to "sun", phonetic_url(1582) %>
<%= link_to "sūn", phonetic_url(1578) %>
<%= link_to "sún", phonetic_url(1579) %>
<%= link_to "sǔn", phonetic_url(1580) %>
<%= link_to "sùn", phonetic_url(1581) %>
<%= link_to "suo", phonetic_url(1587) %>
<%= link_to "suō", phonetic_url(1583) %>
<%= link_to "suó", phonetic_url(1584) %>
<%= link_to "suǒ", phonetic_url(1585) %>
<%= link_to "suò", phonetic_url(1586) %>
</p><h4>t</h4><p>
<%= link_to "ta", phonetic_url(1593) %>
<%= link_to "tā", phonetic_url(1589) %>
<%= link_to "tá", phonetic_url(1590) %>
<%= link_to "tǎ", phonetic_url(1591) %>
<%= link_to "tà", phonetic_url(1592) %>
<%= link_to "tai", phonetic_url(1598) %>
<%= link_to "tāi", phonetic_url(1594) %>
<%= link_to "tái", phonetic_url(1595) %>
<%= link_to "tǎi", phonetic_url(1596) %>
<%= link_to "tài", phonetic_url(1597) %>
<%= link_to "tan", phonetic_url(1603) %>
<%= link_to "tān", phonetic_url(1599) %>
<%= link_to "tán", phonetic_url(1600) %>
<%= link_to "tǎn", phonetic_url(1601) %>
<%= link_to "tàn", phonetic_url(1602) %>
<%= link_to "tang", phonetic_url(1608) %>
<%= link_to "tāng", phonetic_url(1604) %>
<%= link_to "táng", phonetic_url(1605) %>
<%= link_to "tǎng", phonetic_url(1606) %>
<%= link_to "tàng", phonetic_url(1607) %>
<%= link_to "tao", phonetic_url(1613) %>
<%= link_to "tāo", phonetic_url(1609) %>
<%= link_to "táo", phonetic_url(1610) %>
<%= link_to "tǎo", phonetic_url(1611) %>
<%= link_to "tào", phonetic_url(1612) %>
<%= link_to "te", phonetic_url(1618) %>
<%= link_to "tē", phonetic_url(1614) %>
<%= link_to "té", phonetic_url(1615) %>
<%= link_to "tě", phonetic_url(1616) %>
<%= link_to "tè", phonetic_url(1617) %>
<%= link_to "teng", phonetic_url(1623) %>
<%= link_to "tēng", phonetic_url(1619) %>
<%= link_to "téng", phonetic_url(1620) %>
<%= link_to "těng", phonetic_url(1621) %>
<%= link_to "tèng", phonetic_url(1622) %>
<%= link_to "ti", phonetic_url(1628) %>
<%= link_to "tī", phonetic_url(1624) %>
<%= link_to "tí", phonetic_url(1625) %>
<%= link_to "tǐ", phonetic_url(1626) %>
<%= link_to "tì", phonetic_url(1627) %>
<%= link_to "tian", phonetic_url(1633) %>
<%= link_to "tiān", phonetic_url(1629) %>
<%= link_to "tián", phonetic_url(1630) %>
<%= link_to "tiǎn", phonetic_url(1631) %>
<%= link_to "tiàn", phonetic_url(1632) %>
<%= link_to "tiao", phonetic_url(1638) %>
<%= link_to "tiāo", phonetic_url(1634) %>
<%= link_to "tiáo", phonetic_url(1635) %>
<%= link_to "tiǎo", phonetic_url(1636) %>
<%= link_to "tiào", phonetic_url(1637) %>
<%= link_to "tie", phonetic_url(1643) %>
<%= link_to "tiē", phonetic_url(1639) %>
<%= link_to "tié", phonetic_url(1640) %>
<%= link_to "tiě", phonetic_url(1641) %>
<%= link_to "tiè", phonetic_url(1642) %>
<%= link_to "ting", phonetic_url(1648) %>
<%= link_to "tīng", phonetic_url(1644) %>
<%= link_to "tíng", phonetic_url(1645) %>
<%= link_to "tǐng", phonetic_url(1646) %>
<%= link_to "tìng", phonetic_url(1647) %>
<%= link_to "tong", phonetic_url(1653) %>
<%= link_to "tōng", phonetic_url(1649) %>
<%= link_to "tóng", phonetic_url(1650) %>
<%= link_to "tǒng", phonetic_url(1651) %>
<%= link_to "tòng", phonetic_url(1652) %>
<%= link_to "tou", phonetic_url(1658) %>
<%= link_to "tōu", phonetic_url(1654) %>
<%= link_to "tóu", phonetic_url(1655) %>
<%= link_to "tǒu", phonetic_url(1656) %>
<%= link_to "tòu", phonetic_url(1657) %>
<%= link_to "tu", phonetic_url(1663) %>
<%= link_to "tū", phonetic_url(1659) %>
<%= link_to "tú", phonetic_url(1660) %>
<%= link_to "tǔ", phonetic_url(1661) %>
<%= link_to "tù", phonetic_url(1662) %>
<%= link_to "tuan", phonetic_url(1668) %>
<%= link_to "tuān", phonetic_url(1664) %>
<%= link_to "tuán", phonetic_url(1665) %>
<%= link_to "tuǎn", phonetic_url(1666) %>
<%= link_to "tuàn", phonetic_url(1667) %>
<%= link_to "tui", phonetic_url(1673) %>
<%= link_to "tuī", phonetic_url(1669) %>
<%= link_to "tuí", phonetic_url(1670) %>
<%= link_to "tuǐ", phonetic_url(1671) %>
<%= link_to "tuì", phonetic_url(1672) %>
<%= link_to "tun", phonetic_url(1678) %>
<%= link_to "tūn", phonetic_url(1674) %>
<%= link_to "tún", phonetic_url(1675) %>
<%= link_to "tǔn", phonetic_url(1676) %>
<%= link_to "tùn", phonetic_url(1677) %>
<%= link_to "tuo", phonetic_url(1683) %>
<%= link_to "tuō", phonetic_url(1679) %>
<%= link_to "tuó", phonetic_url(1680) %>
<%= link_to "tuǒ", phonetic_url(1681) %>
<%= link_to "tuò", phonetic_url(1682) %>
</p><h4>u</h4><p>
<%= link_to "u", phonetic_url(1688) %>
<%= link_to "ū", phonetic_url(1684) %>
<%= link_to "ú", phonetic_url(1685) %>
<%= link_to "ǔ", phonetic_url(1686) %>
<%= link_to "ù", phonetic_url(1687) %>
<%= link_to "ü", phonetic_url(1693) %>
<%= link_to "ǖ", phonetic_url(1689) %>
<%= link_to "ǘ", phonetic_url(1690) %>
<%= link_to "ǚ", phonetic_url(1691) %>
<%= link_to "ǜ", phonetic_url(1692) %>
<%= link_to "üe", phonetic_url(1698) %>
<%= link_to "üē", phonetic_url(1694) %>
<%= link_to "üé", phonetic_url(1695) %>
<%= link_to "üě", phonetic_url(1696) %>
<%= link_to "üè", phonetic_url(1697) %>
<%= link_to "ui", phonetic_url(1703) %>
<%= link_to "uī", phonetic_url(1699) %>
<%= link_to "uí", phonetic_url(1700) %>
<%= link_to "uǐ", phonetic_url(1701) %>
<%= link_to "uì", phonetic_url(1702) %>
<%= link_to "un", phonetic_url(1708) %>
<%= link_to "ūn", phonetic_url(1704) %>
<%= link_to "ún", phonetic_url(1705) %>
<%= link_to "ǔn", phonetic_url(1706) %>
<%= link_to "ùn", phonetic_url(1707) %>
<%= link_to "ün", phonetic_url(1713) %>
<%= link_to "ǖn", phonetic_url(1709) %>
<%= link_to "ǘn", phonetic_url(1710) %>
<%= link_to "ǚn", phonetic_url(1711) %>
<%= link_to "ǜn", phonetic_url(1712) %>
</p><h4>w</h4><p>
<%= link_to "wa", phonetic_url(1719) %>
<%= link_to "wā", phonetic_url(1715) %>
<%= link_to "wá", phonetic_url(1716) %>
<%= link_to "wǎ", phonetic_url(1717) %>
<%= link_to "wà", phonetic_url(1718) %>
<%= link_to "wai", phonetic_url(1724) %>
<%= link_to "wāi", phonetic_url(1720) %>
<%= link_to "wái", phonetic_url(1721) %>
<%= link_to "wǎi", phonetic_url(1722) %>
<%= link_to "wài", phonetic_url(1723) %>
<%= link_to "wan", phonetic_url(1729) %>
<%= link_to "wān", phonetic_url(1725) %>
<%= link_to "wán", phonetic_url(1726) %>
<%= link_to "wǎn", phonetic_url(1727) %>
<%= link_to "wàn", phonetic_url(1728) %>
<%= link_to "wang", phonetic_url(1734) %>
<%= link_to "wāng", phonetic_url(1730) %>
<%= link_to "wáng", phonetic_url(1731) %>
<%= link_to "wǎng", phonetic_url(1732) %>
<%= link_to "wàng", phonetic_url(1733) %>
<%= link_to "wei", phonetic_url(1739) %>
<%= link_to "wēi", phonetic_url(1735) %>
<%= link_to "wéi", phonetic_url(1736) %>
<%= link_to "wěi", phonetic_url(1737) %>
<%= link_to "wèi", phonetic_url(1738) %>
<%= link_to "wen", phonetic_url(1744) %>
<%= link_to "wēn", phonetic_url(1740) %>
<%= link_to "wén", phonetic_url(1741) %>
<%= link_to "wěn", phonetic_url(1742) %>
<%= link_to "wèn", phonetic_url(1743) %>
<%= link_to "weng", phonetic_url(1749) %>
<%= link_to "wēng", phonetic_url(1745) %>
<%= link_to "wéng", phonetic_url(1746) %>
<%= link_to "wěng", phonetic_url(1747) %>
<%= link_to "wèng", phonetic_url(1748) %>
<%= link_to "wo", phonetic_url(1754) %>
<%= link_to "wō", phonetic_url(1750) %>
<%= link_to "wó", phonetic_url(1751) %>
<%= link_to "wǒ", phonetic_url(1752) %>
<%= link_to "wò", phonetic_url(1753) %>
<%= link_to "wu", phonetic_url(1759) %>
<%= link_to "wū", phonetic_url(1755) %>
<%= link_to "wú", phonetic_url(1756) %>
<%= link_to "wǔ", phonetic_url(1757) %>
<%= link_to "wù", phonetic_url(1758) %>
</p><h4>x</h4><p>
<%= link_to "xi", phonetic_url(1765) %>
<%= link_to "xī", phonetic_url(1761) %>
<%= link_to "xí", phonetic_url(1762) %>
<%= link_to "xǐ", phonetic_url(1763) %>
<%= link_to "xì", phonetic_url(1764) %>
<%= link_to "xia", phonetic_url(1770) %>
<%= link_to "xiā", phonetic_url(1766) %>
<%= link_to "xiá", phonetic_url(1767) %>
<%= link_to "xiǎ", phonetic_url(1768) %>
<%= link_to "xià", phonetic_url(1769) %>
<%= link_to "xian", phonetic_url(1775) %>
<%= link_to "xiān", phonetic_url(1771) %>
<%= link_to "xián", phonetic_url(1772) %>
<%= link_to "xiǎn", phonetic_url(1773) %>
<%= link_to "xiàn", phonetic_url(1774) %>
<%= link_to "xiang", phonetic_url(1780) %>
<%= link_to "xiāng", phonetic_url(1776) %>
<%= link_to "xiáng", phonetic_url(1777) %>
<%= link_to "xiǎng", phonetic_url(1778) %>
<%= link_to "xiàng", phonetic_url(1779) %>
<%= link_to "xiao", phonetic_url(1785) %>
<%= link_to "xiāo", phonetic_url(1781) %>
<%= link_to "xiáo", phonetic_url(1782) %>
<%= link_to "xiǎo", phonetic_url(1783) %>
<%= link_to "xiào", phonetic_url(1784) %>
<%= link_to "xie", phonetic_url(1790) %>
<%= link_to "xiē", phonetic_url(1786) %>
<%= link_to "xié", phonetic_url(1787) %>
<%= link_to "xiě", phonetic_url(1788) %>
<%= link_to "xiè", phonetic_url(1789) %>
<%= link_to "xin", phonetic_url(1795) %>
<%= link_to "xīn", phonetic_url(1791) %>
<%= link_to "xín", phonetic_url(1792) %>
<%= link_to "xǐn", phonetic_url(1793) %>
<%= link_to "xìn", phonetic_url(1794) %>
<%= link_to "xing", phonetic_url(1800) %>
<%= link_to "xīng", phonetic_url(1796) %>
<%= link_to "xíng", phonetic_url(1797) %>
<%= link_to "xǐng", phonetic_url(1798) %>
<%= link_to "xìng", phonetic_url(1799) %>
<%= link_to "xiong", phonetic_url(1805) %>
<%= link_to "xiōng", phonetic_url(1801) %>
<%= link_to "xióng", phonetic_url(1802) %>
<%= link_to "xiǒng", phonetic_url(1803) %>
<%= link_to "xiòng", phonetic_url(1804) %>
<%= link_to "xiu", phonetic_url(1810) %>
<%= link_to "xiū", phonetic_url(1806) %>
<%= link_to "xiú", phonetic_url(1807) %>
<%= link_to "xiǔ", phonetic_url(1808) %>
<%= link_to "xiù", phonetic_url(1809) %>
<%= link_to "xu", phonetic_url(1815) %>
<%= link_to "xū", phonetic_url(1811) %>
<%= link_to "xú", phonetic_url(1812) %>
<%= link_to "xǔ", phonetic_url(1813) %>
<%= link_to "xù", phonetic_url(1814) %>
<%= link_to "xuan", phonetic_url(1820) %>
<%= link_to "xuān", phonetic_url(1816) %>
<%= link_to "xuán", phonetic_url(1817) %>
<%= link_to "xuǎn", phonetic_url(1818) %>
<%= link_to "xuàn", phonetic_url(1819) %>
<%= link_to "xue", phonetic_url(1825) %>
<%= link_to "xuē", phonetic_url(1821) %>
<%= link_to "xué", phonetic_url(1822) %>
<%= link_to "xuě", phonetic_url(1823) %>
<%= link_to "xuè", phonetic_url(1824) %>
<%= link_to "xun", phonetic_url(1830) %>
<%= link_to "xūn", phonetic_url(1826) %>
<%= link_to "xún", phonetic_url(1827) %>
<%= link_to "xǔn", phonetic_url(1828) %>
<%= link_to "xùn", phonetic_url(1829) %>
</p><h4>y</h4><p>
<%= link_to "ya", phonetic_url(1836) %>
<%= link_to "yā", phonetic_url(1832) %>
<%= link_to "yá", phonetic_url(1833) %>
<%= link_to "yǎ", phonetic_url(1834) %>
<%= link_to "yà", phonetic_url(1835) %>
<%= link_to "yan", phonetic_url(1841) %>
<%= link_to "yān", phonetic_url(1837) %>
<%= link_to "yán", phonetic_url(1838) %>
<%= link_to "yǎn", phonetic_url(1839) %>
<%= link_to "yàn", phonetic_url(1840) %>
<%= link_to "yang", phonetic_url(1846) %>
<%= link_to "yāng", phonetic_url(1842) %>
<%= link_to "yáng", phonetic_url(1843) %>
<%= link_to "yǎng", phonetic_url(1844) %>
<%= link_to "yàng", phonetic_url(1845) %>
<%= link_to "yao", phonetic_url(1851) %>
<%= link_to "yāo", phonetic_url(1847) %>
<%= link_to "yáo", phonetic_url(1848) %>
<%= link_to "yǎo", phonetic_url(1849) %>
<%= link_to "yào", phonetic_url(1850) %>
<%= link_to "ye", phonetic_url(1856) %>
<%= link_to "yē", phonetic_url(1852) %>
<%= link_to "yé", phonetic_url(1853) %>
<%= link_to "yě", phonetic_url(1854) %>
<%= link_to "yè", phonetic_url(1855) %>
<%= link_to "yi", phonetic_url(1861) %>
<%= link_to "yī", phonetic_url(1857) %>
<%= link_to "yí", phonetic_url(1858) %>
<%= link_to "yǐ", phonetic_url(1859) %>
<%= link_to "yì", phonetic_url(1860) %>
<%= link_to "yin", phonetic_url(1866) %>
<%= link_to "yīn", phonetic_url(1862) %>
<%= link_to "yín", phonetic_url(1863) %>
<%= link_to "yǐn", phonetic_url(1864) %>
<%= link_to "yìn", phonetic_url(1865) %>
<%= link_to "ying", phonetic_url(1871) %>
<%= link_to "yīng", phonetic_url(1867) %>
<%= link_to "yíng", phonetic_url(1868) %>
<%= link_to "yǐng", phonetic_url(1869) %>
<%= link_to "yìng", phonetic_url(1870) %>
<%= link_to "yo", phonetic_url(2268) %>
<%= link_to "yō", phonetic_url(2267) %>
<%= link_to "yong", phonetic_url(1876) %>
<%= link_to "yōng", phonetic_url(1872) %>
<%= link_to "yóng", phonetic_url(1873) %>
<%= link_to "yǒng", phonetic_url(1874) %>
<%= link_to "yòng", phonetic_url(1875) %>
<%= link_to "you", phonetic_url(1881) %>
<%= link_to "yōu", phonetic_url(1877) %>
<%= link_to "yóu", phonetic_url(1878) %>
<%= link_to "yǒu", phonetic_url(1879) %>
<%= link_to "yòu", phonetic_url(1880) %>
<%= link_to "yu", phonetic_url(1886) %>
<%= link_to "yū", phonetic_url(1882) %>
<%= link_to "yú", phonetic_url(1883) %>
<%= link_to "yǔ", phonetic_url(1884) %>
<%= link_to "yù", phonetic_url(1885) %>
<%= link_to "yuan", phonetic_url(1891) %>
<%= link_to "yuān", phonetic_url(1887) %>
<%= link_to "yuán", phonetic_url(1888) %>
<%= link_to "yuǎn", phonetic_url(1889) %>
<%= link_to "yuàn", phonetic_url(1890) %>
<%= link_to "yue", phonetic_url(1896) %>
<%= link_to "yuē", phonetic_url(1892) %>
<%= link_to "yué", phonetic_url(1893) %>
<%= link_to "yuě", phonetic_url(1894) %>
<%= link_to "yuè", phonetic_url(1895) %>
<%= link_to "yun", phonetic_url(1901) %>
<%= link_to "yūn", phonetic_url(1897) %>
<%= link_to "yún", phonetic_url(1898) %>
<%= link_to "yǔn", phonetic_url(1899) %>
<%= link_to "yùn", phonetic_url(1900) %>
</p><h4>z</h4><p>
<%= link_to "za", phonetic_url(1907) %>
<%= link_to "zā", phonetic_url(1903) %>
<%= link_to "zá", phonetic_url(1904) %>
<%= link_to "zǎ", phonetic_url(1905) %>
<%= link_to "zà", phonetic_url(1906) %>
<%= link_to "zai", phonetic_url(1912) %>
<%= link_to "zāi", phonetic_url(1908) %>
<%= link_to "zái", phonetic_url(1909) %>
<%= link_to "zǎi", phonetic_url(1910) %>
<%= link_to "zài", phonetic_url(1911) %>
<%= link_to "zan", phonetic_url(1917) %>
<%= link_to "zān", phonetic_url(1913) %>
<%= link_to "zán", phonetic_url(1914) %>
<%= link_to "zǎn", phonetic_url(1915) %>
<%= link_to "zàn", phonetic_url(1916) %>
<%= link_to "zang", phonetic_url(1922) %>
<%= link_to "zāng", phonetic_url(1918) %>
<%= link_to "záng", phonetic_url(1919) %>
<%= link_to "zǎng", phonetic_url(1920) %>
<%= link_to "zàng", phonetic_url(1921) %>
<%= link_to "zao", phonetic_url(1927) %>
<%= link_to "zāo", phonetic_url(1923) %>
<%= link_to "záo", phonetic_url(1924) %>
<%= link_to "zǎo", phonetic_url(1925) %>
<%= link_to "zào", phonetic_url(1926) %>
<%= link_to "ze", phonetic_url(1932) %>
<%= link_to "zē", phonetic_url(1928) %>
<%= link_to "zé", phonetic_url(1929) %>
<%= link_to "zě", phonetic_url(1930) %>
<%= link_to "zè", phonetic_url(1931) %>
<%= link_to "zei", phonetic_url(1937) %>
<%= link_to "zēi", phonetic_url(1933) %>
<%= link_to "zéi", phonetic_url(1934) %>
<%= link_to "zěi", phonetic_url(1935) %>
<%= link_to "zèi", phonetic_url(1936) %>
<%= link_to "zen", phonetic_url(1942) %>
<%= link_to "zēn", phonetic_url(1938) %>
<%= link_to "zén", phonetic_url(1939) %>
<%= link_to "zěn", phonetic_url(1940) %>
<%= link_to "zèn", phonetic_url(1941) %>
<%= link_to "zeng", phonetic_url(1947) %>
<%= link_to "zēng", phonetic_url(1943) %>
<%= link_to "zéng", phonetic_url(1944) %>
<%= link_to "zěng", phonetic_url(1945) %>
<%= link_to "zèng", phonetic_url(1946) %>
<%= link_to "zha", phonetic_url(1953) %>
<%= link_to "zhā", phonetic_url(1949) %>
<%= link_to "zhá", phonetic_url(1950) %>
<%= link_to "zhǎ", phonetic_url(1951) %>
<%= link_to "zhà", phonetic_url(1952) %>
<%= link_to "zhai", phonetic_url(1958) %>
<%= link_to "zhāi", phonetic_url(1954) %>
<%= link_to "zhái", phonetic_url(1955) %>
<%= link_to "zhǎi", phonetic_url(1956) %>
<%= link_to "zhài", phonetic_url(1957) %>
<%= link_to "zhan", phonetic_url(1963) %>
<%= link_to "zhān", phonetic_url(1959) %>
<%= link_to "zhán", phonetic_url(1960) %>
<%= link_to "zhǎn", phonetic_url(1961) %>
<%= link_to "zhàn", phonetic_url(1962) %>
<%= link_to "zhang", phonetic_url(1968) %>
<%= link_to "zhāng", phonetic_url(1964) %>
<%= link_to "zháng", phonetic_url(1965) %>
<%= link_to "zhǎng", phonetic_url(1966) %>
<%= link_to "zhàng", phonetic_url(1967) %>
<%= link_to "zhao", phonetic_url(1973) %>
<%= link_to "zhāo", phonetic_url(1969) %>
<%= link_to "zháo", phonetic_url(1970) %>
<%= link_to "zhǎo", phonetic_url(1971) %>
<%= link_to "zhào", phonetic_url(1972) %>
<%= link_to "zhe", phonetic_url(1978) %>
<%= link_to "zhē", phonetic_url(1974) %>
<%= link_to "zhé", phonetic_url(1975) %>
<%= link_to "zhě", phonetic_url(1976) %>
<%= link_to "zhè", phonetic_url(1977) %>
<%= link_to "zhei", phonetic_url(1983) %>
<%= link_to "zhēi", phonetic_url(1979) %>
<%= link_to "zhéi", phonetic_url(1980) %>
<%= link_to "zhěi", phonetic_url(1981) %>
<%= link_to "zhèi", phonetic_url(1982) %>
<%= link_to "zhen", phonetic_url(1988) %>
<%= link_to "zhēn", phonetic_url(1984) %>
<%= link_to "zhén", phonetic_url(1985) %>
<%= link_to "zhěn", phonetic_url(1986) %>
<%= link_to "zhèn", phonetic_url(1987) %>
<%= link_to "zheng", phonetic_url(1993) %>
<%= link_to "zhēng", phonetic_url(1989) %>
<%= link_to "zhéng", phonetic_url(1990) %>
<%= link_to "zhěng", phonetic_url(1991) %>
<%= link_to "zhèng", phonetic_url(1992) %>
<%= link_to "zhi", phonetic_url(1998) %>
<%= link_to "zhī", phonetic_url(1994) %>
<%= link_to "zhí", phonetic_url(1995) %>
<%= link_to "zhǐ", phonetic_url(1996) %>
<%= link_to "zhì", phonetic_url(1997) %>
<%= link_to "zhong", phonetic_url(2003) %>
<%= link_to "zhōng", phonetic_url(1999) %>
<%= link_to "zhóng", phonetic_url(2000) %>
<%= link_to "zhǒng", phonetic_url(2001) %>
<%= link_to "zhòng", phonetic_url(2002) %>
<%= link_to "zhou", phonetic_url(2008) %>
<%= link_to "zhōu", phonetic_url(2004) %>
<%= link_to "zhóu", phonetic_url(2005) %>
<%= link_to "zhǒu", phonetic_url(2006) %>
<%= link_to "zhòu", phonetic_url(2007) %>
<%= link_to "zhu", phonetic_url(2013) %>
<%= link_to "zhū", phonetic_url(2009) %>
<%= link_to "zhú", phonetic_url(2010) %>
<%= link_to "zhǔ", phonetic_url(2011) %>
<%= link_to "zhù", phonetic_url(2012) %>
<%= link_to "zhua", phonetic_url(2018) %>
<%= link_to "zhuā", phonetic_url(2014) %>
<%= link_to "zhuá", phonetic_url(2015) %>
<%= link_to "zhuǎ", phonetic_url(2016) %>
<%= link_to "zhuà", phonetic_url(2017) %>
<%= link_to "zhuai", phonetic_url(2023) %>
<%= link_to "zhuāi", phonetic_url(2019) %>
<%= link_to "zhuái", phonetic_url(2020) %>
<%= link_to "zhuǎi", phonetic_url(2021) %>
<%= link_to "zhuài", phonetic_url(2022) %>
<%= link_to "zhuan", phonetic_url(2028) %>
<%= link_to "zhuān", phonetic_url(2024) %>
<%= link_to "zhuán", phonetic_url(2025) %>
<%= link_to "zhuǎn", phonetic_url(2026) %>
<%= link_to "zhuàn", phonetic_url(2027) %>
<%= link_to "zhuang", phonetic_url(2033) %>
<%= link_to "zhuāng", phonetic_url(2029) %>
<%= link_to "zhuáng", phonetic_url(2030) %>
<%= link_to "zhuǎng", phonetic_url(2031) %>
<%= link_to "zhuàng", phonetic_url(2032) %>
<%= link_to "zhui", phonetic_url(2038) %>
<%= link_to "zhuī", phonetic_url(2034) %>
<%= link_to "zhuí", phonetic_url(2035) %>
<%= link_to "zhuǐ", phonetic_url(2036) %>
<%= link_to "zhuì", phonetic_url(2037) %>
<%= link_to "zhun", phonetic_url(2043) %>
<%= link_to "zhūn", phonetic_url(2039) %>
<%= link_to "zhún", phonetic_url(2040) %>
<%= link_to "zhǔn", phonetic_url(2041) %>
<%= link_to "zhùn", phonetic_url(2042) %>
<%= link_to "zhuo", phonetic_url(2048) %>
<%= link_to "zhuō", phonetic_url(2044) %>
<%= link_to "zhuó", phonetic_url(2045) %>
<%= link_to "zhuǒ", phonetic_url(2046) %>
<%= link_to "zhuò", phonetic_url(2047) %>
<%= link_to "zi", phonetic_url(2053) %>
<%= link_to "zī", phonetic_url(2049) %>
<%= link_to "zí", phonetic_url(2050) %>
<%= link_to "zǐ", phonetic_url(2051) %>
<%= link_to "zì", phonetic_url(2052) %>
<%= link_to "zong", phonetic_url(2058) %>
<%= link_to "zōng", phonetic_url(2054) %>
<%= link_to "zóng", phonetic_url(2055) %>
<%= link_to "zǒng", phonetic_url(2056) %>
<%= link_to "zòng", phonetic_url(2057) %>
<%= link_to "zou", phonetic_url(2063) %>
<%= link_to "zōu", phonetic_url(2059) %>
<%= link_to "zóu", phonetic_url(2060) %>
<%= link_to "zǒu", phonetic_url(2061) %>
<%= link_to "zòu", phonetic_url(2062) %>
<%= link_to "zu", phonetic_url(2068) %>
<%= link_to "zū", phonetic_url(2064) %>
<%= link_to "zú", phonetic_url(2065) %>
<%= link_to "zǔ", phonetic_url(2066) %>
<%= link_to "zù", phonetic_url(2067) %>
<%= link_to "zuan", phonetic_url(2073) %>
<%= link_to "zuān", phonetic_url(2069) %>
<%= link_to "zuán", phonetic_url(2070) %>
<%= link_to "zuǎn", phonetic_url(2071) %>
<%= link_to "zuàn", phonetic_url(2072) %>
<%= link_to "zui", phonetic_url(2078) %>
<%= link_to "zuī", phonetic_url(2074) %>
<%= link_to "zuí", phonetic_url(2075) %>
<%= link_to "zuǐ", phonetic_url(2076) %>
<%= link_to "zuì", phonetic_url(2077) %>
<%= link_to "zun", phonetic_url(2083) %>
<%= link_to "zūn", phonetic_url(2079) %>
<%= link_to "zún", phonetic_url(2080) %>
<%= link_to "zǔn", phonetic_url(2081) %>
<%= link_to "zùn", phonetic_url(2082) %>
<%= link_to "zuo", phonetic_url(2088) %>
<%= link_to "zuō", phonetic_url(2084) %>
<%= link_to "zuó", phonetic_url(2085) %>
<%= link_to "zuǒ", phonetic_url(2086) %>
<%= link_to "zuò", phonetic_url(2087) %>
</div>
