<%- model_class = Phonetic -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', default: t("helpers.links.new")), 
        new_phonetic_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:label) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @phonetics.each do |phonetic| %>
      <tr>
        <td><%= link_to phonetic.id, phonetic_path(phonetic) %></td>
        <td><%= phonetic.content %></td>
        <td><%= phonetic.label %></td>
        <td><%= phonetic.deleted_at %></td>
        <td><%= phonetic.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
            edit_phonetic_path(phonetic), class: 'btn btn-default btn-xs',
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
            phonetic_path(phonetic),
            method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
            class: 'btn btn-xs btn-default', 
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @phonetics %>
