<%= form_for @practice, :html => { :class => "form-horizontal practice" } do |f| %>

    <% if @practice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@practice.errors.count, "error") %> 让这个练习无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @practice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if current_user.has_role? :admin %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :material, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :material, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:material]) %>
  </div>
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:question]) %>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:answer]) %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :tutor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tutor_id, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:tutor_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :lesson_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lesson_id, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:lesson_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :activate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activate, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:activate]) %>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:score]) %>
  </div>
  <div class="control-group">
    <%= f.label :labelname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :labelname, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:labelname]) %>
  </div>
  <div class="control-group">
    <%= f.label :mean, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mean, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:mean]) %>
  </div>
  <div class="control-group">
    <%= f.label :mode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mode, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:mode]) %>
  </div>
  <div class="control-group">
    <%= f.label :stdve, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stdve, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:stdve]) %>
  </div>
  <div class="control-group">
    <%= f.label :difficulty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :difficulty, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:difficulty]) %>
  </div>

  <hr>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            practices_path, :class => 'btn btn-default' %>

<% else %>  <!-- 普通用户界面 -->

  <div class="control-group">
    <%= f.label "标签", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :labelname, :class => 'form-control', tabindex: 10 %>
    </div>
    <%= error_span(@practice[:labelname]) %>
  </div>

  <div class="control-group">
    <%= f.label "标题", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control', tabindex: 11%>
    </div>
    <%= error_span(@practice[:title]) %>
  </div>

  <div class="control-group">
    <%= f.label :"材料", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :material, :class => 'form-control', rows: 3 %>
      <%= cktext_area :practice, :material, :rows => 10, tabindex: 12 %>
    </div>
    <%= error_span(@practice[:material]) %>
  </div>

  <div class="control-group">
    <%= f.label :"问题", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :question, :class => 'form-control', rows: 3 %>
      <%= cktext_area :practice, :question, :rows => 10, tabindex: 13 %>
    </div>
    <%= error_span(@practice[:question]) %>
  </div>

  <div class="control-group">
    <%# f.label "问题图片", :class => 'control-label' %>
    <div class="controls">
      <%# f.file_field :picture_q, :class => 'form-control' %>
    </div>
    <%# error_span(@practice[:picture_q]) %>
  </div>

  <div class="control-group">
    <%= f.label :"答案", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :answer, :class => 'form-control', rows: 3 %>
      <%= cktext_area :practice, :answer, :rows => 10, tabindex: 14 %>
    </div>
    <%= error_span(@practice[:answer]) %>
  </div>


  <%#<div class="control-group">%>
    <%# f.label "答案图片", :class => 'control-label' %>
    <%#<div class="controls">%>
      <%# f.file_field :picture_a, :class => 'form-control' %>
    <%#</div>%>
    <%# error_span(@practice[:picture_a]) %>
  <%#</div>%>

  <%#<p></p>%>

<%#<div class="row">%>
  <%# if @practice.picture_q_file_name %>
  <%#<div class="col-sm-6 col-md-6">%>
    <%#<div class="thumbnail">%>
      <%# image_tag @practice.picture_q.url, size: "300x300" %>
      <%#<div class="caption">%>
	<%#<p>%>
          <%# link_to "删除问题图片", practice_delete_picture_q_path(@practice), class: "btn btn-default" %>
	<%#</p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <%# end %>
  <%# if @practice.picture_a_file_name %>
  <%#<div class="col-sm-6 col-md-6">%>
    <%#<div class="thumbnail">%>
      <%# image_tag @practice.picture_a.url, size: "300x300" %>
      <%#<div class="caption">%>
	<%#<p>%>
          <%# link_to "删除答案图片", practice_delete_picture_a_path(@practice), class: "btn btn-default" %>
	<%#</p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <%# end %>
<%#</div>%>

  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'form-control' %>
    </div>
    <%= error_span(@practice[:score]) %>
  </div>

  <hr>
  <%= f.submit "保存这个练习", :class => 'btn btn-primary', tabindex: 20 %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            practices_path, :class => 'btn btn-default', tabindex: 21 %>

 <% end %>
<% end %>
