<%- model_class = Practice -%>

<% unless current_user.has_role? :admin %>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', :default => t("helpers.links.new")), new_practice_path, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), lesson_path(@lesson), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

    <div class="page-header">
      <h3>《<%= @lesson.title %>》一课的所有练习</h3>
    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>材料</th>
      <th>问题</th>
      <th>分值</th>
      <th>标签</th>
      <th colspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= practice.title %></td>
        <td><%= practice.material %></td>
        <td><%= link_to practice.question, practice_path(practice), class: "btn-xs btn-link" %></td>
        <td><%= practice.score %></td>
        <td><%= practice.labelname %></td>
        <td>
          <% if e = Evaluation.find_by(practice_id: practice.id, user_id: current_user.id) %>
            <%= link_to "重做", edit_evaluation_path(e), class: "btn btn-xs btn-default" %>
          <% else %>
            <%= link_to "做题", new_evaluation_path(practice_id: practice), class: "btn btn-xs btn-default" %>
         <% end %>
          <% if current_user.id == practice.user_id %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")), 
              edit_practice_path(practice), 
              :class => 'btn btn-default btn-xs', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), 
              practice_path(practice), 
              :method => :delete, 
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
              :class => 'btn btn-xs btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAddAllToCardbox" aria-expanded="false" aria-controls="collapseAddAllToCardbox">
  将所有习题添加到卡片盒中
</button>
<% if current_user.id == @lesson.user_id %>
<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCreatePracticesInBatch" aria-expanded="false" aria-controls="collapseCreatePracticesInBatch">
  批量新添练习
</button>
<% end %>
<div class="collapse" id="collapseAddAllToCardbox">
  <div class="well">
    <%= link_to "管理卡片盒", cardboxes_url, class: 'btn btn-default pull-right' %>
    <h4>添加到这个卡片盒中：</h4>
    <%= form_tag "/cards/add_all_to_cardbox", multipart: true, class: 'form-inline' do %>
      <div class="control-group">
          <%= select_tag :cardbox_id, options_for_select(Cardbox.where(user_id: current_user.id).collect{ |cardbox| [cardbox.name, cardbox.id]}) , {class: 'form-control col-md-4'} %>
      </div>
      <%= submit_tag "提交", :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="collapse" id="collapseCreatePracticesInBatch">
  <div class="well">
    <p>注意：</p>
    <ul>
      <li>上传的文件必须是CVS文件，包含“标题”、“材料”、“问题”、“答案”、“分值”和“标签”六列。其中“分值”一栏可以为空</li>
      <li>CVS文件是一种用逗号隔开数据的文本文件，这种文件也可使用Excel等程序通过“另存为”功能生成。
    </ul>
    <%= form_tag "/practices/create_practices_in_batch", multipart: true, class: 'form-inline' do %>
      <div class="control-group">
      <%= file_field_tag "csv_file", accept: "text/csv", class: 'form-control' %>
      <%= submit_tag "上传文件", class: 'btn btn-info form-control' %>
    </div>
    <% end %>
  </div>
</div>

<% else %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:material) %></th>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%= model_class.human_attribute_name(:answer) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:labelname) %></th>
      <th><%= model_class.human_attribute_name(:mean) %></th>
      <th><%= model_class.human_attribute_name(:mode) %></th>
      <th><%= model_class.human_attribute_name(:stdve) %></th>
      <th><%= model_class.human_attribute_name(:difficulty) %></th>
      <th><%= model_class.human_attribute_name(:activate) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:lesson_id) %></th>
      <th><%= model_class.human_attribute_name(:tutor_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= link_to practice.id, practice_path(practice) %></td>
        <td><%= practice.title %></td>
        <td><%= practice.material %></td>
        <td><%= practice.question %></td>
        <td><%= practice.answer %></td>
        <td><%= practice.score %></td>
        <td><%= practice.labelname %></td>
        <td><%= practice.mean %></td>
        <td><%= practice.mode %></td>
        <td><%= practice.stdve %></td>
        <td><%= practice.difficulty %></td>
        <td><%= practice.activate %></td>
        <td><%= practice.user_id %></td>
        <td><%= practice.lesson_id %></td>
        <td><%= practice.tutor_id %></td>
        <td><%=l practice.created_at %></td>
        <td><%=l practice.updated_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_practice_path(practice), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      practice_path(practice),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_practice_path,
	    :class => 'btn btn-primary' %>
<% end %>
