<%- model_class = Practice -%>

<%#<div class="page-header">%>
  <% if @tutor %>
    <%= link_to "返回课文", lesson_path(@lesson), class: "btn btn-default pull-right" %>
    <%= link_to "返回辅导", tutor_path(@tutor), class: "btn btn-default pull-right" %>
    <div class="page-header">
      <h5>《<%= @lesson.title %>》“<%= @tutor.title %>”一节的练习</h5>
    </div>
  <% else %>
    <%= link_to "返回课文", lesson_path(@lesson), class: "btn btn-default pull-right" %>
    <div class="page-header">
      <h5>《<%= @lesson.title %>》的练习</h5>
    </div>
  <% end %>
<%#</div>%>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
        <span class="pull-right">标签：<%= @practice.labelname || "无" %></span>
        <p><%= @practice.title %></p>
      <div class="paragraph">
        <p><%= sanitize(@practice.material) %></p>
        <p><%= sanitize(@practice.question) %></p>
        <% if @practice.picture_q_file_name %>
          <%= image_tag @practice.picture_q.url, class: "img-responsive center-block"  %>
        <% end %>
      </div>

      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="bg-success center-block">
        <p class="text-center">...</p>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <div class="paragraph">
      <p><%= sanitize(@practice.answer) %></p>
      </div>
      <% if @practice.picture_a_file_name %>
        <%= image_tag @practice.picture_a.url, class: "img-responsive center-block"  %>
      <% end %>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="bg-success center-block">
          <p class="text-center">...</p>
        </a>
      </div>
    </div>
  </div>
</div>

<hr>
<% if @previous_practice != nil %>
    <%= link_to "上一个练习", practice_path(@previous_practice), class: 'btn btn-default' %>
<% end %>
<% if @next_practice != nil %>
  <%= link_to "下一个练习", practice_path(@next_practice), class: 'btn btn-default' %>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_practice_path,
            :class => 'btn btn-default' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              practices_path, :class => 'btn btn-default'  %>
	    <% if current_user.id == @practice.user_id %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_practice_path(@practice), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              practice_path(@practice),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	      :class => 'btn btn-default' %>
	    <% end %>
<% if current_user.has_role? :admin %>
<hr>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @practice.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tutor_id) %>:</strong></dt>
  <dd><%= @practice.tutor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lesson_id) %>:</strong></dt>
  <dd><%= @practice.lesson_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activate) %>:</strong></dt>
  <dd><%= @practice.activate %></dd>
</dl>
<% end %>
