<%= form_for @subject, :html => { :class => "form-horizontal subject" } do |f| %>

    <% if @subject.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @subject.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "科目名称", :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= f.error_span(:name) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            subjects_path, :class => 'btn btn-default' %>

<% end %>
