<%= form_for @lesson, :html => { class: "form-horizontal lesson", multipart: true } do |f| %>

    <% if @lesson.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@lesson.errors.count, "error") %> 的原因让本课程无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @lesson.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "标题", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control', tabindex: 11 %>
    </div>
    <%= f.error_span(:title) %>
  </div>

  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'form-control', tabindex: 11 %>
    </div>
    <%= f.error_span(:author) %>
  </div>

  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time, :class => 'form-control', tabindex: 11 %>
    </div>
    <%= f.error_span(:time) %>
  </div>

  <div class="control-group">
    <%= f.label "出处", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source, :class => 'form-control', rows: "30", tabindex: 12  %>
    </div>
    <%= f.error_span(:source) %>
  </div>

  <p></p>

<div class="row">
  <% if @lesson.picture_file_name %>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag @lesson.picture.url, size: "300x300" %>
      <div class="caption">
	<p>
          <%= link_to "删除图片", lesson_delete_picture_path(@lesson), class: "btn btn-default", tabindex: 13 %>
	</p>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <%#<div class="control-group">%>
    <%# f.label "图片", :class => 'control-label' %>
    <%#<div class="controls">%>
      <%# f.file_field :picture, :class => 'form-control', tabindex: 13 %>
    <%#</div>%>
    <%# f.error_span(:picture) %>
  <%#</div>%>

  <div class="control-group">
    <%= f.label "内容", :class => 'control-label' %>
    <div class="controls">
      <%# f.text_area :content, :class => 'form-control', rows: "30", tabindex: 14 %>
      <%# f.text_area :content, :class => 'tinymce form-control', rows: "30", tabindex: 14   %>
      <%# tinymce %>
      <%= f.cktext_area :content, :rows => 10, tabindex: 14 %>

    </div>
    <%= f.error_span(:content) %>
  </div>

<% if current_user.has_role? :admin %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>
<% end %>

<hr>
  <%= f.submit nil, :class => 'btn btn-primary', tabindex: 51 %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn btn-default', tabindex: 52 %>

<% end %>
