<%- model_class = Roadmap -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), lesson_url(@lesson), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>词汇测评</h3>
</div>

<!-- 比较概述 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">比较概述</h3>
  </div>
  <div class="panel-body">
    <p><strong>标准名称：</strong><%= @wordmap.name %></p>
    <p><strong>标准长度：</strong><%= @wordmap_size %></p>
    <p><strong>标准平均分：</strong><%= @wordmap_average %></p>
    <p><strong>课程词汇数量：</strong><%= @words_from_lesson_size %></p>
    <p><strong>分析课文词汇：</strong><%= @same_words.size %>个</p>
    <p><strong>占课文比例：</strong><%= number_to_percentage(@same_percent_in_lesson, precision: 2) %></p>
    <p><strong>测试总分：</strong><%= @totalmark %></p>
    <p><strong>测试平均：</strong><%= @average %></p>
    <p><strong>测试得分：</strong><%= @benchmark %></p>
  </div>
</div>
<!-- 相同部分 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">相同部分（<%= @same_words.size %>个）</h3>
  </div>
  <div class="panel-body">
    <% wordmap_quarter_count = 0 %>
    <% wordmap_average_count = 0 %>
    <% wordmap_3quarter_count = 0 %>
    <% wordmap_4quarter_count = 0 %>
    <% @same_words.each_with_index do |word_id, index| %>
      (<%= index + 1 %>)
      <% word = Word.find(word_id) %>  
      <%= link_to word.name, word_path(word) %>
      <% serial =  Wordorder.find_by(wordmap: @wordmap, word_id: word_id).serial %>  
      <% if serial < @wordmap_quarter %>
        <% wordmap_quarter_count += 1 %>
        <span style="color: green"><%= serial %></span>
      <% elsif serial < @wordmap_average %>
        <% wordmap_average_count += 1 %>
        <span style="color: yellow"><%= serial %></span>
      <% elsif serial < @wordmap_3quarter %>
        <% wordmap_3quarter_count += 1 %>
        <span style="color: oranger"><%= serial %></span>
      <% else %>
        <% wordmap_4quarter_count += 1 %>
        <span style="color: red"><%= serial %></span>
      <% end %>
      ;
    <% end %>
  </div>
  <div class="panel-footer">
    <p>最简词汇： <%= wordmap_quarter_count %> 个， 占总数的 <%= number_to_percentage(wordmap_quarter_count.to_f / @same_words.size * 100, precision: 2 )%></p>
    <p>较简词汇： <%= wordmap_average_count %> 个， 占总数的 <%= number_to_percentage(wordmap_average_count.to_f / @same_words.size * 100, precision: 2 ) %> </p>
    <p>较难词汇： <%= wordmap_3quarter_count %> 个， 占总数的 <%= number_to_percentage(wordmap_3quarter_count.to_f / @same_words.size * 100, precision: 2 ) %> </p>
    <p>最难词汇： <%= wordmap_4quarter_count %> 个， 占总数的 <%= number_to_percentage(wordmap_4quarter_count.to_f / @same_words.size * 100, precision: 2 ) %> </p>
  </div>
</div>

<!-- 不同部分 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">《<%= @lesson.title %>》独有部分（<%= @diff_words_from_lesson.size %>个）：</h3>
      </div>
      <div class="panel-body">
        <% @diff_words_from_lesson.each_with_index do |word, index| %>
          (<%= index + 1 %>)<%= link_to Word.find(word).name, word_url(word) %> 
        <% end %>
      </div>
    </div>
