<%- model_class = Lesson -%>
<div class="page-header">
  <h1>查看所有课程</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>课程名称</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= lesson.name %></td>
        <td>
          <%= link_to "进入课程", lesson_path(lesson), class: 'btn btn-xs btn-success' %>
	  <% if  current_user.id == lesson.user_id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lesson_path(lesson), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lesson_path(lesson),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		      :class => 'btn btn-xs btn-default' %>
	  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "我来创建新的课程",
            new_lesson_path,
            :class => 'btn btn-primary' %>
