<%- model_class = Lesson -%>
<% unless current_user.has_role? :admin %> 

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <% unless session[:discussion_id] %>
    <!-- 管理功能 -->
    <div class="btn-group" role="group" arial-label="manage">
      <% if current_user.id == @lesson.user_id  %>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_lesson_path, :class => 'btn btn-default', tabindex: 51, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_lesson_path(@lesson), :class => 'btn btn-default', tabindex: 52, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          lesson_path(@lesson),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-default', tabindex: 53, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
      <% end %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
        lessons_path, :class => 'btn btn-default', tabindex: 54, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.back', :default => [:"helpers.titles.back"], :model => model_class.model_name.human.titleize)  %>
    </div>
    <% end %>
   <!-- 附加功能 -->
    <% unless session[:discussion_id] %>
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" tabindex="61", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% if @tutor %>
          <li>
            <%= link_to "开始辅导", tutor_path(@tutor) %>
          </li>
        <% end %>
        <% unless @lesson.tutors.empty? %>
        <li>
          <%= link_to "辅导展示", tutor_path(@lesson.tutors.order(:difficulty).first) %>
        </li>
        <li>
          <%= link_to "辅导列表", tutors_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "添加辅导", new_tutor_url %>
        </li>
        <li role="separator" class="divider"></li>
        <% unless @lesson.practices.empty? %>
        <li>
          <%= link_to "随机练习", new_evaluation_path %>
        </li>
        <li>
          <%= link_to "习题列表", practices_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "添加习题", new_practice_path %>
        </li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "使用卡片盒练习", cardboxes_path %>
        <li role="separator" class="divider"></li>
        <% unless @lesson.teachings.empty? %>
        <li>
          <%= link_to "教案列表", teachings_path  %>
        </li>
        <% end %>
        <li>
          <%= link_to "添加教案", new_teaching_path %>
        </li>
        <li>
          <%= link_to "快速生成简易教案", lesson_easy_teaching_path(@lesson) %>
        </li>
        <% if current_user.id == @lesson.user_id && @textbook %>
        <li role="separator" class="divider"></li>
        <% catalog_id = Catalog.find_by(textbook_id: @textbook.id, lesson_id: @lesson.id) %>
        <% if catalog_id %>
        <li>
        <%= link_to "修改在课本《#{@textbook.title}》中的目录位置", edit_catalog_url(catalog_id)  %>
        </li>
        <% else %>
        <li>
        <%= link_to "附加到课本《#{@textbook.title}》中", catalogs_quick_append_path  %>
        </li>
        <% end %>
        <% end %>
        <li role="separator" class="divider"></li>
        <li>
        <%= link_to "转为另一课程的辅导", lesson_as_tutor_url  %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
        <% unless @lesson.content == "" %>
          <% if @words_report %>
            <%= link_to "查看已有的用词报告", words_report_path(@words_report) %>
          <% end %>
          <% need_time = (@lesson.content_length/100)+1 %>
          <%= link_to "进行用词分析（可能需要#{need_time}分钟）", lesson_words_analysis_path(@lesson.id), :data => { :confirm => "耗时#{need_time}分钟！您确定要进行分析吗？"} %>
        <% end %>
        </li>
      </ul>
    </div>
    <% else %>
      <% if @tutor %>
      <%= link_to "辅导", tutor_path(@tutor), class: 'btn btn-default' %>
      <% end %>
    <% end %>
    <!-- 导航按钮 -->
    <div class="btn-group pull-right" role="btn-group" arial-label="navigation">
      <% if @previous_lesson %>
        <%= link_to t('.previous', :default => t("helpers.links.previous")), lesson_path(@previous_lesson), class: 'btn btn-default', tabindex: 81, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.previous', default: t("helpers.titles.previous"), :model => t("activerecord.models.lesson")) %>
      <% end %>
      <% if @next_lesson %>
        <%= link_to t('.next', :default => t("helpers.links.next")), lesson_path(@next_lesson), class: 'btn btn-default', tabindex: 82, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.next', default: t("helpers.titles.next"), :model => t("activerecord.models.lesson")) %>
      <% end %>
      <% if session[:textbook_id] %>
        <%= link_to t('.up', :default => t("helpers.links.up")), textbook_path(session[:textbook_id]), class: 'btn btn-default', tabindex: 83, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.textbook")) %>
      <% end %>
      <% if @discussion_lesson %>
        <%= link_to "↓", lesson_path(@discussion_lesson), class: 'btn btn-default', tabindex: 84, "data-toggle": "tooltip", "data-placement": "bottom", title:  "返回正在讨论的课文" %>
      <% end %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<% if @textbooks %>
<div class="panel panel-success">
  <div class="panel-heading">包含了本篇课文的课本有：</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>序号</th>
          <th>标题</th>
          <th>描述</th>
          <th>编者</th>
        </tr>
      </thead>
      <tbody>
        <% @textbooks.each do |textbook| %>
          <% textbook_user = User.find(textbook.user_id) %>
          <tr>
            <td><%= textbook.serial.round(2) %></td>
            <td><%= link_to textbook.title, textbook_path(textbook), class: "btn-link" %></td>
            <td><%= textbook.description %></td>
            <td><%= textbook_user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="page-header">
  <h1><%= number_with_precision(@catalog.serial, precision: 2) if @catalog %> <%= @lesson.title %></h1>
  <p class="text-right">字数：<%= @lesson.content_length %></p>
</div>
<% if @lesson.picture_file_name %>
  <%= image_tag @lesson.picture.url, class: "img-responsive center-block"  %>
  <hr>
<% end %>
<div class="lesson_paragraph"><%= sanitize(@lesson.content) %></div>

<% else %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @lesson.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @lesson.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_length) %>:</strong></dt>
  <dd><%= @lesson.content_length %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @lesson.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              lessons_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lesson_path(@lesson), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lesson_path(@lesson),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% end %>
