
<%- model_class = Lesson -%>
<% unless current_user.has_role? :admin %> 

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-9">
      <div class="page-header">
        <h1><%= @lesson.title %></h1>
        <p class="text-right">字数：<%= @lesson.content_length %></p>
      </div>
      <% if @lesson.picture_file_name %>
        <%= image_tag @lesson.picture.url, class: "img-responsive center-block"  %>
        <hr>
      <% end %>
      <div class="lesson_paragraph"><%= sanitize(@lesson.content) %></div>
    </div>
    <div class="col-xs-2 col-sm-2  col-md-1 col-md-offset-1">
      <div class="col-xs-1 col-sm-1 col-md-1 affix">
      <ul class="nav">
      <% if session[:textbook_id] %>
      <li>
        <%= link_to "返回目录", catalogs_path %>
      </li>
      <% end %>
      <% if @next_lesson %>
      <li>
        <%= link_to "下一篇", lesson_path(@next_lesson) %>
      </li>
      <% end %>
      <% if @previous_lesson %>
      <li>
        <%= link_to "上一篇", lesson_path(@previous_lesson) %>
      </li>
      <% end %>
      <% if @discussion_lesson %>
      <li>
        <%= link_to "返回讨论的课文", lesson_path(@discussion_lesson) %>
      </li>
      <% end %>
      <% if current_user.id == @lesson.user_id  %>
      <li>
        <%= link_to "新建", new_lesson_path, tabindex: 50 %>
      </li>
      <li>
        <%= link_to t('.back', :default => t("helpers.links.back")),
          lessons_path, tabindex: 51  %>
      </li>
      <li>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_lesson_path(@lesson), tabindex: 52 %>
      </li>
      <li>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          lesson_path(@lesson),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          tabindex: 53 %>
      </li>
        <% end %>
        <% if @tutor %>
      <li>
          <%= link_to "标准辅导", tutor_path(@tutor), class: 'btn btn-success ' %>
      </li>
        <% end %>
        <% unless session[:discussion_id] %>
          <% if @lesson.teachings.empty? %>
      <li>
            <%= link_to "添加教学方案", new_teaching_path %>
      </li>
          <% else %>
      <li>
            <%= link_to "教学方案列表", teachings_path %>
      </li>
          <% end %>
          <% if @lesson.tutors.empty? %>
      <li>
            <%= link_to "添加辅导", new_tutor_path %>
      </li>
          <% else %>
      <li>
            <%= link_to "辅导", tutor_path(@lesson.tutors.order(:difficulty).first) %>
      </li>
          <% end %>
          <% if @lesson.practices.empty? %>
      <li>
            <%= link_to "添加练习", new_practice_path %>
      </li>
          <% else %>
      <li>
            <%= link_to "练习", practices_path %>
      </li>
      <li>
            <%= link_to "随机练习", new_evaluation_path %>
      </li>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @lesson.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @lesson.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_length) %>:</strong></dt>
  <dd><%= @lesson.content_length %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @lesson.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              lessons_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lesson_path(@lesson), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lesson_path(@lesson),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
