<%- model_class = Lesson -%>
<div class="page-header">
  <h1><%= @lesson.name %></h1>
</div>

<hr>
  <!--
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  -->
  <div class="paragraph"><%= sanitize(@lesson.content) %></div>

<hr>
<hr>
<%= link_to t('.back', :default => t("helpers.links.back")),
              lessons_path, :class => 'btn btn-default'  %>
<% if current_user.id == @lesson.user_id  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lesson_path(@lesson), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lesson_path(@lesson),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-default' %>
<% end %>
<%= link_to "查看辅导", tutors_path, class: 'btn btn-success' %>
