<% if current_user.has_role? :admin %>  

<%= form_for @teacher, :html => { :class => "form-horizontal teacher" } do |f| %>

    <% if @teacher.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :classroom_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :classroom_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:classroom_id) %>
  </div>
  <div class="form-group">
    <%= f.label :mentor, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :mentor, :class => 'form-control' %>
    </div>
    <%= f.error_span(:mentor) %>
  </div>
  <div class="form-group">
    <%= f.label :subject_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :subject_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:subject_id) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, :class => 'form-control' %>
    </div>
    <%= f.error_span(:deleted_at) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            teachers_path, :class => 'btn btn-default' %>

<% end %>

<% else %>

<%= form_for @teacher, :html => { :class => "form-horizontal teacher" } do |f| %>

    <% if @teacher.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "教师", :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.select :mentor, User.all.collect{ |user| [user.id.to_s + " " + user.name.to_s, user.id]}, {prompt: "请选择一个用户"}, {class: 'form-control'}  %>
    </div>
    <%= f.error_span(:mentor) %>
  </div>
  <div class="form-group">
    <%= f.label "科目", :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.select :subject_id, Subject.all.collect{ |item| [item.name, item.id]}, {prompt: "请选择一个科目"}, {class: 'form-control'}  %>
    </div>
    <%= f.error_span(:subject_id) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            teachers_path, :class => 'btn btn-default' %>

<% end %>

<% end %>
