<%- model_class = Word -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', default: t("helpers.links.new")), 
        new_word_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" tabindex="61", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "导入字典", choose_dictionary_path %></li>
        <li><%= link_to "查看没有标识长度的单词", show_fragmentary_words_path(type: 'length') %></li>
        <li><%= link_to "查看没有标识md码的单词", show_fragmentary_words_path(type: 'md') %></li>
        <li><%= link_to "查看没有注音的单词", show_fragmentary_words_path(type: 'phonetic') %></li>
        <li><%= link_to "查看没有释义的单词", show_fragmentary_words_path(type: 'meaning') %></li>
      </ul>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), show_words_path, class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.site")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% if @page_num - 5 > 0 %>
      <li><%= link_to (@page_num - 5).to_s, words_path(page: @page_num - 5) %></li>
    <% end %>
    <% if @page_num - 4 > 0 %>
      <li><%= link_to (@page_num - 4).to_s, words_path(page: @page_num - 4) %></li>
    <% end %>
    <% if @page_num - 3 > 0 %>
      <li><%= link_to (@page_num - 3).to_s, words_path(page: @page_num - 3) %></li>
    <% end %>
    <% if @page_num - 2 > 0 %>
      <li><%= link_to (@page_num - 2).to_s, words_path(page: @page_num - 2) %></li>
    <% end %>
    <% if @page_num - 1 > 0 %>
      <li><%= link_to (@page_num - 1).to_s, words_path(page: @page_num - 1) %></li>
    <% end %>
    <li class="disabled"><span><%= @page_num.to_s %></span></li>
    <% if @page_num + 1 <= @last_page %>
    <li><%= link_to (@page_num + 1).to_s, words_path(page: @page_num + 1) %></li>
    <% end %>
    <% if @page_num + 2 <= @last_page %>
    <li><%= link_to (@page_num + 2).to_s, words_path(page: @page_num + 2) %></li>
    <% end %>
    <% if @page_num +3 <= @last_page %>
    <li><%= link_to (@page_num + 3).to_s, words_path(page: @page_num + 3) %></li>
    <% end %>
    <% if @page_num + 4 <= @last_page %>
    <li><%= link_to (@page_num + 4).to_s, words_path(page: @page_num + 4) %></li>
    <% end %>
    <% if @page_num + 5 <= @last_page %>
    <li><%= link_to (@page_num + 5).to_s, words_path(page: @page_num + 5) %></li>
    <% end %>
    <% if @page_num + 5 < @last_page %>
    <li><%= link_to (@last_page).to_s, words_path(page: @last_page) %></li>
    <% end %>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:length) %></th>
      <%#<th><%= model_class.human_attribute_name(:created_at) %>
      <%#<th><%= model_class.human_attribute_name(:deleted_at) %>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%=  word.id %></td>
        <td><%= link_to word.name, word_path(word), target: "_blank" %></td>
        <td><%= word.length %></td>
        <%#<td><%= word.created_at.strftime("%F") %>
        <%#<td><%= word.deleted_at %>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% if @page_num - 5 > 0 %>
      <li><%= link_to (@page_num - 5).to_s, words_path(page: @page_num - 5) %></li>
    <% end %>
    <% if @page_num - 4 > 0 %>
      <li><%= link_to (@page_num - 4).to_s, words_path(page: @page_num - 4) %></li>
    <% end %>
    <% if @page_num - 3 > 0 %>
      <li><%= link_to (@page_num - 3).to_s, words_path(page: @page_num - 3) %></li>
    <% end %>
    <% if @page_num - 2 > 0 %>
      <li><%= link_to (@page_num - 2).to_s, words_path(page: @page_num - 2) %></li>
    <% end %>
    <% if @page_num - 1 > 0 %>
      <li><%= link_to (@page_num - 1).to_s, words_path(page: @page_num - 1) %></li>
    <% end %>
    <li class="disabled"><span><%= @page_num.to_s %></span></li>
    <% if @page_num + 1 <= @last_page %>
    <li><%= link_to (@page_num + 1).to_s, words_path(page: @page_num + 1) %></li>
    <% end %>
    <% if @page_num + 2 <= @last_page %>
    <li><%= link_to (@page_num + 2).to_s, words_path(page: @page_num + 2) %></li>
    <% end %>
    <% if @page_num +3 <= @last_page %>
    <li><%= link_to (@page_num + 3).to_s, words_path(page: @page_num + 3) %></li>
    <% end %>
    <% if @page_num + 4 <= @last_page %>
    <li><%= link_to (@page_num + 4).to_s, words_path(page: @page_num + 4) %></li>
    <% end %>
    <% if @page_num + 5 <= @last_page %>
    <li><%= link_to (@page_num + 5).to_s, words_path(page: @page_num + 5) %></li>
    <% end %>
    <% if @page_num + 5 < @last_page %>
    <li><%= link_to (@last_page).to_s, words_path(page: @last_page) %></li>
    <% end %>
</nav>
