<% if current_user && (current_user.has_role? :admin) %>
<%- model_class = Word -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 管理功能 -->
    <div class="btn-group" role="group" arial-label="manage">
        <%= link_to t('.new', default:  t("helpers.links.new")), 
          new_word_path,
          class:  'btn btn-default', 
          tabindex: 21, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
        <%= link_to t('.edit', default: t("helpers.links.edit")), 
          edit_word_path(@word),
          class: 'btn btn-default', 
          tabindex: 22, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
        <%= link_to t('.destroy', default: t("helpers.links.destroy")),
          word_path(@word),
          method: 'delete',
          data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
          class: 'btn btn-default', 
          tabindex: 23, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
      <%= link_to t('.back', default: t("helpers.links.back")),
        words_path,
        class: 'btn btn-default', 
        tabindex: 24, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.back', default: [:"helpers.titles.back"], model: model_class.model_name.human.titleize)  %>
    </div>
   <!-- 附加功能 -->
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
        </li>
        <li role="separator" class="divider"></li>
      </ul>
    </div>
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <% if @previous_word %>
        <%= link_to t('.previous', default: t("helpers.links.previous")), 
          word_path(@previous_word), 
          class: 'btn btn-default', 
          tabindex: 61, 
          "data-toggle": "tooltip", "data-placement": "bottom", 
          title: t('.previous', default: t("helpers.titles.previous"), model: t("activerecord.models.word")) %>
      <% end %>
      <% if @next_word %>
        <%= link_to t('.next', default: t("helpers.links.next")), 
          word_path(@next_word), 
          class: 'btn btn-default', 
          tabindex: 62, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.next', default: t("helpers.titles.next"), model: t("activerecord.models.word")) %>
      <% end %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @word.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:length) %>:</strong></dt>
  <dd><%= @word.length %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deleted_at) %>:</strong></dt>
  <dd><%= @word.deleted_at %></dd>
</dl>

<% else %>

<%- model_class = Word -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 管理功能 -->
    <div class="btn-group" role="group" arial-label="manage">
        <%= link_to t('.new', default:  t("helpers.links.new")), 
          new_word_path,
          class:  'btn btn-default', 
          tabindex: 21, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
        <%= link_to t('.edit', default: t("helpers.links.edit")), 
          edit_word_path(@word),
          class: 'btn btn-default', 
          tabindex: 22, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
        <%= link_to t('.destroy', default: t("helpers.links.destroy")),
          word_path(@word),
          method: 'delete',
          data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
          class: 'btn btn-default', 
          tabindex: 23, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
      <%= link_to t('.back', default: t("helpers.links.back")),
        words_path,
        class: 'btn btn-default', 
        tabindex: 24, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.back', default: [:"helpers.titles.back"], model: model_class.model_name.human.titleize)  %>
    </div>
   <!-- 附加功能 -->
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
        <%= link_to "从百度汉语获取信息", word_load_explain_from_baidu_hanyu_path(@word) %>
        </li>
        <%#<li role="separator" class="divider"></li>%>
      </ul>
    </div>
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <% if @previous_word %>
        <%= link_to t('.previous', default: t("helpers.links.previous")), 
          word_path(@previous_word), 
          class: 'btn btn-default', 
          tabindex: 61, 
          "data-toggle": "tooltip", "data-placement": "bottom", 
          title: t('.previous', default: t("helpers.titles.previous"), model: t("activerecord.models.word")) %>
      <% end %>
      <% if @next_word %>
        <%= link_to t('.next', default: t("helpers.links.next")), 
          word_path(@next_word), 
          class: 'btn btn-default', 
          tabindex: 62, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.next', default: t("helpers.titles.next"), model: t("activerecord.models.word")) %>
      <% end %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><small><%=t '.title', default: model_class.model_name.human.titleize %>：</small><%= @word.name %></h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    读音
    <button class="btn btn-xs btn-default pull-right" type="button" data-toggle="collapse" data-target="#collapseAddPhonetic" aria-expanded="false" aria-controls="collapseAddPhonetic">添加读音</button>
  </div>
  <div class="panel-body">
    <ul>
      <% @word.phonetics.each do |phonetic| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <li>
          <span class="paragraph"><%= phonetic.content %></span>
          <% notation = PhoneticNotation.find_by(word_id: @word.id, phonetic_id: phonetic.id) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_phonetic_notation_path(notation), class: 'btn btn-xs btn-default' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), phonetic_notation_path(notation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-xs btn-default' %>
        </li>
      </div>
      <% end %>
    </ul>
  </div>
  <div class="collapse" id="collapseAddPhonetic">
    <div class="panel-footer">
      <%= form_tag "/phonetic/create_phonetic_for_word", class: 'form-inline' do %>
        <div class="control-group">
          <%= label_tag "音标" %>
          <%= text_field_tag "content", nil, class: 'form-control' %>
          <%= label_tag "备注" %>
          <%= text_field_tag "label", nil, class: 'form-control' %>
          <%= submit_tag "新增读音", class: 'btn btn-xs btn-info form-control' %>
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAddPhonetic" aria-expanded="false" aria-controls="collapseAddPhonetic">取消</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    词义
    <button class="btn btn-xs btn-default pull-right" type="button" data-toggle="collapse" data-target="#collapseAddMeaning" aria-expanded="false" aria-controls="collapseAddMeaning">添加解释</button>
  </div>
  <div class="panel-body">
    <% @word.meanings.each do |meaning| %>
      <%= sanitize( meaning.content )%>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_meaning_path(meaning), class: 'btn btn-xs btn-default pull-right' %>
    <% end %>
  </div>
  <div class="collapse" id="collapseAddMeaning">
    <div class="panel-footer">
      <% @meaning = Meaning.new %>
      <% @meaning.word_id = @word.id %>
      <%= form_for @meaning, :html => { :class => "form-horizontal" } do |f| %>
        <div class="controls">
          <%= f.hidden_field :word_id, :class => 'form-control' %>
        </div>
        <div class="control-group">
          <%= f.cktext_area :content, class: 'form-control' %>
        </div>
          <%= f.submit nil, class: 'btn btn-info' %>
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAddMeaning" aria-expanded="false" aria-controls="collapseAddMeaning">取消</button>
      <% end %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    包含<strong><%= @word.name %></strong>的词语（共<%= @words_has_word.size %>个）
    <button class="btn btn-xs btn-default pull-right" type="button" data-toggle="collapse" data-target="#collapseAddWord" aria-expanded="false" aria-controls="collapseAddWord">添加词语</button>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @words_has_word.each do |word| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to word.name, word_path(word) %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="collapse" id="collapseAddWord">
    <div class="panel-footer">
      <% @new_Word = Word.new %>
      <%= form_for @new_Word, :html => { :class => "form-inline" } do |f| %>
        <div class="control-group">
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.submit nil, class: 'btn btn-info' %>
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAddWord" aria-expanded="false" aria-controls="collapseAddWord">取消</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    包含<strong><%= @word.name %></strong>的课文（共<%= @lessons_has_word.size %>个）
  </div>
  <div class="panel-body">
    <div class="row">
      <% @lessons_has_word.each do |lesson_id| %>
        <% lesson = Lesson.find(lesson_id) %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to lesson.title, lesson_path(lesson) %>
      </div>
      <% end %>
    </div>
  </div>

<% end %>
