<%- model_class = Classroom -%>
<%= link_to "返回主页", me_summary_path, class: 'btn btn-default' %>

<div class="page-header">
  <h3>我所在的班级</h3>
</div>
<% if @classrooms.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名称</th>
      <th>创建者</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><%= classroom.user.name %></td>
        <td>
          <%= link_to '进入班级', classroom_path(classroom), class: 'btn btn-primary btn-xs' %>
          <% if current_user.id == classroom.user_id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_classroom_path(classroom), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      classroom_path(classroom),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		      :class => 'btn btn-xs btn-default' %>
	  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div>您还没有加入什么班级哦。</div>
<% end %>
