<div class="page-header">
  <h3>答卷列表</h3>
  <%= link_to "返回主页", me_summary_path, class: "btn btn-sm btn-default" %>
  <%= link_to "查看积分", me_point_card_path, class: "btn btn-sm btn-default" %>
  <%= link_to "查看我评过的卷子", justices_path, class: "btn btn-sm btn-default" %>
</div>
  <h4>未评答卷</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>问题</th>
      <th>回答</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @unjustified_evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.title %></td>
        <td><%= evaluation.question %></td>
        <td><%= evaluation.your_answer %></td>
        <td><%= link_to "我来评卷", evaluation_path(evaluation), class: "btn btn-xs btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<hr>
  <h4>已评答卷</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>问题</th>
      <th>回答</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.title %></td>
        <td><%= evaluation.question %></td>
        <td><%= evaluation.your_answer %></td>
        <td><%= link_to "我接着来评卷", evaluation_path(evaluation), class: "btn btn-xs btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
