<%- model_class = Homework -%>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.up', :default => t("helpers.links.up")), me_summary_path, class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.me")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>我要完成的班级作业</h3>
</div>
<% if @class_homeworks.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>老师</th>
      <th>班级</th>
      <th>科目</th>
      <th>标题</th>
      <th>布置时间</th>
    </tr>
  </thead>
  <tbody>
    <% @class_homeworks.each do |homework| %>
      <tr>
        <td><%= homework.id %></td>
        <td><%= homework.user.name %></td>
        <td><%= homework.classroom.name %></td>
        <td><%= homework.subject.name %></td>
        <td><%= link_to homework.title, homework_path(homework) %></td>
        <td><%= homework.created_at.strftime("%F") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="well">暂时没有班级作业……</div>
<% end %>

<% if @special_homeworks.any? %>
<div class="page-header">
  <h3>我要完成的个人作业</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>老师</th>
      <th>学生</th>
      <th>科目</th>
      <th>标题</th>
      <th>布置时间</th>
    </tr>
  </thead>
  <tbody>
    <% @special_homeworks.to_a.each do |homework| %>
      <tr>
        <td><%= homework.id %></td>
        <td><%= homework.user.name %></td>
        <td><%= User.find(homework.student).name %></td>
        <td><%= homework.subject.name %></td>
        <td><%= link_to homework.title, homework_path(homework) %></td>
        <td><%= homework.created_at.strftime("%F") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="well">暂时没有个人作业……</div>
<% end %>

