<% if current_user.has_role? :admin %>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
   <!-- 附加功能 -->
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "修改账户信息", edit_registration_path(current_user) %>
        </li>
        <li>
          <%= link_to "查看充值记录", me_my_receipts_path %>
        </li>
        <li>
          <%= link_to "查看上线记录", onboards_path %>
        </li>
        <% if Cashier.find_by(user_id: current_user.id) %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "收银台", receipts_path %>
        </li>
        <% end %>
        <% if Master.find_by(user_id: current_user.id) %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "进入我的办公室", me_teacher_office_path %>
        </li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "查看积分", me_point_card_path %>
        </li>
        <li>
          <%= link_to "查看做过的试题", evaluations_path %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "我要完成的作业", me_my_homeworks_path %>
        </li>
        <li role="separator" class="divider"></li>
      </ul>
    </div>
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), "/", class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.site")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>


<div class="page-header">
    <h3>我是系统管理员</h3>
    <h4>——运筹帷幄之中，决胜千里之外</h4>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="admin-task">
  <div class="btn-group" role="group">
    <%= link_to "用户管理", users_path, class: 'btn btn-default' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "教师管理", masters_path, class: 'btn btn-default' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "出纳管理", cashiers_path, class: 'btn btn-default' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "建议管理", complaints_path, class: 'btn btn-default' %>
  </div>
</div>

<% else %>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
   <!-- 附加功能 -->
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "修改账户信息", edit_registration_path(current_user) %>
        </li>
        <li>
          <%= link_to "查看充值记录", me_my_receipts_path %>
        </li>
        <li>
          <%= link_to "查看上线记录", onboards_path %>
        </li>
        <% if Cashier.find_by(user_id: current_user.id) %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "收银台", receipts_path %>
        </li>
        <% end %>
        <% if Master.find_by(user_id: current_user.id) %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "进入我的办公室", me_teacher_office_path %>
        </li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "查看积分", me_point_card_path %>
        </li>
        <li>
          <%= link_to "查看做过的试题", evaluations_path %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "我要完成的作业", me_my_homeworks_path %>
        </li>
        <li role="separator" class="divider"></li>
      </ul>
    </div>
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), "/", class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.site")) %>
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>


<div class="page-header">
    <h3>我的主页</h3>
    <%= link_to "去教室里学习！", me_as_a_student_path, class: "btn btn-default" %>
    <%= link_to "上教学楼找班", classrooms_url, class: "btn btn-default" %>
    <%= link_to "到图书馆找书", textbooks_url, class: "btn btn-default" %>
    <%= link_to "跑教导处改卷", me_justify_path, class: "btn btn-default" %>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ever_textbooks" aria-expanded="true" aria-controls="collapseOne">
          最近翻过的教科书
        </a>
      </h4>
    </div>
    <div id="ever_textbooks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <% unless @ever_textbooks.length > 0 %>
          暂时还没有哦
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>教科书标题</th>
              </tr>
            </thead>
            <tbody>
              <% @ever_textbooks.reverse.each do |textbook| %>
                <tr>
                  <td><%= link_to textbook.title, textbook_path(textbook) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ever_lessons" aria-expanded="true" aria-controls="collapseOne">
          最近念过的课程
        </a>
      </h4>
    </div>
    <div id="ever_lessons" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
	      <% unless @ever_lessons.length > 0 %>
	        暂时还没有哦
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>课程标题</th>
              </tr>
            </thead>
            <tbody>
              <% @ever_lessons.reverse.each do |lesson| %>
                <tr>
                  <td><%= link_to lesson.title, lesson_path(lesson) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ever_tutors" aria-expanded="true" aria-controls="collapseOne">
          最近看过的辅导
        </a>
      </h4>
    </div>
    <div id="ever_tutors" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
	      <% unless @ever_tutors.length > 0 %>
	        暂时还没有哦
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>辅导标题</th>
              </tr>
            </thead>
            <tbody>
              <% @ever_tutors.reverse.each do |tutor| %>
                <tr>
                  <td><%= tutor.title %></td>
                  <td><%# link_to tutor.title, tutor_path(tutor) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#my_cardboxes" aria-expanded="true" aria-controls="collapseOne">
          最近玩过的卡片盒
        </a>
      </h4>
    </div>
    <div id="my_cardboxes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
         <% unless @my_cardboxes.length > 0 %>
	        暂时还没有哦
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>卡片盒</th>
              </tr>
            </thead>
            <tbody>
              <% @my_cardboxes.reverse.each do |cardbox| %>
                <tr>
                  <td><%= link_to cardbox.name, cardbox_path(cardbox) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% end %>
