<%- model_class = WordsReport -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
   <!-- 附加功能 -->
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" tabindex="61", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "标准比对", "#compare_with_standard", data: {toggle: "modal"}  %>
        </li>
      </ul>
    </div>
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <% if @previous_words_report %>
        <%= link_to t('.previous', default: t("helpers.links.previous")), 
          words_report_path(@previous_words_report), 
          class: 'btn btn-default', 
          tabindex: 61, 
          "data-toggle": "tooltip", "data-placement": "bottom", 
          title: t('.previous', default: t("helpers.titles.previous"), model: t("activerecord.models.words_report")) %>
      <% end %>
      <% if @next_words_report %>
        <%= link_to t('.next', default: t("helpers.links.next")), 
          words_report_path(@next_words_report), 
          class: 'btn btn-default', 
          tabindex: 62, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.next', default: t("helpers.titles.next"), model: t("activerecord.models.words_report")) %>
      <% end %>
      <%= link_to t('.up', :default => t("helpers.links.up")), lesson_url(@words_report.lesson_id), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %>：《<%= @words_report.lesson.title %>》全部词条</h3>
</div>

  <!-- Tab panes -->
<p>本文所用全部词条：</p>
<br>
<ul class="list-group">
  <% i = 0 %>
  <% @word_parsers_in_group.each do |word_parser| %>
    <% word = word_parser.word %>
    <% if word.is_meanful %>
      <li class="list-group-item list-group-item-success">
        <span class="badge"><%= link_to "标记为无意义词汇", word_change_meanful_path(word) %></span>
      <%= word.name %>
    <% else %>
      <li class="list-group-item">
        <span class="badge"><%= link_to "标记为有意义词汇", word_change_meanful_path(word) %></span>
        <%= word.name %>
    <% end %>
    </li>
  <% end %>
</ul>
<%= paginate @word_parsers_in_group %>

<hr>
<p>其他可用的分析：</p>
<div class="btn-group" role="group">
  <% 1.upto(@longest) do |t| %>
    <%= link_to "#{t}字", words_report_show_word_n_path(words_report_id: @words_report.id, num: t), class: 'btn btn-default' %>
  <% end %>
  <%= link_to "的字", words_report_show_de1_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "地字", words_report_show_de2_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "得字", words_report_show_de3_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "基本", words_report_show_basic_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "有意义", words_report_show_meanful_words_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "无意义", words_report_show_unmeanful_words_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "句子", sentences_path, class: 'btn btn-default' %>
  <%= link_to "比较", compare_with_another_path, class: 'btn btn-default' %>
</div>


<!-- Modal 选择一个标准进行比较 -->
<div class="modal fade" id="compare_with_standard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalTitle">请选择一个标准：</h4>
      </div>
      <div class="modal-body">
        <%= form_tag "/roadmaps/choose_begin_and_end", class: 'form-inline' do %>
          <div class="control-group">
            <%= select_tag :roadmap_id, options_for_select(Roadmap.where(user_id: current_user.id).order(:id).collect{ |roadmap| [roadmap.id.to_s + " - " + roadmap.name, roadmap.id]}), {prompt: "请选择一个标准，再进行比较", class: 'form-control col-md-4'} %>
          </div>
          <%= submit_tag "提交", :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal 选择一个标准进行比较 -->
