<%- model_class = WordsReport -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 导航按钮 -->
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <% if @previous_words_report %>
        <%= link_to t('.previous', default: t("helpers.links.previous")), 
          words_report_path(@previous_words_report), 
          class: 'btn btn-default', 
          tabindex: 61, 
          "data-toggle": "tooltip", "data-placement": "bottom", 
          title: t('.previous', default: t("helpers.titles.previous"), model: t("activerecord.models.words_report")) %>
      <% end %>
      <% if @next_words_report %>
        <%= link_to t('.next', default: t("helpers.links.next")), 
          words_report_path(@next_words_report), 
          class: 'btn btn-default', 
          tabindex: 62, 
          "data-toggle": "tooltip", 
          "data-placement": "bottom", 
          title: t('.next', default: t("helpers.titles.next"), model: t("activerecord.models.words_report")) %>
      <% end %>
      <%= link_to t('.up', :default => t("helpers.links.up")), lesson_url(@words_report.lesson_id), class: 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.lesson")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81, 
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %>：《<%= @words_report.lesson.title %>》“得”字分析</h3>
</div>

<p>其他可用的分析：</p>
<div class="btn-group" role="group">
  <%= link_to "单字", words_report_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "双字", words_report_show_word2_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "三字", words_report_show_word3_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "四字", words_report_show_word4_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "五字", words_report_show_word5_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "六字", words_report_show_word6_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "七字", words_report_show_word7_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "的字", words_report_show_de1_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "地字", words_report_show_de2_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "全部", words_report_show_all_words_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "基本", words_report_show_basic_path(@words_report), class: 'btn btn-default' %>
  <%= link_to "句子", sentences_path, class: 'btn btn-default' %>
</div>
<hr>
  <!-- Tab panes -->
      <p>本文所用“得”字统计：</p>
      <br>
      <ul class="list-group">
        <% i = 0 %>
        <% @word_parsers_in_group.each do |word_parser| %>
          <% word = Word.find(word_parser[0]) %>
          <% next unless word.name =~ /.得./ %>
          <% i = i + 1 %>
          <% if word.is_meanful %>
            <li class="list-group-item list-group-item-success">
              <span class="badge"><%= word_parser[1]%></span>
              <span class="badge"><%= link_to "标记为无意义词汇", word_change_meanful_path(word) %></span>
            <%= i %> <%= Word.find(word_parser[0]).name %>
          <% else %>
            <li class="list-group-item">
              <span class="badge"><%= word_parser[1]%></span>
              <span class="badge"><%= link_to "标记为有意义词汇", word_change_meanful_path(word) %></span>
              <%= i %> <%= Word.find(word_parser[0]).name %>
          <% end %>
          </li>
        <% end %>
      </ul>
