<%= form_for @badrecord, :html => { :class => "form-horizontal badrecord" } do |f| %>

    <% if @badrecord.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@badrecord.errors.count, "error") %> 使得这个 badrecord 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @badrecord.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% unless params[:action] == 'edit' %>
  <div class="form-group">
    <%= f.label :troublemaker, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <% cadre = Cadre.find(session[:cadre_id]) if session[:cadre_id] %>
      <% if cadre && cadre.team_id %>
        <% all_members = cadre.team.players.collect{|p| p.member} %>
        <%= f.collection_check_boxes :troublemaker, all_members.any? ? all_members.order(:serial).collect { |m| [m.student, m.serial.to_s + " " + User.find(m.student).name]} : [], :first, :last, class: 'form-control' do |b| %>
          <div class="col-sm-3">
            <%= b.label + b.check_box  %>
          </div>
        <% end %>
      <% else %>
        <%= f.collection_check_boxes :troublemaker, @classroom.members.order(:serial).collect { |m| [m.student, m.serial.to_s + " " + User.find(m.student).name]}, :first, :last, class: 'form-control' do |b| %>
          <div class="col-sm-3">
            <%= b.label + b.check_box  %>
          </div>
        <% end %>
      <% end %>
      <label>全选/不选</label>
      <input type="checkbox" id="checkbox_select_all" />
      <label>（提示：全选操作无效时可刷新页面）</label>
    </div>
    <%= error_span(@badrecord[:troublemaker]) %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :troubletime, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.date_select :troubletime, :class => 'form-control' %>
    </div>
    <%= error_span(@badrecord[:troubletime]) %>
  </div>

  <div class="form-group">
    <%= f.label :subject_id, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <% teachers = Teacher.where(classroom_id: session[:classroom_id], mentor: current_user.id) %>
      <% unless teachers.any? %>
        <% cadre = Cadre.find_by(classroom_id: session[:classroom_id], member_id: Member.find_by(student: current_user.id).id) %>
      <% end %>
      <% if teachers.any? %>
        <%= f.select :subject_id, teachers.collect { |t| [t.subject.name, t.subject_id]}, :class => 'form-control' %>
      <% elsif cadre %>
        <% cadre_subject = Subject.all.collect {|s| [s.name, s.id] if cadre.position.match(s.name)}.compact %>
        <% all_subject = Subject.all.collect { |s| [s.name, s.id]} %>
        <% if cadre_subject.any? %>
          <% cadre_subjects = cadre_subject %>
        <% else %>
          <% cadre_subjects = all_subject %>
        <% end %>
        <%= f.select :subject_id, cadre_subjects, :class => 'form-control' %>
      <% else %>
      <%= f.select :subject_id, Subject.all.collect { |s| [s.name, s.id]}, :class => 'form-control' %>
      <% end %>
    </div>
    <%= error_span(@badrecord[:subject_id]) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@badrecord[:description]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            badrecords_path, :class => 'btn btn-default' %>

<% end %>
