<% if current_user.has_role? :admin %>

<%= form_for @booklist, html: { class: "form-horizontal booklist" } do |f| %>

    <% if @booklist.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@booklist.errors.count, "error") %> 使得这个 booklist 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @booklist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>
    <%= error_span(@booklist[:user_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :textbook_id, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :textbook_id, class: 'form-control' %>
    </div>
    <%= error_span(@booklist[:textbook_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :serial, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :serial, class: 'form-control' %>
    </div>
    <%= error_span(@booklist[:serial]) %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :deleted_at, class: 'form-control' %>
    </div>
    <%= error_span(@booklist[:deleted_at]) %>
  </div>


  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            booklists_path, class: 'btn btn-default' %>

<% end %>

<% else %>

<%= form_for @booklist, html: { class: "form-horizontal booklist" } do |f| %>

    <% if @booklist.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@booklist.errors.count, "error") %> 使得这个 booklist 无法保存：</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @booklist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :serial, class: 'control-label col-sm-2' %>
    <div class="controls col-sm-10">
      <%= f.text_field :serial, class: 'form-control' %>
    </div>
    <%= error_span(@booklist[:serial]) %>
  </div>

  <%= f.submit nil, class: 'btn btn-primary col-sm-offset-2' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            booklists_path, class: 'btn btn-default' %>

<% end %>

<% end %>
