<%- model_class = Lesson -%>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>


<% if @words.any? %>
<div class="panel panel-default">
  <div class="panel-heading"><small>包含</small><%= @search %><small>的词汇</small>（共 <%= @words.size %> 个）：</div>
  <div class="panel-body">
    <%# @words.join("; ") %>
    <% @words.each do |w| %>
      <%= link_to w.name, word_path(w.id) %> 
    <% end %>
  </div>
</div>
<% else %>
  <!--  <p>没有找到包含<small> <%# @search %> </small>的词语</p> -->
<% end %>
<hr>

<% if @textbooks.any? %>
<div class="page-header">
  <h3><small>包含</small> <%= @search %> <small>的课本：</small></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <% @textbooks.each do |textbook| %>
      <tr>
        <td><%= textbook.id %></td>
        <td><%= link_to textbook.title, textbook_path(textbook) %></td>
        <td><%= textbook.description.first(50) if textbook.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>没有找到名称包含<small> <%= @search %> </small>的课本</p>
<% end %>
<hr>

<% if @lessons.any? %>
<div class="page-header">
  <h3><small>包含</small> <%= @search %> <small>的课程：</small></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>作者</th>
      <th>年代</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= link_to lesson.title, lesson_path(lesson) %></td>
        <td><%= lesson.author %></td>
        <td><%= lesson.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>没有找到标题包含<small> <%= @search %> </small>的课程</p>
<% end %>
<hr>

<% if @lessons_by_author.any? %>
<div class="page-header">
  <h3><small>作者是</small> <%= @search %> <small>的课程：</small></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>课程名称</th>
      <th>年代</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons_by_author.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= link_to lesson.title, lesson_path(lesson) %></td>
        <td><%= lesson.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>没有找到作者包含<small> <%= @search %> </small>的课程</p>
<% end %>
<hr>

<%= link_to "接着搜索包含 #{@search} 的句子", search_sentences_path(title: @search), class: "btn btn-primary" %>
