<%- model_class = Lesson -%>

<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<% if @lessons.any? %>
<div class="page-header">
  <h3><small>包含</small> <%= @search %> <small>的课程：</small></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>课程名称</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= link_to lesson.title, lesson_path(lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr>

<% if @lessons_by_author.any? %>
<div class="page-header">
  <h3><small>作者是</small> <%= @search %> <small>的课程：</small></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>课程名称</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons_by_author.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= link_to lesson.title, lesson_path(lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr>

<% if @sentences.any? %>
<div class="page-header">
  <h3><small>包含</small> <%= @search %> <small>的语句：</small></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>句子</th>
      <th>出处</th>
    </tr>
  </thead>
  <tbody>
    <% @sentences.each_with_index do |sentence, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= sentence.name %></td>
        <td><%= link_to sentence.lesson.title, lesson_path(sentence.lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @words.any? %>
<div class="panel panel-default">
  <div class="panel-heading"><small>包含</small><%= @search %><small>的词汇</small>（共 <%= @words.size %> 个）：</div>
  <div class="panel-body">
    <%# @words.join("; ") %>
    <% @words.each do |w| %>
      <%= link_to w.name, word_path(w.id) %> 
    <% end %>
  </div>
</div>
<% end %>
