<%- model_class = Card -%>
<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.back', :default => t("helpers.links.back")), cards_path, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.back', :default => [:"helpers.titles.back"], :model => model_class.model_name.human.titleize) %>
    </div>
  </div>
</div>
<p>请务必留意代码max_time的设定。因为<span style="color:red">单个中文</pan>的书写时间一般比<span style="color:red">单个英文字母</pan>的长。</p>
<textarea rows="20" cols="80">
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
  <style type="text/css">
    /* min-width */
    @media screen and (max-width: 600px) { .par {font-size: 40px; color: green;} .par_ti {font-size: 40px; color: black;}}
    /* min-width & max-width */
    @media screen and (min-width: 600px) and (max-width: 900px) { .par {font-size: 50px; color: green;} .par_ti {font-size: 50px; color: black;}}
    /* max-width */
    @media screen and (min-width: 900px) { .par {font-size: 60px; color: green;} .par_ti {font-size: 60px; color: black;}}
  </style>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
  <script>
  var timer; //计时变量。
  var t_show; //计时变量。
  function clear_timer(){ clearTimeout(timer); }; // 翻页时清除计时器

  $(document).ready(function(){
  // 强制要求输入用户序号
  var myindex="";  // 用户序号
  while(myindex == ""){
  myindex=prompt("请输入您的序号：");
  if(myindex === null){myindex = "";};
  var temp_index = myindex.replace(/\s/g, "");
  if(/^[0-9]+$/.test(temp_index)){myindex = temp_index}else{myindex = "";};
  };
  // 强制要求输入用户名
  var myname="";  // 用户名
  while(myname == ""){
  myname=prompt("请输入您的名字（2-4个字）：");
  if(myname === null){myname = "";};
  var temp_name = myname.replace(/\s/g, "");
  if(temp_name.length < 2 || temp_name.length > 4){myname = "";};
  };
  // 隐藏所有显示答案
  $("button.show_answer").parent().hide();
  // 全局变量
  var start_time = new Date();  // 使用的开始时间
  var valid_click = 0;    // 有效点击的次数
  var neutral_click = 0;    // 中性点击（答案出示太快）的次数
  var invalid_click = 0;    // 无效点击（没有核对答案）的次数
  var max_internal_time=0;   //两个点击间隔的最大时间长度
  var start_practice_time = new Date();
  var select_unit = [];
  var each_maxtime=7000; //每个项目测试的时间；测试时超过该时间，该次测试被判定为不合格。
  var pass_time=1;  // 如果每个项目得到这个分数，则通过测试。
  var score=0;      //练习分数。
  var practice_score = 0; //练习分数，用于测试时存放。
  var test_score = 0; // 测试分数。
  var res = "";     // 问题
  var pre_res = ""; // 上一个问题
  var answer = "";  // 答案
  var res_mid_time = 0;  // 答题时间中点；
  var res_end_time = 0;  // 答题结束时间；

  // 测试项目：
<% cardbox = Cardbox.find(session[:cardbox_id]) %>
<% practice_id = cardbox.cards.map{|c|c.practice_id} %>
<% practices = Practice.where(id: practice_id) %>
<% all_practices = practices.map{|p| [ p.question, p.answer ]} %>
<% all_practices_count = all_practices.count %>
<% num_per_unit = 10 %>
<% units = all_practices.each_slice(num_per_unit).to_a %>
<% units_count = units.count %>
<% 1.upto(units_count) do |i| %>
  // 第<%= i %>关
  /// 单元测试和分数变量
  <%= "var zi_unit_#{i} = #{units[i-1]};" %>
  <%= "var zi_unit_#{i}_1 = [].concat(zi_unit_#{i});" %>
  <%= "var point_unit_#{i} = {};" %>
  for(var k=0; k < zi_unit_<%= i %>.length; k++){ 
    <%= "point_unit_#{i}[zi_unit_#{i}[k][0]]=0;" %>
    };
  /// 汇总测试和分数变量
<% if i == 1 %>
  <%= "  var zi_unit_#{i}_2 = zi_unit_#{i};" %>
<% else %>
<%= "  var zi_unit_#{i}_2 = zi_unit_#{i}.concat(zi_unit_#{i-1}_2);" %>
<% end %>
  <%= "  var point_unit_#{i}_2 = {};" %>
  for(var k=0; k < zi_unit_<%= i %>_2.length; k++){
    <%= "point_unit_#{i}_2[zi_unit_#{i}_2[k][0]]=0;"%>
  };
  /// 测试按钮
  $("#btn_unit_<%= i %>").click(function(){practice(zi_unit_<%= i %>,point_unit_<%= i %>,"par_unit_<%= i %>");});
  $("#btn_unit_<%= i %>_2").click(function(){practice(zi_unit_<%= i %>_2,point_unit_<%= i %>_2,"par_unit_<%= i %>");});
<% end %>

  // 错题测试
  var zi_fail=[];
  var point_zi_fail = {};
  $("#btn_show_zi_fail").click(function(){lesson(zi_fail, "par_zi_fail");});
  $("#btn_test_zi_fail").click(function(){practice(zi_fail, point_zi_fail, "par_zi_fail");});

  // 展示错题
  function lesson(chars, level){
    if (chars.constructor == Array){
      var new_zi = "<ol><li>" + chars.join("</li><li>") + "</li></ol>";
    }else{
      var new_zi = chars;
    };
    var par = "#" + level
    $(answer).hide();
    $("button.show_answer").parent().hide();
    if (new_zi == ""){
      alert("恭喜恭喜！\n没有出错的项目");
    }else{
      $(par).html(function(){
        return new_zi; 
      });			
    };
  }

  // 练习
  function practice(chars, points, level, index){
    var par = "#" + level;
    answer = "#answer_" + level;
    // 解除计时
    clearTimeout(timer);
    clearTimeout(t_show);
    // 如果有元素得分为pass_time变量,则将该元素从chars中删去
    var i=0;
    for(i; i<chars.length; i++){
      if(points[chars[i][0]]>=pass_time){
        chars.splice(i,1);
        break;
      }
    }
    // 检查chars是否有元素
    if (chars.length == 0){
      alert("恭喜恭喜！大家恭喜！您已经顺利过关啦！\n\n还想再来一次吗？——那就刷新网页吧！\n——不过，右上角的分数会被清零哦！\n\n还是进入下一关吧！");
      $(par).html(function(){ return ""; });
      $("button.show_answer").parent().hide();
      $(answer).hide();
    }
    else{
      //随机选择一个元素进行测试
      var id = Math.floor(Math.random()*chars.length);
      res = chars[id][0];
      ans = chars[id][1];
      // 如果选择的元素和前一个相同，则废弃该元素重新随机选择
      if (res == pre_res){
	      if (chars.length > 1){
	        var rest_chars = [].concat(chars);
	        rest_chars.splice(id, 1);
          var new_id = Math.floor(Math.random()*rest_chars.length);
          res = rest_chars[new_id][0];
          ans = rest_chars[new_id][1];
	      }
      };
      ++points[res];
      ++invalid_click;
      if (index > 0){
        var index_res = index.toString().concat("） ", res);
        $(par).html(function(){ return index_res; });
      }else{
        $(par).html(function(){ return res; });
      };
      $(answer).hide();
      $(answer).html(function(){ return ans; });
      pre_res = res;
      // 开始记录最长时间间隔
      var new_practice_time = new Date();
      var internal_time = new_practice_time.valueOf() - start_practice_time.valueOf();
      if(internal_time > max_internal_time){
        max_internal_time = internal_time
      }
      start_practice_time =  new_practice_time;
      // 设置超时
      ans = ans.replace(/<[a-z]*>/g,"");
      ans = ans.replace(/<\/[a-z]*>/g,"");
      ans = ans.replace(/\r/g,"");
      ans = ans.replace(/\n/g,"");
      maxtime = ans.length * each_maxtime;
      // alert(ans.length.toString() + ans);
      var res_start_time = new Date();
      res_mid_time = res_start_time.valueOf() + maxtime / 2;
      res_end_time = res_start_time.valueOf() + maxtime;
      t_show = setTimeout(function(){
        $("button.show_answer").parent().show();
        $("button.show_answer").parent().parent().show();
      }, maxtime/3);   //
      timer = setTimeout(function(){
	      alert("可不要气馁~~\n\n我们再来一次吧！");
	      --points[res];
        --score;
        $(".right-top-count").html(function(){return score});
          // 将没有通过的字压入zi_fail变量，并初始化该元素的分数。
	      if (zi_fail.indexOf(chars[id]) == -1){
	        zi_fail.push(chars[id]);
	        point_zi_fail[chars[id][0]]=0;
	      };
      }, maxtime);   //
    }
 }
 
  // 显示答案
  $("button.show_answer").click(function(){
      $(answer).show();
      $("button.show_answer").parent().hide();
      var now_time = new Date();
      now_time = now_time.valueOf();
      if (now_time < res_mid_time){
        --invalid_click;
        ++neutral_click;
      }else{
        --invalid_click;
        ++valid_click;
        ++score;
        $(".right-top-count").html(function(){return score});
      };
  });

  // 设置训练强度
  $(".settings").click(function(){
    var prompt_time=prompt("每个项目的测试时间\n单位：秒", "5");
    if(prompt_time < 1){ prompt_time = 7;};
    each_maxtime = prompt_time * 1000;
    pass_time=prompt("每个项目的测试次数", "1");
    if(pass_time < 1){pass_time = 1};
  });

  //抽查测试
  var zi_part_test = [];
  var point_part_test = {};
  var part_test_times = 0;
  var part_test_entry_num;
  var org_index = 0;
  $("#begin_org").click(function(){
    /// 初始化测试
    select_unit = [].concat($("#select_unit").val());
    if (select_unit.toString() == "") {alert("请先选择合适的关卡。"); return false;} 
    if (zi_part_test.length == 0){
      var zi_part_test_step=0;
      for (var i=0; i < select_unit.length; i++){
        var single_unit = select_unit[i] + "_1";
        var trans_single_unit = eval(single_unit);
        for (var j=0; j < trans_single_unit.length; j++){
          zi_part_test[zi_part_test_step]=trans_single_unit[j];
          zi_part_test_step++;
        }
      }
      //// 获取试题数目
      part_test_entry_num = $("#part_test_entry_num").val();
      if(part_test_entry_num > zi_part_test.length) {part_test_entry_num = zi_part_test.length};
      var ori_arr = zi_part_test;
      var arr = ori_arr;
      var res = [];
      for (var i = 0, len = arr.length; i < len; i++) {
        var j = Math.floor(Math.random() * arr.length);
        res[i] = arr[j];
        arr.splice(j, 1);
      }
      zi_part_test = res;
      //// 初始化项目分数
      for(var s=0; s<zi_part_test.length; s++){point_part_test[zi_part_test[s]]=0;};
      ////分数清零。
      practice_score = score;
      score = 0; $(".right-top-count").html(function(){return score});
      alert("测试开始，分数清零");
      org_index = 0;
    };
    /// 开始测试
    if (part_test_times < part_test_entry_num){
      clearTimeout(t_show); // 清除上一题的计时
      ++org_index;
      new_zi_part_test = [zi_part_test[part_test_times]];
      new_point_part_test= [point_part_test[part_test_times]];
      practice(new_zi_part_test,new_point_part_test,"par_part_test", org_index);
      ++part_test_times;
    }else{
      ///结束测试
      $("#par_part_test").html(""); 
      $("#answer_par_part_test").html(""); 
      $("button.show_answer").parent().hide();
      test_score = Math.round(score*(100/part_test_entry_num));
      var part_test_message = "本次测试" + test_score + "分！"; 
      alert(part_test_message);
      clearTimeout(timer);
      clearTimeout(t_show);
      score = practice_score;
      $(".right-top-count").html(function(){return score});
      zi_part_test = [];
      part_test_times = 0;
      $("#select_unit").val(null);
      $(".ui-checkbox-on").addClass("ui-checkbox-off");
		  $(".ui-checkbox-off").removeClass("ui-checkbox-on");
      $("#select_unit").selectmenu("refresh");
    };
  });

  // 生成报告
  $(document).on("pageshow","#report",function(){
    start_month = start_time.getMonth() + 1;
    $("#report_start_date").text(start_time.getFullYear().toString() + "-" + start_month.toString() + "-" + start_time.getDate().toString());
    $("#report_start_time").text(start_time.toLocaleTimeString());
    now_time = new Date();
    $("#report_end_time").text(now_time.toLocaleTimeString());
    duration = now_time.valueOf() - start_time.valueOf();
    d_hour = Math.floor(duration/1000/60/60);
    d_minute = Math.floor(duration/1000/60%60);
    d_second = Math.floor(duration/1000%60%60);
    $("#report_time").text(d_hour + "小时" + d_minute + "分钟" + d_second + "秒");
    $("#report_valid_click").text(valid_click + "次");
    $("#report_neutral_click").text(neutral_click + "次");
    $("#report_invalid_click").text(invalid_click + "次");
    $("#report_score").text(score);
    $("#report_test_score").text(test_score);
    var my_index_name = myindex + "_" + myname;
    $("#report_name").text(my_index_name);
    var new_practice_time = new Date();
    var internal_time = new_practice_time.valueOf() - start_practice_time.valueOf();
    if(internal_time > max_internal_time){
      max_internal_time = internal_time
    }
    $("#report_max_internal_time").text(max_internal_time/1000);   //两个点击间隔的最大时间长度
    $("#report_each_maxtime").text(each_maxtime);
    $("#report_pass_time").text(pass_time);
    $("#report_select_unit").text(select_unit.length);
  });
  });
  </script>
</head>
<body onhashchange="clear_timer()">
<div data-role="page" id="home">
  <div data-role="header">
    <h1><%= cardbox.name %>·首页</h1>
  </div>
  <div data-role="content">
    <div style="text-align: center;">
      <a href="#part_test" data-role="button" data-transition="pop" style="width: 80%; margin: auto;background-color: rgb(140,191,0);">点击这里，开始练习</a>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h4>······使用提示······</h4>
      <p>使用之前，您需要准备好纸笔，并写上<span style="color:red">序号、姓名和日期时间</span>。</p>
      <p>打开软件之后，请输入您的姓名，以便生成报告。</p>
      <p>使用时，您需要点击按钮，以<span style="color:red">显示问题</span>。</p>
      <p>显示问题之后，要先在纸上写好<span style="color:red">问题的序号</span>，再凭借记忆写上<span style="color:red">答案</span>（写不出来，就在序号后面画个叉），然后点击“显示答案”按钮进行<span style="color:red">校对</span>。如果纸张上的答案不正确，您需要对照答案将它改正，最好多写七遍，加深印象。</p>
      <p>然后就可以接着点击按钮进入下一题了。</p>
      <p>达到老师的使用要求之后，请打开<span style="color:red">“报告”</span>页面，进行截图，然后将您写了答案的纸张进行<span style="color:red">拍照</span>，将截图和拍照传给老师。</p>
    </div>
    <div data-role="collapsible">
      <h4>······怎么版面乱七八糟的？······</h4>
      <p>很有可能是浏览器禁用了JavaScript，您需要手动开启JavaScript。</p>
      <p>也有可能是CDN服务器出错，您可以改动代码或者向作者反映问题。</p>
    </div>
    <div data-role="collapsible" >
      <h4>······已知bug······</h4>
      <ol>
        <li>功能改进：如果无需数据持久化，欢迎提出意见！</li>
      </ol>
    </div>
    <div data-role="collapsible">
      <h4>······许可证······</h4>
      <p>GPLv3。内容详见<a href="http://www.gnu.org/licenses/gpl-3.0.html">这里</a>。</p>
    </div>
    <div data-role="collapsible" style="text-align: center;">
      <h4>······作者······</h4>
      <p>我是李启训（keelson@189.cn）<br>一起参加<a href="http://www.gnu.org">自由软件运动</a>吧！</p>
    </div>
  </div><!-- content -->
</div><!-- page -->

<div data-role="page" id="catalog">
  <div data-role="header">
    <h1>目录</h1>
    <button class="settings ui-btn-right" data-icon="gear">设置</button>
    <div data-role="navbar"> <ul>
        <li><a href="#home" data-icon="arrow-l">上一页</a></li>
        <li><a href="#unit_1" data-icon="arrow-r">下一关</a></li>
      </ul>
    </div> <!-- navbar -->
  </div>
  <div data-role="content" style="text-align: center;">
    <h3>请选择适当的关卡：</h3>
    <ul data-role="listview">
    <% 1.upto(units_count) do |i| %>
      <li> <a href="#unit_<%= i %>" data-transition="pop">第<%= i %>关</a></li>
    <% end %>
      <li> <a href="#part_test" data-transition="pop">抽查测验</a></li>
      <li> <a href="#report" data-transition="pop">练习报告</a></li>
    </ul>
  </div>
</div>

<% 1.upto(units_count) do |i| %>
<div data-role="page" id="unit_<%= i %>">
  <div data-role="header">
    <a href="#catalog" data-icon="home">目录</a>
    <h1>第<%= i %>关</h1>
    <button data-role="button"class="ui-btn-right"><span class="ui-li-count right-top-count" style="position: relative; right: 0em;"></span></button>
    <div data-role="navbar">
      <ul>
        <% if i == 1 %>
        <li><a href="#catalog" data-icon="arrow-l">上一页</a></li>
        <% else %>
        <li><a href="#unit_<%= i - 1 %>" data-icon="arrow-l">上一关</a></li>
        <% end %>
        <li><a href="#zi_fail" data-icon="info">错题本</a></li>
        <li> <a href="#report" data-icon="star">报告</a></li>
        <% if i == units_count %>
        <li><a href="#part_test" data-icon="arrow-r">下一关</a></li>
        <% else %>
        <li><a href="#unit_<%= i + 1 %>" data-icon="arrow-r">下一关</a></li>
        <% end %>
      </ul>
    </div><!-- navbar -->
  </div><!-- header -->
  <div data-role="content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <button id="btn_unit_<%= i %>" style="width: 100%;">本关练习</button>
      </div>
      <div class="ui-block-b">
        <button id="btn_unit_<%= i %>_2" style="width: 100%;">汇总练习</button>
      </div>
    </div><!-- ui-grid-a -->
    <p id="par_unit_<%= i %>" class="par_ti" style="text-align: center; margin: 0px;"></p>
    <p id="answer_par_unit_<%= i %>" class="par" style="text-align: center; margin: 0px;"></p>
    <div>
      <button class="show_answer">查看答案</button>
    </div>
  </div><!-- content -->
</div><!-- page -->
<% end %>

<div data-role="page" id="zi_fail">
  <div data-role="header">
    <a href="#catalog" data-icon="home">目录</a>
    <h1>出错的题</h1>
    <button data-role="button"class="ui-btn-right"><span class="ui-li-count right-top-count" style="position: relative; right: 0em;"></span></button>
    <div data-role="navbar">
      <ul>
        <li> <a href="javascript:history.back(-1)" data-icon="back">返回</a></li>
        <li> <a href="#part_test" data-icon="info">抽查测验</a></li>
        <li> <a href="#report" data-icon="star">报告</a></li>
      </ul>
    </div> <!-- navbar -->
  </div><!-- header -->
  <div data-role="content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <button id="btn_show_zi_fail" style="width: 100%;">显示没有通过的题</button>
      </div>
      <div class="ui-block-b">
        <button id="btn_test_zi_fail" style="width: 100%;">测试没有通过的题</button>
      </div>
    </div><!-- ui-grid-a -->
    <p id="par_zi_fail" class="par_ti" style="font-family: helvetica; text-align: center; margin: 0px;"></p>
    <p id="answer_par_zi_fail" class="par" style="text-align: center; margin: 0px;"></p>
    <div>
      <button class="show_answer">查看答案</button>
    </div>
  </div><!-- content -->
</div><!-- page -->

<div data-role="page" id="part_test">
  <div data-role="header">
    <h1>抽查测验</h1>
    <button data-role="button"class="ui-btn-right"><span class="ui-li-count right-top-count" style="position: relative; right: 0em;"></span></button>
    <div data-role="navbar">
      <ul>
        <li> <a href="javascript:history.back(-1)" data-icon="back">返回</a></li>
        <li><a href="#zi_fail" data-icon="info">错题本</a></li>
        <li><a href="#report" data-icon="star">报告</a></li>
        <li><a href="#catalog" data-icon="arrow-r">下一页</a></li>
      </ul>
    </div> <!-- navbar -->
  </div><!-- header -->
  <div data-role="main" class="ui-content">
    <fieldset data-role="fieldcontain">
      <label for="select_unit">选择关卡：</label>
      <select name="select_unit" id="select_unit" multiple="multiple" data-native-menu="false">
	      <option>关卡</option>
        <% 1.upto(units_count) do |i| %>
        <option value="zi_unit_<%= i %>" selected>第<%= i %>关</option>
        <% end %>
      </select>
    </fieldset>
    <fieldset data-role="fieldcontain">
      <label for="part_test_entry_num">测试题数：</label>
      <input type="range" name="part_test_entry_num" id="part_test_entry_num" value="<%= all_practices_count %>" min="2" max="<%= all_practices_count %>">
    </fieldset>
    <input type="button" value="开始测试" id="begin_org">
    <p id="par_part_test" class="par_ti" style="text-align: center; margin: 0px;"></p>
    <p id="answer_par_part_test" class="par" style="text-align: center; margin: 0px;"></p>
    <div>
      <button class="show_answer">查看答案</button>
    </div>
  </div><!-- content -->
</div><!-- page -->
<div data-role="page" id="report">
  <div data-role="header">
    <a href="#catalog" data-icon="home">目录</a>
    <h1>练习报告</h1>
    <button data-role="button"class="ui-btn-right"><span class="ui-li-count right-top-count" style="position: relative; right: 0em;"></span></button>
    <div data-role="navbar">
      <ul>
        <li> <a href="javascript:history.back(-1)" data-icon="back">返回</a></li>
        <li><a href="#zi_fail" data-icon="info">错题本</a></li>
      </ul>
    </div> <!-- navbar -->
  </div><!-- header -->
  <div data-role="content">
    <table>
      <tbody>
        <tr>
          <td>任&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;务<td>
            <td><%= cardbox.name.first(24) %></td>
        </tr>
        <tr>
          <td>用&amp;nbsp;&amp;nbsp;户&amp;nbsp;&amp;nbsp;名<td>
          <td id="report_name"></td>
        </tr>
        <tr>
          <td>时&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;长<td>
          <td id="report_time"></td>
        </tr>
        <tr>
          <td>练习得分<td>
          <td id="report_score"></td>
        </tr>
        <tr>
          <td>测试得分<td>
          <td id="report_test_score"></td>
        </tr>
        <tr>
          <td>有效点击<td>
          <td id="report_valid_click"></td>
        </tr>
        <tr>
          <td>中性点击<td>
          <td id="report_neutral_click"></td>
        </tr>
        <tr>
          <td>无效点击<td>
          <td id="report_invalid_click"></td>
        </tr>
        <tr>
          <td>最长间隔<td>
          <td id="report_max_internal_time"></td>
        </tr>
        <tr>
          <td>单位时长<td>
          <td id="report_each_maxtime"></td>
        </tr>
        <tr>
          <td>练习次数<td>
          <td id="report_pass_time"></td>
        </tr>
        <tr>
          <td>测试范围<td>
          <td id="report_select_unit"></td>
        </tr>
        <tr>
          <td>练习日期<td>
          <td id="report_start_date"></td>
        </tr>        <tr>
          <td>开始时间<td>
          <td id="report_start_time"></td>
        </tr>
        <tr>
          <td>报告时间<td>
          <td id="report_end_time"></td>
        </tr>
      </tbody>
    </table>
  </div><!-- content -->
</div><!-- page -->
</body>
</html>
</textarea>
