<%- model_class = Meaning -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', default: t("helpers.links.new")), 
        new_meaning_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" tabindex="61", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a  data-toggle="modal" href="#searchModal">搜索</a></li>
      </ul>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:word_id) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @meanings.each do |meaning| %>
      <tr>
        <td><%= link_to meaning.id, meaning_path(meaning) %></td>
        <td><%= link_to meaning.word.name, word_path(meaning.word_id) %></td>
        <td><%= sanitize( meaning.content ) %></td>
        <td><%= meaning.deleted_at %></td>
        <td><%= meaning.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
            edit_meaning_path(meaning), class: 'btn btn-default btn-xs',
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
            meaning_path(meaning),
            method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
            class: 'btn btn-xs btn-default', 
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @meanings %>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag "/search_meanings", method: :get, class: 'form-inline' do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title">使用正则表达式搜索包含该词义的词语</h4>
      </div>
      <div class="modal-body">
        <div>
        <p>如果您不了解 postgres 数据库的正则表达式</p>
        <p>应先去了解相关知识，避免误用</p>
        <p>相关知识可查看<a href="/lessons/10687">这里</a></p>
        <p>另外，基本汉字的表示范围是[\u4e00-\u9fa5]</p>
      </div>
        <div class="control-group">
          <%= search_field_tag :pattern %>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <%= submit_tag "提交", :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
