<%- model_class = Receipt -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', default: t("helpers.links.new")), 
        new_receipt_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="operation">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="60" >
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "查看在线人员", who_online_path %>
        </li>
        <li>
          <%= link_to "柜台换班交款", new_withdraw_path %>
        </li>
      </ul>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), 
        me_summary_path, 
        class: 'btn btn-default', 
        tabindex: 70,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.up', default: t("helpers.titles.up"), :model => t("activerecord.models.me")) %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>收银台</h3>
  <h4>当前账面金额：<%= Receipt.last.balance %>元<h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:cashier) %></th>
      <th><%= model_class.human_attribute_name(:money) %></th>
      <th><%= model_class.human_attribute_name(:balance) %></th>
      <th><%= model_class.human_attribute_name(:time_length) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= receipt.user.name%></td>
        <td><%= link_to receipt.cashier.to_s + "_" + User.find(receipt.cashier).name, person_receipts_path(user_id: receipt.cashier) %></td>
        <td><%= receipt.money %>元</td>
        <td><%= receipt.balance %>元</td>
        <td><%= receipt.time_length / 60 %>分钟</td>
        <td><%= receipt.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @receipts %>
