<% if current_user.has_role? :admin %>

<%- model_class = Plan -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:serail) %>:</strong></dt>
  <dd><%= @plan.serail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @plan.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:teaching_id) %>:</strong></dt>
  <dd><%= @plan.teaching_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tutor_id) %>:</strong></dt>
  <dd><%= @plan.tutor_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              plans_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_plan_path(@plan), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plan_path(@plan),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% else %>

<%- model_class = Plan -%>
>
<div class="container col-xs-11 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <!-- 管理功能 -->
    <div class="btn-group" role="group" arial-label="manage">
      <% if current_user.id == @plan.user_id  %>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_plan_path, :class => 'btn btn-default', tabindex: 51, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.new', :default => [:"helpers.titles.new"], :model => model_class.model_name.human.titleize) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_plan_path(@plan), :class => 'btn btn-default', tabindex: 52, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.edit', :default => [:"helpers.titles.edit"], :model => model_class.model_name.human.titleize) %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          plan_path(@plan),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-default', tabindex: 53, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.delete', :default => [:"helpers.titles.delete"], :model => model_class.model_name.human.titleize) %>
      <% end %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
        plans_path, :class => 'btn btn-default', tabindex: 54, "data-toggle": "tooltip", "data-placement": "bottom", title: t('.back', :default => [:"helpers.titles.back"], :model => model_class.model_name.human.titleize)  %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', :default => t("helpers.links.retreat")), :back, :class => 'btn btn-default', "data-toggle": "tooltip", "data-placement": "bottom", title: t('.retreat', :default => [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>


<div class="page-header">
  <h3>查看计划</h3>
</div>

<dl class="dl-horizontal">
  <dt>序号</dt>
  <dd><%= @plan.serail %></dd>
  <dt>创建者</dt>
  <dd><%= @plan.user.name %></dd>
  <dt>所属教学方案</dt>
  <dd><%= @plan.teaching.title %></dd>
  <dt>所用辅导页面</dt>
  <dd><%= @plan.tutor.title %></dd>
</dl>

<% end %>
