<% if current_user.has_role? :admin %>

<%- model_class = Examroom -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', default: t("helpers.links.new")), 
        new_examroom_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:classroom_id) %></th>
      <th><%= model_class.human_attribute_name(:paper_id) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:isactive) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @examrooms.each do |examroom| %>
      <tr>
        <td><%= link_to examroom.id, examroom_path(examroom) %></td>
        <td><%= examroom.user_id %></td>
        <td><%= examroom.classroom_id %></td>
        <td><%= examroom.paper_id %></td>
        <td><%= examroom.deleted_at %></td>
        <td><%= examroom.isactive %></td>
        <td><%= examroom.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
            edit_examroom_path(examroom), class: 'btn btn-default btn-xs',
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
            examroom_path(examroom),
            method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
            class: 'btn btn-xs btn-default', 
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<%- model_class = Examroom -%>

<div class="container col-xs-12 col-sm-10 col-md-8 affix">
  <div class="btn-toolbar pull-right" role="toolbar" arial-label="toolbar">
    <div class="btn-group" role="btn-group" arial-label="manage">
      <%= link_to t('.new', default: t("helpers.links.new")), 
        new_examroom_path,
        class: 'btn btn-default', 
        tabindex: 21,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.new', default: [:"helpers.titles.new"], model: model_class.model_name.human.titleize) %>
    </div>
    <div class="btn-group" role="btn-group" arial-label="navigation">
      <%= link_to t('.up', :default => t("helpers.links.up")), 
        classroom_url(@classroom),
        class: 'btn btn-default',
        tabindex: 80,
        "data-toggle": "tooltip",
        "data-placement": "bottom",
        title: t('.back', default: t("helpers.titles.back"), :model => t("activerecord.models.classroom"))
      %>
      <%= link_to t('.retreat', default: t("helpers.links.retreat")), 
        :back, 
        class: 'btn btn-default', 
        tabindex: 81,
        "data-toggle": "tooltip", 
        "data-placement": "bottom", 
        title: t('.retreat', default: [:"helpers.titles.retreat"]) %>
    </div>
  </div>
</div>

<div class="page-header">
  <h3><%= @classroom.name %><small> 的 </small><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:paper_id) %></th>
      <th><%= model_class.human_attribute_name(:isactive) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @examrooms.each do |examroom| %>
      <tr>
        <td><%= examroom.id %></td>
        <td><%= examroom.user.name %></td>
        <td><%= link_to examroom.paper.title, examroom_path(examroom) %></td>
        <td><%= examroom.isactive %></td>
        <td><%= examroom.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
            edit_examroom_path(examroom), class: 'btn btn-default btn-xs',
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.edit', default: [:"helpers.titles.edit"], model: model_class.model_name.human.titleize) %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
            examroom_path(examroom),
            method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
            class: 'btn btn-xs btn-default', 
            "data-toggle": "tooltip", 
            "data-placement": "bottom", 
            title: t('.delete', default: [:"helpers.titles.delete"], model: model_class.model_name.human.titleize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
