<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Depot" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "autocomplete-rails.js" %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<a class="navbar-brand" href="/">学学半</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
	          <li><%= link_to "首页", "/" %></li>
            <% if current_user %>
	            <li><%= link_to "建议", "#myModal", data: {toggle: "modal"}  %></li>
            <% end %>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <% if current_user %>
            <% if current_user.name %>
		          <li><%= link_to "我是： #{current_user.name} ", me_summary_path %></li>
	          <% else %>
	            <li><%= menu_text "#{current_user.email}" %></li>
	          <% end %>

	          <% if @point = Justice.where(evaluation_user_id: current_user.id).group(:practice_id).average(:score).values.inject(:+) %>
		          <li><%= link_to "#{@point.round(2) || 0}积分", me_point_card_path %></li>
	          <% else %>
	            <li><%= link_to " 0 积分", me_point_card_path %></li>
            <% end %>
            <% if session[:discussion_id] %>
		          <li><%= link_to "返回课堂", discussion_path(session[:discussion_id]) %></li>
            <% end %>
	          <li><%= link_to "退出登录", "/users/sign_out", method: :delete %></li>
	        <% else %>
            <li><%= link_to "注册", "/users/sign_up"  %></li>
	          <li><%= link_to "登录", "/users/sign_in"  %></li>
	        <% end %>
        </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding-top: 60px;">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
      <div class="row" style="margin-top: 20px;">
        <hr>
        <div class="col-xs-4 col-xs-offset-4 cols-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
          <footer>
            <p class="text-center">学学半&copy; 2015</p>
          </footer>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->

<!-- Modal -->
<% if current_user %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">我来给学学半提建议：</h4>
      </div>
      <div class="modal-body">
        <% @complaint = Complaint.new %>
        <% @complaint.url = request.url().to_s %>
        <% @complaint.user_id = current_user.id %>
        <%= form_for @complaint, :html => { :class => "form-horizontal complaint" } do |f| %>

    <% if @complaint.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@complaint.errors.count, "error") %> 使这个建议无法提交:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @complaint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :url, :class => 'form-control' %>
    </div>
    <%= error_span(@complaint[:url]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@complaint[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label "正文：", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'form-control', rows: 5 %>
    </div>
    <%= error_span(@complaint[:content]) %>
  </div>
  <div class="control-group">
    <%= f.label "附图：", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :picture, :class => 'form-control' %>
    </div>
    <%= error_span(@complaint[:picture_file_name]) %>
  </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "提交", :class => 'btn btn-primary' %>
<% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> 
      </div>
    </div>
  </div>
</div>
<% end %>

  </body>
</html>

